<script>
	v = {
		
		q1a:'1',
		q1b:'2',
		q2a:'1',
		q2c:'0',
		q2e:'0',
		q2g:'1',
		q2i:'0',
		q2k:'1',
		q3a:'1',
		q3c:'0',
		q3e:'1',
		q3g:'1',
		q3i:'0',
		q3k:'0',
		q4a:''There aren't many tall buildings',
		q4b:''The downtown is quite nice and there are more parks than there are here ',
		q4c:''Though transportation is a problem in Belfast" ',
		q4d:''There isn't a subway and the bus service isn't very good',
		q4e:''Transportation is much better in Barcelona'

	}
</script>

<div id="t0">
<b>1. The Concrete Jungle</b>
<p>
<b>Comparing two cities </b>
<p>
</div>

<form id="t1">
<b>1. Read this conversation then answer the questions. </b>
<p>
Amaya: Where are you from Andy?
<br>Andy: I'm from Belfast.
<br>Amaya: And you live in Barcelona now?
<br>Andy: Yes, that's right.
<br>Amaya: So, what's Belfast like? Is it very different from Barcelona?
<br>Andy: Yes, very. It rains a lot in Belfast. And Barcelona is much hotter. In Belfast the maximum in summer is usually about 22 degrees and in winter the minimum is about minus 2 or 3.
<br>Amaya: Really! The climate is better here then.
<br>Andy: Yeah, I think so. 
<br>Amaya: And is Belfast a big city like Barcelona?
<br>Andy: No, it's smaller than Barcelona. There aren't many tall buildings. The downtown is quite nice and there are more parks than there are here. Though transportation is a problem in Belfast.
 There isn't a subway and the bus service isn't very good. Transportation is much better in Barcelona.
<br>Amaya: What about prices and the cost of living? Is it cheaper in Belfast?
<br>Andy: Um, houses are cheaper. Food is about the same, but it's more expensive to eat in restaurants in Belfast. But beer is definitely cheaper in Barcelona. 
<br>Amaya: Uh huh. And is Belfast on the coast?
<br>Andy: Yes, it's on the coast and on a river, the river Lagan. It has a big port too, like Barcelona has, but the port in Belfast is smaller than the one here in Barcelona.
<br>Amaya: Belfast sounds like a nice place. So why are you living here in Barcelona?
<br>Andy: Well, I like it here, and .... this is where my girlfriend lives. 
<br>Amaya: Oh, right. That's a good reason.
<br>Andy: Yeah. I think so. 
</p>
<p>
Where is Andy from?  <input type="checkbox" name="q1a"> Belfast  <input type="checkbox" name="q1b"> Barcelona  
<br>Where does Andy live? <input type="checkbox" name="q1c"> Belfast   <input type="checkbox" name="q1d"> Barcelona  
</p>
<p>
<center>
<button oclass"eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. Read again. Are these sentences true or false? </b>
</p>
<p>
<ol>
<li>  Barcelona is hotter than Belfast. <br> 
   <input type="checkbox" name="q2a"> true  <input type="checkbox" name="q2b"> false<p> 
<li>  Barcelona is smaller than Belfast.  <br>
   <input type="checkbox" name="q2c"> true  <input type="checkbox" name="q2d"> false <p>
<li>  Transportation is better in Belfast.  <br>
   <input type="checkbox" name="q2e"> true  <input type="checkbox" name="q2f"> false <p>
<li>  It's more expensive to eat in restaurants in Belfast. <br>
   <input type="checkbox" name="q2g"> true  <input type="checkbox" name="q2h"> false <p>
<li>  Beer is cheaper in Belfast. <br>
   <input type="checkbox" name="q2i"> true  <input type="checkbox" name="q2j"> false <p>
<li>  Andy likes living in Barcelona.  <br>
   <input type="checkbox" name="q2k"> true  <input type="checkbox" name="q2l"> false <p>    
</ol>
</p>
<p>
<center>
<button class"eval" data-target="t2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p> 
<b>3. Read again. Which city do the sentences refer to? </b>
<ol>
<li> It rains a lot.  <input type="checkbox" name="q3a"> Belfast <input type="checkbox" name="q3b"> Barcelona 
<li> It has a hot climate.  <input type="checkbox" name="q3c"> Belfast  <input type="checkbox" name="q3d"> Barcelona 
<li> There aren't many tall buildings. <input type="checkbox" name="q3e"> Belfast  <input type="checkbox" name="q3f"> Barcelona 
<li> There isn't a subway.  <input type="checkbox" name="q3g"> Belfast  <input type="checkbox" name="q3h"> Barcelona 
<li> It has a bigger port. <input type="checkbox" name="q3i"> Belfast  <input type="checkbox" name="q3j"> Barcelona 
<li> Andy's girlfriend lives there. <input type="checkbox" name="q3k"> Belfast  <input type="checkbox" name="q3l"> Barcelona 
</ol>
</p>
<p> 
<center>
<button class"eval" data-target="t3">Check answers</button>
</center>
</p>
</form>
<form id="t4">
<p>
<b>4. Put the words in order to make the sentences.</b>
</p>
<p>
<ol>
<li> tall aren't There buildings many.<br>
<input size=40 name="q4a">.<p>
<li> downtown quite there is nice are and are The more parks than  here there.<br>
<input size=75 name="q4b">.<p>
<li> problem transportation Belfast is a Though in. <br>
<input size=40 name="q4c">.<p>
<li> the very isn`t a good subway and bus There service isn't. <br>
<input size=70 name="q4d">.<p>
<li> is in much Barcelona better Transportation. <br>
<input size=40 name="q4e">.<p>
</ol>
</p>
<button class"eval" data-target="t4">Check answers</button>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>
