<div id="t0">
<b>1. The Concrete Jungle</b>
<p>
<b> Describing where places are </b>
<p>
</div>

<div id="t1">
<b>1.  Select and drag the questions into the boxes.</b>
<p>
A: Hi, my name's Jim.<br>
B:Hello. I'm Karl.
A: <input size=20 name="q1a">?<br>
B: I'm from Australia.
A: Oh really? <input size=20 name="q1b">? <br>
B A place called Brisbane. <input size=20 name="q1c">?<br>
A: No. I only know where Sydney is, more or less. <input size=20 name="q1d">?<br> 
B: No, it isn't. It's in the north of Australia. It's on the east coast, at the bottom of the state of Queensland. It's the capital, in fact.<br>
A: Oh, I see. Is it a nice place? <input size=20 name="q1e">?
B: It is nice. It's a fairly big city, built on a river. It's nearly in the tropics so it's very hot in summer.<p>
<table cellpadding=5 cellspacing=5 bgcolor=#ffbc90>
<tr><td>What's it like</td><td>Where are you from</td></tr>
<tr><td>Where in Australia</td><td>Is it near Sydney</td></tr>
<tr><td>Do you know where that is</td><td></td></tr>
</table>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Match the questions to the answers.</b>
<p>
<table cellpadding=5 cellspacing=5>
<tr><td>a) Where are you from?</td><td>1. <input size=1 name="q2a" maxlength=1> No, I don't</td></tr>
<tr><td>b) Whereabouts in Spain?</td><td>2. <input size=1 name="q2b" maxlength=1> No, it isn't. It's near Barcelona</td></tr>
<tr><td>c) Do you know where that is?</td><td>3. <input size=1 name="q2c" maxlength=1> A place called Sitges.</td></tr>
<tr><td>d) Is it near Madrid? </td><td>4. <input size=1 name="q2d" maxlength=1> It's a nice town on the coast.</td></tr>
<tr><td>e) What is it like?</td><td>5. <input size=1 name="q2e" maxlength=1> I'm from Spain.</tr>
</table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
</div>

<div id="z1">
</div>

<div id="z2">
</div>