<div id="t0">
<b>3. Work it Out</b>
<p>
<b><i>For</i> and <i>since</i></b>
<p>
</div>

<form id="t1">
<b>1. <i>For</i> and <i>since</i>.
<p>
Put the words in order to make sentences.</b>
</p>
<p>
<ol>
<li>has lived since 1974 Gloria in Australia
<br><input size=50 name="q1a">.<p>
<li>known Ruth for a has sister her months few.
<br><input size=50 name="q1b">.<p>
<li>a lot They spoken together have since Ted Ruth found.
<br><input size=50 name="q1c">.<p>
<li>each other for haven't The fifty sisters seen over years.
<br><input size=50 name="q1d">.<p>
<li>since she Gloria has visited six Bristol started search her times.
<br><input size=50 name="q1e">.<p>
</p>
<p>
</ol>
<center>
<button onclick=class"eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. Look at the sentences in exercise 6 again. What is the difference between for and since? Choose the correct possibility below.</b>
</p>
<p>
<input type="checkbox" name="q2a">  Use <b>for</b> + recent actions. Use <b>since</b> + actions that happened a long time ago 
<br><input type="checkbox" name="q2b">  Use <b>for</b> + a period of time. Use <b>since</b> + a point in time when an action starts  
<br><input type="checkbox" name="q2c">  Use <b>for</b> + long actions. Use <b>since</b> + short actions 
</p>
<p>
<center>
<button class"eval" data-target="t2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b>3. Complete the following questions with either for or since.</b>
</p>
<p>
<ol>
<li> I haven't been to the movies <select name="q3a">
<option value="x">Choose Answer
<option value="1">for
<option value="2">since
</select> ages.  
<li> They've lived in the same house  <select name="q3b">
<option value="x">Choose Answer
<option value="1">for
<option value="2">since
</select> they got married.  
<li> We've been students together  <select name="q3c">
<option value="x">Choose Answer
<option value="1">for
<option value="2">since
</select> a couple of weeks.  
<li> He's had the same job  <select name="q3d">
<option value="x">Choose Answer
<option value="1">for
<option value="2">since
</select> 1982.  
<li> I haven't been to that restaurant  <select name="q3e">
<option value="x">Choose Answer
<option value="1">for
<option value="2">since
</select> the last time you were here.  
<li> I feel really tired. I've been working  <select name="q3f">
<option value="x">Choose Answer
<option value="1">for
<option value="2">since
</select> too long.  
<li> He's been in the meeting  <select name="q3g">
<option value="x">Choose Answer
<option value="1">for
<option value="2">since
</select> 2:30 p.m.  
<li> They haven't seen each other  <select name="q3h">
<option value="x">Choose Answer
<option value="1">for
<option value="2">since
</select> months.  
</ol>
</p>

<button class"eval" data-target="t3">Check answers</button>
</form>


<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


 
