
<div id="t0">
<b>8. Gossip</b>
<p>
<b> Famous people </b>
<p>
</div>

<form id="t1">
<b>1. Who are these people? Which fact about them is not true?</b>
<p>
<table cellpadding=5 cellspacing=5 width=550>
<tr><td><img src="u8a1.jpg">
<select name="q1a">
<option value="x">Choose Answer
<option value="1">Marilyn Monroe
<option value="2">James Dean
<option value="3">Buddy Holly
<option value="4">John Lennon
</select>
</td><td><input type="checkbox" name="q1b"> He was an actor.<br> <input type="checkbox" name="q1c"> He made eight films before he died.<br>  <input type="checkbox" name="q1d"> He died in a car crash.<br>  <input type="checkbox" name="q1e"> He was 24 when he died 
</td></tr>


<tr><td><img src="u8a2.jpg">
<select name="q1f">
<option value="x">Choose Answer
<option value="1">Marilyn Monroe
<option value="2">James Dean
<option value="3">Buddy Holly
<option value="4">John Lennon
</select>
</td><td> <input type="checkbox" name="q1g"> She worked in a bank before she was an actress.<br>   <input type="checkbox" name="q1h"> She married the baseball player Jo DiMaggio.<br>   <input type="checkbox" name="q1i"> She married the writer Arthur Miller.<br> <input type="checkbox" name="q1j"> She committed suicide. 
</td></tr>


<tr><td><img src="u8a3.jpg">
<select name="q1k">
<option value="x">Choose Answer
<option value="1">Marilyn Monroe
<option value="2">James Dean
<option value="3">Buddy Holly
<option value="4">John Lennon
</select>
</td><td> <input type="checkbox" name="q1l"> He was American.<br> <input type="checkbox" name="q1m"> He was born in 1940.<br>   <input type="checkbox" name="q1n"> He died in New York in 1980.<br>   <input type="checkbox" name="q1o"> He was one of the Beatles. 
</td></tr>


<tr><td><img src="u8a4.jpg">
<select name="q1p">
<option value="x">Choose Answer
<option value="1">Marilyn Monroe
<option value="2">James Dean
<option value="3">Buddy Holly
<option value="4">John Lennon
</select>
</td><td><input type="checkbox" name="q1q"> He was born in London in 1938.<br>   <input type="checkbox" name="q1r"> His real name was Charles Hardin Holley.<br>  <input type="checkbox" name="q1s"> His group was called "The Crickets".<br> <input type="checkbox" name="q1t"> He died in a plane crash at the age of 22. 
</td></tr>
</table>
</p>
<p>
<center>
<button class"eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. What do the four people have in common?</b>
</p>
<p>
<ol>
<li><input type="checkbox" name="q2a">They were singers. 
<li><input type="checkbox" name="q2b">They were actors. 
<li><input type="checkbox" name="q2c">They died in tragic circumstances. 
</p>
<p>
<button class"eval" data-target="t2">Check answers</button>
</form>



</div>

<div id="z1">
</div>

<div id="z2">
</div>

 
