<div id="t0">
<b>8. Gossip</b>
<p>
<b>A good luck story  </b>
<p>
</div>

<div id="t1">
<b>1. You are going to listen to a story. But first, check you know the meaning of these words</b>
<p>
<table cellpadding=5 cellspacing=5 width=550>
<tr><td>
<ol>
<li> flat tire 
<li> tire
<li> spare tire
<li> tools 
</td><td><img src="u8b1.jpg"></td></tr>
</table>
<p>
<b><a href="sound/u8b.ra">2. Now listen to the story.<img src="listen.jpg" border=0></a> Then put the pictures in the right order.</b>
<p>
<center>
<img src="u8b2.jpg">
<p>
<ol>
<li><input size=1 maxlength=1 name="q2a">
<li><input size=1 maxlength=1 name="q2b">
<li><input size=1 maxlength=1 name="q2c">
<li><input size=1 maxlength=1 name="q2d">
<li><input size=1 maxlength=1 name="q2e">
</ol>
</center>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Listen again and say if these sentences are true or false.</b>
<p>
<ol>
<li> The doctor didn't have a spare tire.
<br>
<select name="q3a">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
<p>
<li> The man stopped and helped him change the tire. 
<br>
<select name="q3b">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
<p>
<li> The man wanted money. 
 <br>
<select name="q3c">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
<p>
<li> The man took the doctor's tools and wine. 
<br>
<select name="q3d">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
<p>
<li> The man gave the doctor a lottery ticket. 
<br>
<select name="q3e">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
<p>
<li> The lottery ticket won first prize. 
<br>
<select name="q3f">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
<p>
<li> The doctor collected the money. 
<br>
<select name="q3g">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
<p>
<li> The man was sorry that he took the doctor's things. 
<br>
<select name="q3h">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
<p>
<li> The doctor told reporters "I am not a thief." 
<br>
<select name="q3i">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
<p>
</ol>

<center>
<button onclick="k3()">Check answers</button>
</center>


<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>


 
