$nafGreen = #9ac00a
$txtContGreen = #95b60f
$spanNewAmerican = #116323				


body
	margin 0
	padding 0
	background-color $nafGreen
	#section1
		> img
			padding 20px 30px
	#cont 
		background #FFFFFF	
		min-height 500px
		td
			padding 0 3px
		select
			width auto
			margin 5px
		#part1
			position: absolute
			top: 182px
			left: 100px 
			p
				font-family inherit
				font-size	20px  		
				color $txtContGreen
				text-align center
				top 350px
				span
					color $spanNewAmerican
		.hello
			width	200px
			height	52px
			margin-top 10px
			margin-left -4px
	 	#quest
	 		display block
			position relative
			margin-left 0
			margin 0
			font-family verdana
			font-size 18px
			top 18px
			color #9fa437
			text-align left
		#read	
			display block
			position relative
			margin-left 0
			margin 0
			top: 30px
			font-size 14px
		#tabla
			display block
			position relative
			width 720px
			height 270px
			margin 0
			margin-left 0
			top 50px
			left 100px
		.boton
			font-size 15px
			font-family arial
			margin 0
		.resp		
			padding-left 120px
		.eval
			display block
			margin 0 auto 1.25rem
			border-radius 20px
		#lang
			display block
			position relative
			color #9fa437
			font-family verdana
			font-size 18px
			margin 0
			top 10px
		#adje
			margin: 0;
			font-family arial
			margin-top 17px
			font-size 14px
		#mexican
			display block
			position relative
			margin: 0px
			font-family arial
			font-size 14px
			color #ff0000
			top 4px
		#there		
			margin 0
			position relative
			top 11px
			font-family arial
			font-size 14px
		#ones
			display block
			position relative
			margin 0px
			font-size 14px
			font-family arial
			top 21px
		.r1
			color #ff0000
			font-size 14px
			font-family 14px	
		#comp		
			position: relative;
			top: 27px;
			font-family: arial;
			font-size: 14px;
			margin 0px
		#place
			position relative
			top 13px
			font-family arial
			font-size 14px	
		#boton1
			display block
			position relative
			margin 0
			border-radius 10px
			top 3px
			left 290px		
		#t2
			display block
			position relative
			font-family arial
			font-size 14px
			margin 0	
			top 10px	

		#tabla1
			display block
			position relative
			top -4px
			left 130px
			font-size 14px
			font-family arial
		#boton2
			margin 0
			top -9px
			display block
			position relative
			left 305px
			border-radius 10px
			







