$nafGreen = #9ac00a
$txtContGreen = #95b60f
$spanNewAmerican = #116323				


body
	margin 0
	padding 0
	background-color $nafGreen
	#section1
		> img
			padding 20px 30px
	#cont
		background #fff
		min-height 500px
		#part1
			position: absolute
			top: 182px
			left: 100px 
		p
			font-family inherit
			font-size	20px  		
			color $txtContGreen
			text-align center
			top 350px
			span
				color #116323
