section
	+choose_answer(,"do you do?","I'm a teacher.")
	+choose_answer(,"does she live?","In an apartment in San Francisco.")
	+choose_answer(,"is your birthday?","It's on June 11th.")
	+choose_answer(,"do you go to work?","I go by bus.")
	+choose_answer(,"is that man?","I think it's John's brother.")
	+choose_answer(,"are you?","Fine, thanks.")
	+choose_answer(,"do you live in Chicago?","Because I work there.")
	+choose_answer(,"is your name?","Kate.")