table
	+td_input("Edward is Robert's")
	+td_input("Tatiana is Caroline's")
	+td_input("Joseph is John's")
	+td_input("Jacqueline is Kara's")
	+td_input("Virginia is Max's")
	+td_input("Jacqueline is John's")
	+td_input("Grace is Tatiana's")
	+td_input("Kara is John's")
	+td_input("Robert is Virginia's")
	+td_input("Edward is Michael's")
	+td_input("Joseph is Max's")
	+td_input("Grace is Joseph's")
	+td_input("This person works in a school.")
	+td_input("In this job you help people who are ill.")
	+td_input("To do this job you need to have a car.")
	+td_input("In this job you sell things to people.")
	+td_input("If you do this job you spend a lot of time on a plane.")
	+td_input("In this job you work in a cafe or restaurant.")