<div id="t1">
	<img src="im/t-u1.jpg">
	<span id="tit">Question words</span>
	<b>1. Read the questions and answers. Choose the correct question word to complete the questions. </b>
	<table cellpadding=0 cellspacing=10>
		<tr>
			<td>
				1<select name="q1a">
					<option value=0>Choose Answer</option>
					<option value=1>Who</option>
					<option value=2> What</option>
					<option value=3>How</option>
				</select>
				do you do?
			</td>
			<td> I'm a teacher.</td>
		</tr>
<tr><td>
2  <select name="q1b">
<option value=0>Choose Answer
<option value=1>Where
<option value=2>When
<option value=3>What
</select>
does she live?
</td><td> In an apartment in San Francisco.</td></tr>
<tr><td>
3  <select name="q1c">
<option value=0>Choose Answer
<option value=1>What
<option value=2>When
<option value=3>How
</select>
is your birthday?
</td><td> It's on June 11th.</td></tr>
<tr><td>
4  <select name="q1d">
<option value=0>Choose Answer
<option value=1>How
<option value=2>When
<option value=3>Why
</select>
do you go to work?
</td><td> I go by bus.</td></tr>
<tr><td>
5  <select name="q1e">
<option value=0>Choose Answer
<option value=1>Where
<option value=2>How
<option value=3>Who
</select>
is that man?
</td><td> I think it's John's brother.</td></tr>
<tr><td>
6  <select name="q1f">
<option value=0>Choose Answer
<option value=1>Who
<option value=2>Where
<option value=3>How
</select>
are you?
</td><td> Fine, thanks.</td></tr>
<tr><td>
7  <select name="q1g">
<option value=0>Choose Answer
<option value=1>Why
<option value=2>Where
<option value=3>How
</select>
do you live in Chicago?
</td><td> Because I work there.</td></tr>
<tr><td>
8  <select name="q1h">
<option value=0>Choose Answer
<option value=1>Who
<option value=2>What
<option value=3>How
</select>
is your name?
</td><td> Kate.</td></tr>
</table>  
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
</div>

<div id="z1">
</div>