<div id="t1">
<img src="img/t-u1.jpg">
<p>
<span id="tit">Languages /Adjectives of Place</span>
<p>
<b>1. Adjectives of Place</b> 
<p>
<span id="r1">
Mexican food is on the menu.<br>
Mexican = from Mexico 
</span>
<p>
There are different types of Adjectives of Place;
<p>
ones that end with <span id="r1">-<b>an</b> Mexican (from Mexico)</span><br>
ones that end with <span id="r1">-<b>ish</b> Spanish (from Spain)</span><br>
ones that end with <span id="r1">-<b>ese</b> Japanese (from Japan)</span><br>
irregular <span id="r1">ones Thai (from Thailand)</span>
<p>
Complete the table of <b>Place</b> and <b>Adjective</b>.
<p>
<center>
<table cellpadding=3 cellspacing=0 border=0>
<tr><td bgcolor="#ffcc00" align="center">Place</td><td bgcolor="#ffcc00" align="center">Adjective</td></tr>
<tr><td bgcolor="#ffffcc" align="center">Mexico</td><td bgcolor="#ffffcc" align="center">Mexican</td></tr>
<tr><td align="center">Australia</td><td><sub>1</sub><input type="text" name="q1a" size=12></td></tr>
<tr><td align="center">Brazil</td><td><sub>2</sub><input type="text" name="q1b" size=12></td></tr>
<tr><td align="center">America</td><td><sub>3</sub><input type="text" name="q1c"  size=12></td></tr>
<tr><td><sub>4</sub><input type="text" name="q1d" size=12></td><td align="center">European</td></tr>
<tr><td><sub>5</sub><input type="text" name="q1e" size=12></td><td align="center">Canadian</td></tr>
<tr><td align="center">Italy</td><td><sub>6</sub><input type="text" name="q1f" size=12></td></tr>
<tr><td align="center">Korea</td><td><sub>7</sub><input type="text" name="q1g" size=12></td></tr>
<tr><td align="center">Africa</td><td><sub>8</sub><input type="text" name="q1h" size=12></td></tr>
<tr><td><sub>9</sub><input type="text" name="q1i" size=12></td><td align="center">Russian</td></tr>
<tr><td bgcolor="#ffffcc" align="center">Spain</td><td bgcolor="#ffffcc" align="center">Spanish</td></tr>
<tr><td align="center">Britain</td><td><sub>10</sub><input type="text" name="q1j" size=12></td></tr>
<tr><td><sub>11</sub><input type="text" name="q1k" size=12></td><td align="center">Irish</td></tr>
<tr><td><sub>12</sub><input type="text" name="q1l" size=12></td><td align="center">Scottish</td></tr>
<tr><td align="center">Poland</td><td><sub>13</sub><input type="text" name="q1m" size=12></td></tr>
<tr><td><sub>14</sub><input type="text" name="q1n" size=12></td><td align="center">Danish</td></tr>
<tr><td bgcolor="#ffffcc" align="center">Japan</td><td bgcolor="#ffffcc" align="center">Japanese</td></tr>
<tr><td align="center">China</td><td><sub>15</sub><input type="text" name="q1o" size=12></td></tr>
<tr><td><sub>16</sub><input type="text" name="q1p" size=12></td><td align="center">Vietnamese</td></tr>
<tr><td bgcolor="#ffffcc" align="center">Thailand</td><td bgcolor="#ffffcc" align="center">Thai</td></tr>
<tr><td align="center">Greece</td><td><sub>17</sub><input type="text" name="q1q" size=12></td></tr>
<tr><td><sub>18</sub><input type="text" name="q1r" size=12></td><td align="center">French</td></tr>
<tr><td><sub>19</sub><input type="text" name="q1s" size=12></td><td align="center">German</td></tr>
</table>
</center>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>

<p>
<b>2. Now read these words. Are they places or adjectives?</b> 
<p>
<table cellpadding=3 cellspacing=0 border=0>
<tr><td bgcolor="#ffffcc">1. Brazilian</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2a"> adjective <input type="checkbox" name="q2b" value=2></td><td bgcolor="#ffffcc">10. Germany</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2s"> adjective <input type="checkbox" name="q2t"></td></tr>
<tr><td bgcolor="#ffffcc">2. Italy</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2c"> adjective <input type="checkbox" name="q2d" value=2></td><td bgcolor="#ffffcc">11. French</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2v"> adjective <input type="checkbox" name="q2w"></td></tr>
<tr><td bgcolor="#ffffcc">3. Australia</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2e"> adjective <input type="checkbox" name="q2f" value=2></td><td bgcolor="#ffffcc">12. European</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2x"> adjective <input type="checkbox" name="q2y"></td></tr>
<tr><td bgcolor="#ffffcc">4. Italian</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2g"> adjective <input type="checkbox" name="q2h" value=2></td><td bgcolor="#ffffcc">13. British</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2z"> adjective <input type="checkbox" name="q2aa"></td></tr>
<tr><td bgcolor="#ffffcc">5. Irish</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2i"> adjective <input type="checkbox" name="q2j" value=2></td><td bgcolor="#ffffcc">14. Canadian</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2ab"> adjective <input type="checkbox" name="q2ac"></td></tr>
<tr><td bgcolor="#ffffcc">6. Japanese</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2k"> adjective <input type="checkbox" name="q2l" value=2></td><td bgcolor="#ffffcc">15. China</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2ad"> adjective <input type="checkbox" name="q2ae"></td></tr>
<tr><td bgcolor="#ffffcc">7. Scotland</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2m"> adjective <input type="checkbox" name="q2n" value=2></td><td bgcolor="#ffffcc">16. Greece</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2af"> adjective <input type="checkbox" name="q2ag"></td></tr>
<tr><td bgcolor="#ffffcc">8. German</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2o"> adjective <input type="checkbox" name="q2p" value=2></td><td bgcolor="#ffffcc">17. Greek</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2ah"> adjective <input type="checkbox" name="q2ai"></td></tr>
<tr><td bgcolor="#ffffcc">9. France</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2q"> adjective <input type="checkbox" name="q2r" value=2></td><td bgcolor="#ffffcc">18. Europe</td><td bgcolor="#ffcc99" align="center">place <input type="checkbox" name="q2aj"> adjective <input type="checkbox" name="q2ak"></td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>