
<div id="t1">
<img src="img/t-u2.jpg">
<p>
<span id="tit">Family members</span>
<p>
<b>1. Look at part of the family tree of this famous family. Can you guess the family's last name?</b> 
<p>
<img src="img/u2-a.jpg">
<p>
(m = married to)
<p>
<span id="bl">Clue 1. It's a famous American family.</span>
<p>
<table cellpadding=4 cellspacing=0>
<tr><td>Family's last name:</td><td><input type="text" name="q1a" size=12></td><td><button onclick="k1()">Check answers</button></td></tr>
</table>
<p>
<b>2. Family Relations. Use the information in the family tree in exercise 1 to complete the following sentences.</b>
<p>
<table cellpadding=0 cellspacing=0 border=2 bordercolor="#009999">
<tr><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99" align="center"><b>Your Answer</b></td></tr>
<tr><td bgcolor="#ffcc99"width=170>1 Edward is Robert's</td><td bgcolor="#ffcc99" width=130 align="center"><input type="text" name="q2a" size=12></td></tr>
<tr><td bgcolor="#ffcc99">2 Tatiana is Caroline's</td><td bgcolor="#ffcc99"align="center"><input type="text" name="q2b" size=12></td></tr>
<tr><td bgcolor="#ffcc99">3 Joseph is John's</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2c" size=12></td></tr>
<tr><td bgcolor="#ffcc99">4 Jacqueline is Kara's</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2d" size=12></td></tr>
<tr><td bgcolor="#ffcc99">5 Virginia is Max's</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2e" size=12></td></tr>
<tr><td bgcolor="#ffcc99">6 Jacqueline is John's</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2f" size=12></td></tr>
<tr><td bgcolor="#ffcc99">7 Grace is Tatiana's</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2g" size=12></td></tr>
<tr><td bgcolor="#ffcc99">8 Kara is John's</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2h" size=12></td></tr>
<tr><td bgcolor="#ffcc99">9 Robert is Virginia's</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2i" size=12></td></tr>
<tr><td bgcolor="#ffcc99">10 Edward is Michael's</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2j" size=12></td></tr>
<tr><td bgcolor="#ffcc99">11 Joseph is Max's</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2k" size=12></td></tr>
<tr><td bgcolor="#ffcc99">12 Grace is Joseph's</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2l" size=12></td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Look at the groups of words below. Which one is different in each question and why?</b>
<p>
<table cellpadding=2 cellspacing=0>
<tr><td>1 <input type="checkbox" name="q3a"> aunt</td><td><input type="checkbox" name="q3b"> sister-in-law</td><td><input type="checkbox" name="q3c"> husband</td><td><input type="checkbox" name="q3d"> niece</td></tr>
<tr><td>2 <input type="checkbox" name="q3e"> grandmother</td><td><input type="checkbox" name="q3f"> brother</td><td><input type="checkbox" name="q3g"> wife</td><td><input type="checkbox" name="q3h"> father</td></tr>
<tr><td>3 <input type="checkbox" name="q3i"> uncle</td><td><input type="checkbox" name="q3j"> brother</td><td><input type="checkbox" name="q3k"> aunt</td><td><input type="checkbox" name="q3l"> grandson</td></tr>
<tr><td>4 <input type="checkbox" name="q3m"> nephew</td><td><input type="checkbox" name="q3n"> cousin</td><td><input type="checkbox" name="q3o"> brother</td><td><input type="checkbox" name="q3p"> mother</td></tr>
<tr><td>5 <input type="checkbox" name="q3q"> father-in-law</td><td><input type="checkbox" name="q3r"> stepbrother</td><td><input type="checkbox" name="q3s">  father</td><td><input type="checkbox" name="q3t"> husband</td></tr>
<tr><td>6 <input type="checkbox" name="q3v"> grandfather</td><td><input type="checkbox" name="q3w"> son</td><td><input type="checkbox" name="q3x"> mother</td><td><input type="checkbox" name="q3y"> uncle</td></tr>
</table>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>