
<form id="t1">
<img src="img/t-u2.jpg">
<p>
<span id="tit">A job description </span>
</p>
<b>1. What job does the text below describe?</b> 
<p>
<table cellpadding=5 cellspacing=2 border=1>
<tr><td bgcolor="#ffffcc" width=450>"I don't get up very early because in my job I often work in the afternoon and evening.
 I suppose I usually get up about 9:30 a.m. or sometimes even 10:00 a.m. I have breakfast and get ready for work.
 I go to work at about 12:00 and I usually arrive about half an hour later at about 12:30 p.m.
 Lunch is free&#151;that's one of the good things about my work! 
I have lunch at about 2:00 p.m. with some of the other people who work there. 
My work starts in the middle of the afternoon, when it's usually very quiet. The place starts to get busy at about 7:30 a.m.
 and that's when I do most of my work. I finish work very late&#151;at about 11:30 p.m. on a normal day.
 I'm always hungry then so I have dinner at work. There's always some food that hasn't been sold that we can eat. 
I go home at about 12:00 a.m. I don't like to go to bed immediately so I watch TV for half an hour, 
so it's usually about 1:00 a.m. before I fall asleep."</td></tr>
<tr><td bgcolor="#ffffcc" align="center"><select name="q1a"><option value=0>Choose Answer<option value=1>salesperson<option value=2>waiter<option value=3>secretary</select>&#160; &#160; <button class"eval" data-target="t1">Check answer</button></td></tr>
</table>
</p>
</form>
<form id="t2">
<p>
<b>2. Answers the questions about the person in exercise 1 true or false.</b>
</p>
<b>1</b> She doesn't get up very early.<br>
<table cellpadding=2 cellspacing=0>
<tr><td width=20></td><td><input type="checkbox" name="q2a"> true</td><td><input type="checkbox" name="q2b"> false</td></tr>
</table>
<b>2</b> She has breakfast at home.<br>
<table cellpadding=2 cellspacing=0>
<tr><td width=20></td><td><input type="checkbox" name="q2c"> true</td><td><input type="checkbox" name="q2d"> false</td></tr>
</table>
<b>3</b> She has lunch before she goes to work.<br>
<table cellpadding=2 cellspacing=0>
<tr><td width=20></td><td><input type="checkbox" name="q2e"> true</td><td><input type="checkbox" name="q2f"> false</td></tr>
</table>
<b>4</b> She has lunch at about 2:30 p.m.<br>
<table cellpadding=2 cellspacing=0>
<tr><td width=20></td><td><input type="checkbox" name="q2g"> true</td><td><input type="checkbox" name="q2h"> false</td></tr>
</table>
<b>5</b> She has dinner at work.<br>
<table cellpadding=2 cellspacing=0>
<tr><td width=20></td><td><input type="checkbox" name="q2i"> true</td><td><input type="checkbox" name="q2j"> false</td></tr>
</table>
<b>6</b> She goes home after dinner.<br>
<table cellpadding=2 cellspacing=0>
<tr><td width=20></td><td><input type="checkbox" name="q2k"> true</td><td><input type="checkbox" name="q2l"> false</td></tr>
</table>
<b>7</b> She doesn't watch TV when she arrives home.<br>
<table cellpadding=2 cellspacing=0>
<tr><td width=20></td><td><input type="checkbox" name="q2m"> true</td><td><input type="checkbox" name="q2n"> false</td></tr>
</table>
<b>8</b> She goes to bed late.<br>
<table cellpadding=2 cellspacing=0>
<tr><td width=20></td><td><input type="checkbox" name="q2o"> true</td><td><input type="checkbox" name="q2p"> false</td></tr>
</table>
</p>
<button class="eval" data-target="t2">Check answers</button>
</form>
<form class="t3">
<p>
<b>3. Here is the text from exercise 1 again. Complete the text with the correct expressions.</b>
</p>
<table cellpadding=5 cellspacing=2 border=1>
<tr><td bgcolor="#ffffcc" width=500>"I don't <sub>1</sub><input type="text" name="q3a" size=3> <sub>2</sub> 
<input type="text" name="q3b" size=2> 
(1) very early because in my job I often work in the afternoon and evening.
 I suppose I usually <sub>3</sub><input type="text" name="q3c" size=3> <sub>4</sub><input type="text" name="q3d" size=2> (2) about 9:30 a.m.
 or sometimes even 10:00 a.m. 
I <sub>5</sub><input type="text" name="q3e" size=4> <sub>6</sub><input type="text" name="q3f" size=9> (3) and get ready for work.
 I <sub>7</sub><input type="text" name="q3g" size=2> <sub>8</sub><input type="text" name="q3h" size=2> <sub>9</sub>
<input type="text" name="q3i" size=4> (4) at about 12:00 and I usually arrive about half an hour later at about 12:30 p.m. 
Lunch is free&#151;that's one of the good things about my work! I <sub>10</sub><input type="text" name="q3j" size=4> 
<sub>11</sub><input type="text" name="q3k" size=5> (5) at about 2:00 p.m. with some of the other people who work there.
<p>My work starts in the middle of the afternoon, when it's usually very quiet. 
The place starts to get busy at about 7:30 a.m. and that's when I do most of my work. I <sub>12</sub>
<input type="text" name="q3l" size=6> <sub>13</sub><input type="text" name="q3m" size=4> (6) very late&#151;at about 11:30 p.m. on a normal day.
 I'm always hungry then so I <sub>14</sub><input type="text" name="q3n" size=4> <sub>15</sub>
<input type="text" name="q3o" size=6> (7) at work. There's always some food that hasn't been sold that we can eat. 
I <sub>16</sub><input type="text" name="q3p" size=2> <sub>17</sub><input type="text" name="q3q" size=4> (8) at about 12:00 a.m. 
I don't like to <sub>18</sub><input type="text" name="q3r" size=2> <sub>19</sub><input type="text" name="q3s" size=2> 
<sub>20</sub><input type="text" name="q3t" size=3> (9) immediately so I <sub>21</sub><input type="text" name="q3v" size=5>
 <sub>22</sub><input type="text" name="q3w" size=2> (10) half an hour, so it's usually about 1:00 a.m. before I fall asleep."</td></tr>
</table>
<button class="eval" data-target="t3">Check answers</button>
</form>


<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>