
<form id="t1">
<img src="img/t-u10.jpg">
<p>
<span id="tit">Questions</span>
</p>
<b>1. Are the questions below grammatically correct?</b>
<p>
<table cellpadding=0 cellspacing=4>
<tr><td></td><td></td><td width=50></td><td align="center">Grammatically... </td></tr>
<tr><td width=20>1</td><td> Where do you come from?</td><td></td><td><input type="checkbox" name="q1a"> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="checkbox" name="q1b">... incorrect</td></tr>
<tr><td>2</td><td> Where John lives?</td><td></td><td><input type="checkbox" name="q1c"> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="checkbox" name="q1d">... incorrect</td></tr>
<tr><td>3</td><td> What is your name?</td><td></td><td><input type="checkbox" name="q1e"> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="checkbox" name="q1f">... incorrect</td></tr>
<tr><td>4</td><td> What do she have for breakfast?</td><td></td><td><input type="checkbox" name="q1g"> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="checkbox" name="q1h">... incorrect</td></tr>
<tr><td>5</td><td> Do you like London?</td><td></td><td><input type="checkbox" name="q1i"> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="checkbox" name="q1j">... incorrect</td></tr>
<tr><td>6</td><td> Do you can swim?</td><td></td><td><input type="checkbox" name="q1k"> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="checkbox" name="q1l">... incorrect</td></tr>
<tr><td>7</td><td> How do you travel to work?</td><td></td><td><input type="checkbox" name="q1m"> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="checkbox" name="q1n">... incorrect</td></tr>
<tr><td>8</td><td> How does he gets to work?</td><td></td><td><input type="checkbox" name="q1o"> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="checkbox" name="q1p">... incorrect</td></tr>
<tr><td>9</td><td> What can you see in space?</td><td></td><td><input type="checkbox" name="q1q"> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="checkbox" name="q1r">... incorrect</td></tr>
<tr><td>10</td><td> Do Anna live in Singapore?</td><td></td><td><input type="checkbox" name="q1s"> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="checkbox" name="q1t">... incorrect</td></tr>
</table>
</p>
<center>
<button clas="eval" data-target="t1">Check answers</button>
</center>
<form id="t2">
<p>
<b>2. Now correct the incorrect sentences from exercise 1.</b>
</p>
<table cellpadding=0 cellspacing=0>
<tr><td bgcolor="#ffcc99" width=15>&#160;</td><td bgcolor="#ffcc99">&#160;</td><td width=80 bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">&#160;</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">Where John lives?</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99"><input type="text" name="q2a" size=33></td><td bgcolor="#ffcc99">?</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">What do she have for breakfast?</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99"><input type="text" name="q2b" size=33></td><td bgcolor="#ffcc99">?</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">Do you can swim?</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99"><input type="text" name="q2c" size=33></td><td bgcolor="#ffcc99">?</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">How does he gets to work?</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99"><input type="text" name="q2d" size=33></td><td bgcolor="#ffcc99">?</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">Do Anna live in Singapore?</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99"><input type="text" name="q2e" size=33></td><td bgcolor="#ffcc99">?</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">&#160;</td><td width=80 bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">&#160;</td></tr>
</table>
<p>
<center>
<button class="eval" data-target"t2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b>3. Choose the correct answer to the list</b>
</p>
<table cellpadding=0 cellspacing=10>
<tr><td>
1. What do <select name="q3a">
<option value=0>Choose Answer
<option value=1>do
<option value=2>drink 
<option value=3>you
</select>
do in the evening?</td></tr>
<tr><td>
2. How many hours <select name="q3b">
<option value=0>Choose Answer
<option value=1>do
<option value=2>you 
<option value=3>move
</select>
you sleep?</td></tr>
<tr><td>
3. How do you <select name="q3c">
<option value=0>Choose Answer
<option value=1>move
<option value=2>you 
<option value=3>speak
</select>
in the space craft.</td></tr>
<tr><td>
4. Can you <select name="q3d">
<option value=0>Choose Answer
<option value=1>start
<option value=2>to 
<option value=3>drink
</select>
alcohol?</td></tr>
<tr><td>
5. When do you return <select name="q3e">
<option value=0>Choose Answer
<option value=1>you
<option value=2>to 
<option value=3>speak
</select>
Earth?</td></tr>
<tr><td>
6. Where does space <select name="q3f">
<option value=0>Choose Answer
<option value=1>speak
<option value=2>you 
<option value=3>start
</select>
?</td></tr>
<tr><td>
7. Do <select name="q3g">
<option value=0>Choose Answer
<option value=1>you
<option value=2>to 
<option value=3>do
</select>
listen to the radio?</td></tr>
<tr><td>
8. Can you <select name="q3h">
<option value=0>Choose Answer
<option value=1>speak
<option value=2>star 
<option value=3>move
</select>
to your family?</td></tr>
</table>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</p>
</form>
<form id="t4">
<p>
<b>4. Match the questions in exercise 6 to the correct answers.</b>
</p>
<table cellpadding=0 cellspacing=6>
<tr><td colspan=2>What do you do in the evening?</td></tr>
<tr><td width=30</td><td><input type="checkbox" name="q4a">In two weeks.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4b">We talk and look out of the windows at the stars.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4c">No, but they can send messages to us.</td></tr>
<tr><td colspan=2>How many hours do you sleep?</td></tr>
<tr><td></td><td><input type="checkbox" name="q4d">About six. Generally people sleep less in space.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4e">No, we can't.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4f">About five miles high.</td></tr>
<tr><td colspan=2>How do you move arround in space?</td></tr>
<tr><td></td><td><input type="checkbox" name="q4g">No, but they can send messages to us.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4h">No, but we can listen to cassettes on a Walkman.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4i">We float from one place to another.</td></tr>
<tr><td colspan=2>Can you drink alcohol?</td></tr>
<tr><td></td><td><input type="checkbox" name="q4j">About six. Generally people sleep less in space.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4k">No, we can't.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4l">In two weeks.</td></tr>
<tr><td colspan=2>When do you return to Earth?</td></tr>
<tr><td></td><td><input type="checkbox" name="q4m">In two weeks.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4n">About five miles high.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4o">No, but we can listen to cassettes on a Walkman.</td></tr>
<tr><td colspan=2>Where does space start?</td></tr>
<tr><td></td><td><input type="checkbox" name="q4p">We float from one place to another.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4q">About five miles high.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4r">In two weeks.</td></tr>
<tr><td colspan=2>Do you listen to the radio?</td></tr>
<tr><td></td><td><input type="checkbox" name="q4s">No, we can't.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4t">No, but we can listen to cassettes on a Walkman.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4v">About five miles high.</td></tr>
<tr><td colspan=2>Can you speak to your family?</td></tr>
<tr><td></td><td><input type="checkbox" name="q4w">About five miles high.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4x">No, but they can send messages to us.</td></tr>
<tr><td></td><td><input type="checkbox" name="q4y">We float from one place to another.</td></tr>
</table>
<button class="eval" data-target="t4">Check answers</button>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>