<script>
	v = {
		q1a:2,
		q2a:1,
		q2b:1,
		q2c:0,
		q2d:0,
		q2e:1,
		q2f:1,
		q2g:0,
		q2h:1,
		q3a:'Get',
		q3b:'Up',
		q3c:'Get',
		q3d:'Up',
		q3e:'Have',
		q3f:'Breakfast',
		q3g:'Go',
		q3h:'To',
		q3i:'Work',
		q3j:'Have',
		q3k:'Lunch',
		q3l:'Finish',
		q3m:'Work',
		q3n:'Have',
		q3o:'Dinner',
		q3p:'Go',
		q3q:'Home',
		q3r:'Go',
		q3s:'To',
		q3t:'Bed',
		q3u:'Watch',
		q3v:'TV'
	}
</script>
<form id="t1">
<img src="img/t-u3.jpg">
<p>
<span id="tit">Rooms and furniture</span>
</p>
<p>
<b>1. How much do you know? Write down different rooms and items of furniture in a house.</b><br>
<table cellpadding=0 cellspacing=0>
<tr><td width=50></td><td><img src="img/u3-a.jpg"></td></tr>
</table>
</p>
<p>
<b>Compare your list with some suggested answers. How many of these words do you have on your list?</b>
</p>
<p>
<center>
<table cellpadding=0 cellspacing=0>
<tr><td><a href="#" onclick="window.open('./templates/U3At.html','_blank','width=500,height=300');"><b>see answers</b></a></td></tr>
</table>
</center>
</p>
<p>
<b>2. Can you label these pictures of a house? For each picture, write the words to the correct place number.</b>
</p>
<p>
<table cellpadding=0 cellspacing=0>
<tr><td bgcolor=98c4dd>ROOM:</td><td bgcolor=98c4dd> <input type="text" name="q2a" size=15></td><td width=50 bgcolor=98c4dd></td><td rowspan=6 bgcolor=98c4dd><img src="img/u3-a1.jpg"></td></tr>
<tr><td bgcolor=98c4dd align="right">1</td><td bgcolor=98c4dd> <input type="text" name="q2b" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">2</td><td bgcolor=98c4dd> <input type="text" name="q2c" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">3</td><td bgcolor=98c4dd> <input type="text" name="q2d" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">4</td><td bgcolor=98c4dd> <input type="text" name="q2e" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">5</td><td bgcolor=98c4dd> <input type="text" name="q2f" size=15></td><td bgcolor=98c4dd></td></tr>
</table>
</p>
<p>
<center>
<button class"eval" data-target="t1">Check answers</button>
</center>
</p>
<form id="t2>">
<p>
<table cellpadding=0 cellspacing=0>
<tr><td bgcolor=98c4dd>ROOM:</td><td bgcolor=98c4dd> <input type="text" name="q3a" size=15></td><td width=50 bgcolor=98c4dd></td><td rowspan=6 bgcolor=98c4dd><img src="img/u3-a2.jpg"></td></tr>
<tr><td bgcolor=98c4dd align="right">1</td><td bgcolor=98c4dd> <input type="text" name="q3b" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">2</td><td bgcolor=98c4dd> <input type="text" name="q3c" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">3</td><td bgcolor=98c4dd> <input type="text" name="q3d" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">4</td><td bgcolor=98c4dd> <input type="text" name="q3e" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">5</td><td bgcolor=98c4dd> <input type="text" name="q3f" size=15></td><td bgcolor=98c4dd></td></tr>
</table>
</p>
<p>
<center>
<button class"eval" data-target="t2">Check answers</button>
</center>
</p>
<form id="t3">
<p>
<table cellpadding=0 cellspacing=0>
<tr><td bgcolor=98c4dd>ROOM:</td><td bgcolor=98c4dd> <input type="text" name="q4a" size=15></td><td width=50 bgcolor=98c4dd></td><td rowspan=6 bgcolor=98c4dd><img src="img/u3-a3.jpg"></td></tr>
<tr><td bgcolor=98c4dd align="right">1</td><td bgcolor=98c4dd> <input type="text" name="q4b" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">2</td><td bgcolor=98c4dd> <input type="text" name="q4c" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">3</td><td bgcolor=98c4dd> <input type="text" name="q4d" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">4</td><td bgcolor=98c4dd> <input type="text" name="q4e" size=15></td><td bgcolor=98c4dd></td></tr>
</table>
</p>
<p>
<center>
<button class"eval" data-target="t3">Check answers</button>
</center>
</p>
<form id="t4">
<p>
<table cellpadding=0 cellspacing=0>
<tr><td bgcolor=98c4dd>ROOM:</td><td bgcolor=98c4dd> <input type="text" name="q5a" size=15></td><td width=50 bgcolor=98c4dd></td><td rowspan=6 bgcolor=98c4dd><img src="img/u3-a4.jpg"></td></tr>
<tr><td bgcolor=98c4dd align="right">1</td><td bgcolor=98c4dd> <input type="text" name="q5b" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">2</td><td bgcolor=98c4dd> <input type="text" name="q5c" size=15></td><td bgcolor=98c4dd></td></tr>
<tr><td bgcolor=98c4dd align="right">3</td><td bgcolor=98c4dd> <input type="text" name="q5d" size=15></td><td bgcolor=98c4dd></td></tr>
</table>
</p>
<button class"eval" data-target="t4">Check answers</button>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>
<div id="z5">
</div>