<form id="t1">
<img src="img/t-u4.jpg">
<p>
<span id="tit">Present Continuous</span>
</p>
<p>
<b>1. Look at the picture below. Choose the correct sentences to describe the picture.</b>
</p>
<p>
<center>
<img src="img/u4-b1.jpg">
</center>
</p>
<p>
<table cellpadding=0 cellspacing=4>
<tr><td width=15><b>1</b></td><td><input type="checkbox" name="q1a"> A boy is eating an ice cream.</td><td width=30></td><td><input type="checkbox" name="q1b"> A boy eats an ice cream.</td></tr>
<tr><td><b>2</b></td><td><input type="checkbox" name="q1c"> A girl is running along the beach.</td><td></td><td> <input type="checkbox" name="q1d"> A girl runs along the beach.</td></tr>
<tr><td><b>3</b></td><td><input type="checkbox" name="q1e"> Two men windsurf.</td><td></td><td> <input type="checkbox" name="q1f"> Two men are windsurfing.</td></tr>
<tr><td><b>4</b></td><td><input type="checkbox" name="q1g"> A woman swims in the ocean.</td><td></td><td> <input type="checkbox" name="q1h"> A woman is swimming in the ocean.</td></tr>
</table>
</p>
<p>
<center>
<button class"eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. Match the descriptions to the correct picture.</b>
</p>
<p>
<table cellpadding=2 cellspacing=0>
<tr><td></td><td width=40></td><td></td><td width=40></td><td rowspan=5><img src="img/u4-b2.jpg"></td></tr>
<tr><td><img src="img/u4-bt1.jpg"></td><td></td><td><input type="text" name="q2a" size=3></td><td></td></tr>
<tr><td><img src="img/u4-bt2.jpg"></td><td></td><td><input type="text" name="q2b" size=3></td><td></td></tr>
<tr><td><img src="img/u4-bt3.jpg"></td><td></td><td><input type="text" name="q2c" size=3></td><td></td></tr>
<tr><td><img src="img/u4-bt4.jpg"></td><td></td><td><input type="text" name="q2d" size=3></td><td></td></tr>
</table>
</p>
<p>
<center>
<button class"eval" data-target="t2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b>3. Look at the third picture in exercise 2. Match the questions and answers below.</b>
</p>
<p>
<table cellpadding=2 cellspacing=0>
<tr><td>Where are they sitting?</td><td></td><td><input type="text" name="q3a" size=30>.</td></tr>
<tr><td>What is the man doing?</td><td></td><td><input type="text" name="q3b" size=30>.</td></tr>
<tr><td>Is he wearing a blue T-shirt?</td><td></td><td><input type="text" name="q3c" size=30>.</td></tr>
<tr><td>What is the woman doing?</td><td></td><td><input type="text" name="q3d" size=30>.</td></tr>
<tr><td>Is she wearing a dress?</td><td></td><td><input type="text" name="q3e" size=30>.</td></tr>
</table>
</p>
<p>
<center>
<button class"eval" data-target="t3">Check answers</button>
</center>
</p>
</form>
<form id="t4">
<p>
<b>4. Now look at this picture from exercise 2. Write questions for these answers.</b>
</p>
<p>
<table cellpadding=0 cellspacing=4>
<tr><td>Use the verbs in the first column. The first one has been done for you as an example.</td><td><img src="img/u4-b3.jpg"></td></tr>
</table>
</p>
<p>
<table cellpadding=0 cellspacing=0>
<tr><td bgcolor="#ffcc99">&#160;</td><td width=20 bgcolor="#ffcc99"></td><td align="center" bgcolor="#ffcc99">&#160;</td><td width=20 bgcolor="#ffcc99"></td><td align="center" bgcolor="#ffcc99">&#160;</td></tr>
<tr><td bgcolor="#ffcc99"><b>use verb</b></td><td width=20 bgcolor="#ffcc99"></td><td align="center" bgcolor="#ffcc99"><b>Question</b></td><td width=20 bgcolor="#ffcc99"></td><td align="center" bgcolor="#ffcc99"><b>Reply</b></td></tr>
<tr><td bgcolor="#ffcc99" align="center">stand</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99">Where is the man standing?</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99">Next to the table.</td bgcolor="#ffcc99"></tr>
<tr><td bgcolor="#ffcc99"><b>1</b> sit</td><td bgcolor="#ffcc99"></td><td align="center" bgcolor="#ffcc99"><input type="text" name="q4a" size=12></td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99">On a chair.</td></tr>
<tr><td bgcolor="#ffcc99"><b>2</b> wear</td><td bgcolor="#ffcc99"></td><td align="center" bgcolor="#ffcc99"><input type="text" name="q4b" size=12></td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99">A white T-shirt.</td></tr>
<tr><td bgcolor="#ffcc99"><b>3</b> do</td><td bgcolor="#ffcc99"></td><td align="center" bgcolor="#ffcc99"><input type="text" name="q4c" size=12></td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99">He's reading a newspaper.</td></tr>
<tr><td bgcolor="#ffcc99"><b>4</b> wear</td><td bgcolor="#ffcc99"></td><td align="center" bgcolor="#ffcc99"><input type="text" name="q4d" size=12></td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99">A red dress.</td></tr>
<tr><td bgcolor="#ffcc99"><b>5</b> do</td><td bgcolor="#ffcc99"></td><td align="center" bgcolor="#ffcc99"><input type="text" name="q4e" size=12></td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99">She's smoking.</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td width=20 bgcolor="#ffcc99"></td><td align="center" bgcolor="#ffcc99">&#160;</td><td width=20 bgcolor="#ffcc99"></td><td align="center" bgcolor="#ffcc99">&#160;</td></tr>
</table>
</p>
<button class"eval" data-target="t4">Check answers</button>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>