//- index.jade
extends ../../../jade/layouts/main.jade

block content
	div.row
		div(class=['large-10','medium-12','short-12','columns'], id='section1')
			img(id='logo', src='img/m2-1.jpg')
			img(id='frame', src='img/m2-2.jpg')
			img(id='elem', src='img/m2-3.jpg')
	div.row
		div(class=['large-2','medium-3','short-12','columns'], id='menu')
			p Menú
			include ../../../jade/menu1.jade
		div(class='large-5','medium-4','short-12','columns', id='cont')