body {
  margin: 0;
  padding: 0;
  background-color: #9ac00a;
}
body #section1 > img {
  padding: 20px 30px;
}
body #cont {
  background: #fff;
  min-height: 500px;
}
body #cont td {
  padding: 0 3px;
}
body #cont select {
  width: auto;
  margin: 5px;
}
body #cont #part1 {
  position: absolute;
  top: 182px;
  left: 100px;
}
body #cont p {
  font-family: inherit;
  font-size: 20px;
  color: #95b60f;
  text-align: center;
  top: 350px;
}
body #cont p span {
  color: #116323;
}
