<script language="javascript">
function k1(){
if(q1a.value==5){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value==2){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
z1.innerHTML=s1a+s1b
}
function k2() {
if(q2a.checked==false&q2b.checked==true){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2c.checked==true&q2d.checked==false){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2e.checked==false&q2f.checked==true){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2g.checked==false&q2h.checked==true){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2i.checked==true&q2j.checked==false){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2k.checked==false&q2l.checked==true){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
if(q2m.checked==true&q2n.checked==false){s2g="7. Correct<br>"}else{s2g="7. Incorrect<br>"}
if(q2o.checked==true&q2p.checked==false){s2h="8. Correct<br>"}else{s2h="8. Incorrect<br>"}
if(q2q.checked==true&q2r.checked==false){s2i="9. Correct<br>"}else{s2i="9. Incorrect<br>"}
if(q2s.checked==false&q2t.checked==true){s2j="10. Correct<br>"}else{s2j="10. Incorrect<br>"}
z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h+s2i+s2j
}
function k3() {
if(q3a.checked==true&q3b.checked==false){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3c.checked==true&q3d.checked==false){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3e.checked==false&q3f.checked==true){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3g.checked==true&q3h.checked==false){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3i.checked==false&q3j.checked==true){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3k.checked==false&q3l.checked==true){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3m.checked==false&q3n.checked==true){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
if(q3o.checked==false&q3p.checked==true){s3h="8. Correct<br>"}else{s3h="8. Incorrect<br>"}
z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h
}
function k4(){
if(q4a.value==2){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value==1){s4b="2. Correct<br>"}else{s4b="2. Incorrect<br>"}
if(q4c.value==2){s4c="3. Correct<br>"}else{s4c="3. Incorrect<br>"}
if(q4d.value==1){s4d="4. Correct<br>"}else{s4d="4. Incorrect<br>"}
if(q4e.value==1){s4e="5. Correct<br>"}else{s4e="5. Incorrect<br>"}
if(q4f.value==2){s4f="6. Correct<br>"}else{s4f="6. Incorrect<br>"}
if(q4g.value==2){s4g="7. Correct<br>"}else{s4g="7. Incorrect<br>"}
if(q4h.value==1){s4h="8. Correct<br>"}else{s4h="8. Incorrect<br>"}
if(q4i.value==2){s4i="9. Correct<br>"}else{s4i="9. Incorrect<br>"}
if(q4j.value==2){s4j="10. Correct<br>"}else{s4j="10. Incorrect<br>"}
z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h+s4i+s4j
}
function k5() {
if(q5a.checked==false&q5b.checked==true){s5a="1. Correct<br>"}else{s5a="1. Incorrect<br>"}
if(q5c.checked==true&q5d.checked==false){s5b="2. Correct<br>"}else{s5b="2. Incorrect<br>"}
if(q5e.checked==true&q5f.checked==false){s5c="3. Correct<br>"}else{s5c="3. Incorrect<br>"}
if(q5g.checked==false&q5h.checked==true){s5d="4. Correct<br>"}else{s5d="4. Incorrect<br>"}
if(q5i.checked==true&q5j.checked==false){s5e="5. Correct<br>"}else{s5e="5. Incorrect<br>"}
if(q5k.checked==false&q5l.checked==true){s5f="6. Correct<br>"}else{s5f="6. Incorrect<br>"}
if(q5m.checked==false&q5n.checked==true){s5g="7. Correct<br>"}else{s5g="7. Incorrect<br>"}
if(q5o.checked==true&q5p.checked==false){s5h="8. Correct<br>"}else{s5h="8. Incorrect<br>"}
z5.innerHTML=s5a+s5b+s5c+s5d+s5e+s5f+s5g+s5h
}
function k6() {
if(q6a.checked==false&q6b.checked==true){s6a="1. Correct<br>"}else{s6a="1. Incorrect<br>"}
if(q6c.checked==true&q6d.checked==false){s6b="2. Correct<br>"}else{s6b="2. Incorrect<br>"}
if(q6e.checked==true&q6f.checked==false){s6c="3. Correct<br>"}else{s6c="3. Incorrect<br>"}
if(q6g.checked==false&q6h.checked==true){s6d="4. Correct<br>"}else{s6d="4. Incorrect<br>"}
if(q6i.checked==true&q6j.checked==false){s6e="5. Correct<br>"}else{s6e="5. Incorrect<br>"}
if(q6k.checked==true&q6l.checked==false){s6f="6. Correct<br>"}else{s6f="6. Incorrect<br>"}
if(q6m.checked==false&q6n.checked==true){s6g="7. Correct<br>"}else{s6g="7. Incorrect<br>"}
if(q6o.checked==false&q6p.checked==true){s6h="8. Correct<br>"}else{s6h="8. Incorrect<br>"}
z6.innerHTML=s6a+s6b+s6c+s6d+s6e+s6f+s6g+s6h
}
function k7() {
if(q7a.checked==false&q7b.checked==true){s7a="1. Correct<br>"}else{s7a="1. Incorrect<br>"}
if(q7c.checked==true&q7d.checked==false){s7b="2. Correct<br>"}else{s7b="2. Incorrect<br>"}
if(q7e.checked==false&q7f.checked==true){s7c="3. Correct<br>"}else{s7c="3. Incorrect<br>"}
if(q7g.checked==true&q7h.checked==false){s7d="4. Correct<br>"}else{s7d="4. Incorrect<br>"}
if(q7i.checked==true&q7j.checked==false){s7e="5. Correct<br>"}else{s7e="5. Incorrect<br>"}
if(q7k.checked==true&q7l.checked==false){s7f="6. Correct<br>"}else{s7f="6. Incorrect<br>"}
if(q7m.checked==false&q7n.checked==true){s7g="7. Correct<br>"}else{s7g="7. Incorrect<br>"}
if(q7o.checked==false&q7p.checked==true){s7h="8. Correct<br>"}else{s7h="8. Incorrect<br>"}
if(q7q.checked==true&q7r.checked==false){s7i="9. Correct<br>"}else{s7i="9. Incorrect<br>"}
if(q7s.checked==true&q7t.checked==false){s7j="10. Correct<br>"}else{s7j="10. Incorrect<br>"}
z7.innerHTML=s7a+s7b+s7c+s7d+s7e+s7f+s7g+s7h+s7i+s7j
}
<div id="t1">
<span id="tit">Attitudes toward smoking</span>
<p>
<b>1. Listen to these two conversations.</b>
<p>
<a href="sn/u1b-1.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>In the first conversation, who is talking to whom? <select name="q1a"><option value=0>Choose Answer<option value=1>husband and wife<option value=2>parent and child<option value=3>sister and brother<option value=4>girlfriend and boyfriend<option value=5>work colleagues</select></td></tr>
<tr><td>In the second conversation, who is talking to whom? <select name="q1b"><option value=0>Choose Answer<option value=1>husband and wife<option value=2>parent and child<option value=3>sister and brother<option value=4>girlfriend and boyfriend<option value=5>work colleagues</select></td></tr>
</table>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Listen again and answer these questions about the first conversation.</b>
<p>
<a href="sn/u1b-2.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
Which arguments does the man use to justify smoking?
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 The room was originally a smoking room.</td><td><input type="checkbox" name="q2a"><img src="ob/bien.jpg"> <input type="checkbox" name="q2b"><img src="ob/mal.jpg"></td></tr>
<tr><td>2 Most people who work in the morning are smokers.</td><td><input type="checkbox" name="q2c"><img src="ob/bien.jpg"> <input type="checkbox" name="q2d"><img src="ob/mal.jpg"></td></tr>
<tr><td>3 He only smokes a little.</td><td><input type="checkbox" name="q2e"><img src="ob/bien.jpg"> <input type="checkbox" name="q2f"><img src="ob/mal.jpg"></td></tr>
<tr><td>4 The window is open.</td><td><input type="checkbox" name="q2g"><img src="ob/bien.jpg"> <input type="checkbox" name="q2h"><img src="ob/mal.jpg"></td></tr>
<tr><td>5 He's not the first person to smoke there this morning.</td><td><input type="checkbox" name="q2i"><img src="ob/bien.jpg"> <input type="checkbox" name="q2j"><img src="ob/mal.jpg"></td></tr>
<tr><td>6 There's nowhere else to smoke in the building.</td><td><input type="checkbox" name="q2k"><img src="ob/bien.jpg"> <input type="checkbox" name="q2l"><img src="ob/mal.jpg"></td></tr>
<tr><td>7 It's raining outside.</td><td><input type="checkbox" name="q2m"><img src="ob/bien.jpg"> <input type="checkbox" name="q2n"><img src="ob/mal.jpg"></td></tr>
<tr><td>8 The woman is normally never there in the morning.</td><td><input type="checkbox" name="q2o"><img src="ob/bien.jpg"> <input type="checkbox" name="q2p"><img src="ob/mal.jpg"></td></tr>
<tr><td>9 The arguments about passive smoking may not be true.</td><td><input type="checkbox" name="q2q"><img src="ob/bien.jpg"> <input type="checkbox" name="q2r"><img src="ob/mal.jpg"></td></tr>
<tr><td>10 Nobody agreed that the room would be a non-smoking room.</td><td><input type="checkbox" name="q2s"><img src="ob/bien.jpg"> <input type="checkbox" name="q2t"><img src="ob/mal.jpg"></td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Which arguments does the woman use to justify NOT smoking?</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 It was voted that the room should be a non-smoking room.</td><td><input type="checkbox" name="q3a"><img src="ob/bien.jpg"> <input type="checkbox" name="q3b"><img src="ob/mal.jpg"></td></tr>
<tr><td>2 She doesn't smoke.</td><td><input type="checkbox" name="q3c"><img src="ob/bien.jpg"> <input type="checkbox" name="q3d"><img src="ob/mal.jpg"></td></tr>
<tr><td>3 Smoke gets in her eyes.</td><td><input type="checkbox" name="q3e"><img src="ob/bien.jpg"> <input type="checkbox" name="q3f"><img src="ob/mal.jpg"></td></tr>
<tr><td>4 Passive smoking is bad for you.</td><td><input type="checkbox" name="q3g"><img src="ob/bien.jpg"> <input type="checkbox" name="q3h"><img src="ob/mal.jpg"></td></tr>
<tr><td>5 Nobody else smokes in that room.</td><td><input type="checkbox" name="q3i"><img src="ob/bien.jpg"> <input type="checkbox" name="q3j"><img src="ob/mal.jpg"></td></tr>
<tr><td>6 There are plenty of other places to smoke.</td><td><input type="checkbox" name="q3k"><img src="ob/bien.jpg"> <input type="checkbox" name="q3l"><img src="ob/mal.jpg"></td></tr>
<tr><td>7 Smokers make the place messy.</td><td><input type="checkbox" name="q3m"><img src="ob/bien.jpg"> <input type="checkbox" name="q3n"><img src="ob/mal.jpg"></td></tr>
<tr><td>8 He can smoke outside when it's not raining.</td><td><input type="checkbox" name="q3o"><img src="ob/bien.jpg"> <input type="checkbox" name="q3p"><img src="ob/mal.jpg"></td></tr>
</table>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>
<b>4. Listen to the first conversation again. </b>
<p>
<a href="sn/u1b-2.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
Who says:
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 "Excuse me" <select name="q4a"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>2 "I'm sorry" <select name="q4b"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>3 "If you don't mind" <select name="q4c"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>4 "I can't see what the problem is" <select name="q4d"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>5 "Frankly" <select name="q4e"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>6 "Yeah exactly" <select name="q4f"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>7 That's the point" <select name="q4g"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>8 "But anyway" <select name="q4h"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>9 "I don't think that's really the point" <select name="q4i"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>10 "That's not my problem" <select name="q4j"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
</table>
<p>
Look at the transcript of the first conversation and check your answers.
<p>
<center>
<a href="#" onclick="window.open('t-u1b-1.htm','_blank','width=600,height=400');"><b>view transcript</b></a>
</center>
<p>
<center>
<button onclick="k4()">Check answers</button>
</center>
<p>
<b>5. Listen to the second conversation again. What arguments does the father use? </b>
<p>
<a href="sn/u1b-3.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 It smells bad.</td><td><input type="checkbox" name="q5a"><img src="ob/bien.jpg"> <input type="checkbox" name="q5b"><img src="ob/mal.jpg"></td></tr>
<tr><td>2 As an ex-smoker he knows that it's dangerous.</td><td><input type="checkbox" name="q5c"><img src="ob/bien.jpg"> <input type="checkbox" name="q5d"><img src="ob/mal.jpg"></td></tr>
<tr><td>3 As an ex-smoker he knows how addictive it is.</td><td><input type="checkbox" name="q5e"><img src="ob/bien.jpg"> <input type="checkbox" name="q5f"><img src="ob/mal.jpg"></td></tr>
<tr><td>4 It's bad for your health.</td><td><input type="checkbox" name="q5g"><img src="ob/bien.jpg"> <input type="checkbox" name="q5h"><img src="ob/mal.jpg"></td></tr>
<tr><td>5 Even one or two a day can lead to an addiction.</td><td><input type="checkbox" name="q5i"><img src="ob/bien.jpg"> <input type="checkbox" name="q5j"><img src="ob/mal.jpg"></td></tr>
<tr><td>6 Cigarettes are worse than cigars.</td><td><input type="checkbox" name="q5k"><img src="ob/bien.jpg"> <input type="checkbox" name="q5l"><img src="ob/mal.jpg"></td></tr>
<tr><td>7 The house may catch fire.</td><td><input type="checkbox" name="q5m"><img src="ob/bien.jpg"> <input type="checkbox" name="q5n"><img src="ob/mal.jpg"></td></tr>
<tr><td>8 They've had this argument before.</td><td><input type="checkbox" name="q5o"><img src="ob/bien.jpg"> <input type="checkbox" name="q5p"><img src="ob/mal.jpg"></td></tr>
</table>
<p>
<center>
<button onclick="k5()">Check answers</button>
</center>
<p>
<b>6. Listen to the second conversation again. What argument does the daughter use?</b>
<p>
<a href="sn/u1b-3.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 It doesn't smell bad.</td><td><input type="checkbox" name="q6a"><img src="ob/bien.jpg"> <input type="checkbox" name="q6b"><img src="ob/mal.jpg"></td></tr>
<tr><td>2 Her father was a smoker.</td><td><input type="checkbox" name="q6c"><img src="ob/bien.jpg"> <input type="checkbox" name="q6d"><img src="ob/mal.jpg"></td></tr>
<tr><td>3 She's not addicted.</td><td><input type="checkbox" name="q6e"><img src="ob/bien.jpg"> <input type="checkbox" name="q6f"><img src="ob/mal.jpg"></td></tr>
<tr><td>4 She's old enough to smoke.</td><td><input type="checkbox" name="q6g"><img src="ob/bien.jpg"> <input type="checkbox" name="q6h"><img src="ob/mal.jpg"></td></tr>
<tr><td>5 All her friends smoke.</td><td><input type="checkbox" name="q6i"><img src="ob/bien.jpg"> <input type="checkbox" name="q6j"><img src="ob/mal.jpg"></td></tr>
<tr><td>6 Her father still smokes.</td><td><input type="checkbox" name="q6k"><img src="ob/bien.jpg"> <input type="checkbox" name="q6l"><img src="ob/mal.jpg"></td></tr>
<tr><td>7 She only smokes outside.</td><td><input type="checkbox" name="q6m"><img src="ob/bien.jpg"> <input type="checkbox" name="q6n"><img src="ob/mal.jpg"></td></tr>
<tr><td>8 It's not bad for you.</td><td><input type="checkbox" name="q6o"><img src="ob/bien.jpg"> <input type="checkbox" name="q6p"><img src="ob/mal.jpg"></td></tr>
</table>
<p>
<center>
<button onclick="k6()">Check answers</button>
</center>
<p>
<b>7. Who says:</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 What do you mean?</td><td><input type="checkbox" name="q7a"> Father <input type="checkbox" name="q7b">Daughter</td></tr>
<tr><td>2 Don't try and hide the fact.</td><td><input type="checkbox" name="q7c"> Father <input type="checkbox" name="q7d">Daughter</td></tr>
<tr><td>3 So what?</td><td><input type="checkbox" name="q7e"> Father <input type="checkbox" name="q7f">Daughter</td></tr>
<tr><td>4 We've talked about this before.</td><td><input type="checkbox" name="q7g"> Father <input type="checkbox" name="q7h">Daughter</td></tr>
<tr><td>5 That's not the point.</td><td><input type="checkbox" name="q7i"> Father <input type="checkbox" name="q7j">Daughter</td></tr>
<tr><td>6 Believe me.</td><td><input type="checkbox" name="q7k"> Father <input type="checkbox" name="q7l">Daughter</td></tr>
<tr><td>7 That's rubbish and you know...</td><td><input type="checkbox" name="q7m"> Father <input type="checkbox" name="q7n">Daughter</td></tr>
<tr><td>8 Anyway...</td><td><input type="checkbox" name="q7o"> Father <input type="checkbox" name="q7p">Daughter</td></tr>
<tr><td>9 I'm not going to discuss this.</td><td><input type="checkbox" name="q7q"> Father <input type="checkbox" name="q7r">Daughter</td></tr>
<tr><td>10 We've been through this before.</td><td><input type="checkbox" name="q7s"> Father <input type="checkbox" name="q7t">Daughter</td></tr>
</table>
<p>
<center>
<button onclick="k7()">Check answers</button>
</center>
<p>
Look at a transcript of the second conversation and check your answers. 
<p>
<center>
<a href="#" onclick="window.open('t-u1b-2.htm','_blank','width=600,height=500');"><b>view transcript</b></a>
</center>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>
<div id="z5">
</div>
<div id="z6">
</div>
<div id="z7">
</div>