<div id="t1">
<span id="tit">Attitudes toward smoking</span>
<p>
<b>1. Listen to these two conversations.</b>
<p>
<a href="sn/u1b-1.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>In the first conversation, who is talking to whom? <select name="q1a"><option value=0>Choose Answer<option value=1>husband and wife<option value=2>parent and child<option value=3>sister and brother<option value=4>girlfriend and boyfriend<option value=5>work colleagues</select></td></tr>
<tr><td>In the second conversation, who is talking to whom? <select name="q1b"><option value=0>Choose Answer<option value=1>husband and wife<option value=2>parent and child<option value=3>sister and brother<option value=4>girlfriend and boyfriend<option value=5>work colleagues</select></td></tr>
</table>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Listen again and answer these questions about the first conversation.</b>
<p>
<a href="sn/u1b-2.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
Which arguments does the man use to justify smoking?
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 The room was originally a smoking room.</td><td><input type="checkbox" name="q2a"><img src="ob/bien.jpg"> <input type="checkbox" name="q2b"><img src="ob/mal.jpg"></td></tr>
<tr><td>2 Most people who work in the morning are smokers.</td><td><input type="checkbox" name="q2c"><img src="ob/bien.jpg"> <input type="checkbox" name="q2d"><img src="ob/mal.jpg"></td></tr>
<tr><td>3 He only smokes a little.</td><td><input type="checkbox" name="q2e"><img src="ob/bien.jpg"> <input type="checkbox" name="q2f"><img src="ob/mal.jpg"></td></tr>
<tr><td>4 The window is open.</td><td><input type="checkbox" name="q2g"><img src="ob/bien.jpg"> <input type="checkbox" name="q2h"><img src="ob/mal.jpg"></td></tr>
<tr><td>5 He's not the first person to smoke there this morning.</td><td><input type="checkbox" name="q2i"><img src="ob/bien.jpg"> <input type="checkbox" name="q2j"><img src="ob/mal.jpg"></td></tr>
<tr><td>6 There's nowhere else to smoke in the building.</td><td><input type="checkbox" name="q2k"><img src="ob/bien.jpg"> <input type="checkbox" name="q2l"><img src="ob/mal.jpg"></td></tr>
<tr><td>7 It's raining outside.</td><td><input type="checkbox" name="q2m"><img src="ob/bien.jpg"> <input type="checkbox" name="q2n"><img src="ob/mal.jpg"></td></tr>
<tr><td>8 The woman is normally never there in the morning.</td><td><input type="checkbox" name="q2o"><img src="ob/bien.jpg"> <input type="checkbox" name="q2p"><img src="ob/mal.jpg"></td></tr>
<tr><td>9 The arguments about passive smoking may not be true.</td><td><input type="checkbox" name="q2q"><img src="ob/bien.jpg"> <input type="checkbox" name="q2r"><img src="ob/mal.jpg"></td></tr>
<tr><td>10 Nobody agreed that the room would be a non-smoking room.</td><td><input type="checkbox" name="q2s"><img src="ob/bien.jpg"> <input type="checkbox" name="q2t"><img src="ob/mal.jpg"></td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Which arguments does the woman use to justify NOT smoking?</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 It was voted that the room should be a non-smoking room.</td><td><input type="checkbox" name="q3a"><img src="ob/bien.jpg"> <input type="checkbox" name="q3b"><img src="ob/mal.jpg"></td></tr>
<tr><td>2 She doesn't smoke.</td><td><input type="checkbox" name="q3c"><img src="ob/bien.jpg"> <input type="checkbox" name="q3d"><img src="ob/mal.jpg"></td></tr>
<tr><td>3 Smoke gets in her eyes.</td><td><input type="checkbox" name="q3e"><img src="ob/bien.jpg"> <input type="checkbox" name="q3f"><img src="ob/mal.jpg"></td></tr>
<tr><td>4 Passive smoking is bad for you.</td><td><input type="checkbox" name="q3g"><img src="ob/bien.jpg"> <input type="checkbox" name="q3h"><img src="ob/mal.jpg"></td></tr>
<tr><td>5 Nobody else smokes in that room.</td><td><input type="checkbox" name="q3i"><img src="ob/bien.jpg"> <input type="checkbox" name="q3j"><img src="ob/mal.jpg"></td></tr>
<tr><td>6 There are plenty of other places to smoke.</td><td><input type="checkbox" name="q3k"><img src="ob/bien.jpg"> <input type="checkbox" name="q3l"><img src="ob/mal.jpg"></td></tr>
<tr><td>7 Smokers make the place messy.</td><td><input type="checkbox" name="q3m"><img src="ob/bien.jpg"> <input type="checkbox" name="q3n"><img src="ob/mal.jpg"></td></tr>
<tr><td>8 He can smoke outside when it's not raining.</td><td><input type="checkbox" name="q3o"><img src="ob/bien.jpg"> <input type="checkbox" name="q3p"><img src="ob/mal.jpg"></td></tr>
</table>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>
<b>4. Listen to the first conversation again. </b>
<p>
<a href="sn/u1b-2.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
Who says:
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 "Excuse me" <select name="q4a"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>2 "I'm sorry" <select name="q4b"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>3 "If you don't mind" <select name="q4c"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>4 "I can't see what the problem is" <select name="q4d"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>5 "Frankly" <select name="q4e"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>6 "Yeah exactly" <select name="q4f"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>7 That's the point" <select name="q4g"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>8 "But anyway" <select name="q4h"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>9 "I don't think that's really the point" <select name="q4i"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
<tr><td>10 "That's not my problem" <select name="q4j"><option value=0>Choose Answer<option value=1>Man<option value=2>Woman</select></td></tr>
</table>
<p>
Look at the transcript of the first conversation and check your answers.
<p>
<center>
<a href="#" onclick="window.open('t-u1b-1.htm','_blank','width=600,height=400');"><b>view transcript</b></a>
</center>
<p>
<center>
<button onclick="k4()">Check answers</button>
</center>
<p>
<b>5. Listen to the second conversation again. What arguments does the father use? </b>
<p>
<a href="sn/u1b-3.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 It smells bad.</td><td><input type="checkbox" name="q5a"><img src="ob/bien.jpg"> <input type="checkbox" name="q5b"><img src="ob/mal.jpg"></td></tr>
<tr><td>2 As an ex-smoker he knows that it's dangerous.</td><td><input type="checkbox" name="q5c"><img src="ob/bien.jpg"> <input type="checkbox" name="q5d"><img src="ob/mal.jpg"></td></tr>
<tr><td>3 As an ex-smoker he knows how addictive it is.</td><td><input type="checkbox" name="q5e"><img src="ob/bien.jpg"> <input type="checkbox" name="q5f"><img src="ob/mal.jpg"></td></tr>
<tr><td>4 It's bad for your health.</td><td><input type="checkbox" name="q5g"><img src="ob/bien.jpg"> <input type="checkbox" name="q5h"><img src="ob/mal.jpg"></td></tr>
<tr><td>5 Even one or two a day can lead to an addiction.</td><td><input type="checkbox" name="q5i"><img src="ob/bien.jpg"> <input type="checkbox" name="q5j"><img src="ob/mal.jpg"></td></tr>
<tr><td>6 Cigarettes are worse than cigars.</td><td><input type="checkbox" name="q5k"><img src="ob/bien.jpg"> <input type="checkbox" name="q5l"><img src="ob/mal.jpg"></td></tr>
<tr><td>7 The house may catch fire.</td><td><input type="checkbox" name="q5m"><img src="ob/bien.jpg"> <input type="checkbox" name="q5n"><img src="ob/mal.jpg"></td></tr>
<tr><td>8 They've had this argument before.</td><td><input type="checkbox" name="q5o"><img src="ob/bien.jpg"> <input type="checkbox" name="q5p"><img src="ob/mal.jpg"></td></tr>
</table>
<p>
<center>
<button onclick="k5()">Check answers</button>
</center>
<p>
<b>6. Listen to the second conversation again. What argument does the daughter use?</b>
<p>
<a href="sn/u1b-3.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 It doesn't smell bad.</td><td><input type="checkbox" name="q6a"><img src="ob/bien.jpg"> <input type="checkbox" name="q6b"><img src="ob/mal.jpg"></td></tr>
<tr><td>2 Her father was a smoker.</td><td><input type="checkbox" name="q6c"><img src="ob/bien.jpg"> <input type="checkbox" name="q6d"><img src="ob/mal.jpg"></td></tr>
<tr><td>3 She's not addicted.</td><td><input type="checkbox" name="q6e"><img src="ob/bien.jpg"> <input type="checkbox" name="q6f"><img src="ob/mal.jpg"></td></tr>
<tr><td>4 She's old enough to smoke.</td><td><input type="checkbox" name="q6g"><img src="ob/bien.jpg"> <input type="checkbox" name="q6h"><img src="ob/mal.jpg"></td></tr>
<tr><td>5 All her friends smoke.</td><td><input type="checkbox" name="q6i"><img src="ob/bien.jpg"> <input type="checkbox" name="q6j"><img src="ob/mal.jpg"></td></tr>
<tr><td>6 Her father still smokes.</td><td><input type="checkbox" name="q6k"><img src="ob/bien.jpg"> <input type="checkbox" name="q6l"><img src="ob/mal.jpg"></td></tr>
<tr><td>7 She only smokes outside.</td><td><input type="checkbox" name="q6m"><img src="ob/bien.jpg"> <input type="checkbox" name="q6n"><img src="ob/mal.jpg"></td></tr>
<tr><td>8 It's not bad for you.</td><td><input type="checkbox" name="q6o"><img src="ob/bien.jpg"> <input type="checkbox" name="q6p"><img src="ob/mal.jpg"></td></tr>
</table>
<p>
<center>
<button onclick="k6()">Check answers</button>
</center>
<p>
<b>7. Who says:</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 What do you mean?</td><td><input type="checkbox" name="q7a"> Father <input type="checkbox" name="q7b">Daughter</td></tr>
<tr><td>2 Don't try and hide the fact.</td><td><input type="checkbox" name="q7c"> Father <input type="checkbox" name="q7d">Daughter</td></tr>
<tr><td>3 So what?</td><td><input type="checkbox" name="q7e"> Father <input type="checkbox" name="q7f">Daughter</td></tr>
<tr><td>4 We've talked about this before.</td><td><input type="checkbox" name="q7g"> Father <input type="checkbox" name="q7h">Daughter</td></tr>
<tr><td>5 That's not the point.</td><td><input type="checkbox" name="q7i"> Father <input type="checkbox" name="q7j">Daughter</td></tr>
<tr><td>6 Believe me.</td><td><input type="checkbox" name="q7k"> Father <input type="checkbox" name="q7l">Daughter</td></tr>
<tr><td>7 That's rubbish and you know...</td><td><input type="checkbox" name="q7m"> Father <input type="checkbox" name="q7n">Daughter</td></tr>
<tr><td>8 Anyway...</td><td><input type="checkbox" name="q7o"> Father <input type="checkbox" name="q7p">Daughter</td></tr>
<tr><td>9 I'm not going to discuss this.</td><td><input type="checkbox" name="q7q"> Father <input type="checkbox" name="q7r">Daughter</td></tr>
<tr><td>10 We've been through this before.</td><td><input type="checkbox" name="q7s"> Father <input type="checkbox" name="q7t">Daughter</td></tr>
</table>
<p>
<center>
<button onclick="k7()">Check answers</button>
</center>
<p>
Look at a transcript of the second conversation and check your answers. 
<p>
<center>
<a href="#" onclick="window.open('t-u1b-2.htm','_blank','width=600,height=500');"><b>view transcript</b></a>
</center>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>
<div id="z5">
</div>
<div id="z6">
</div>
<div id="z7">
</div>