<script language="javascript">
function k1(){
if(q1a.value==4){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value==5){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value==1){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value==7){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value==3){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value==8){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value==2){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value==6){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}
z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h
}
function k2(){
if(q2a.value=="growth"|q2a.value=="Growth"){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2b.value=="increase"|q2b.value=="Increase"){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2c.value=="increasing"|q2c.value=="Increasing"){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2d.value=="rise"|q2d.value=="Rise"){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2e.value=="rising"|q2e.value=="Rising"){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2f.value=="decrease"|q2f.value=="Decrease"){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
if(q2g.value=="decreasing"|q2g.value=="Decreasing"){s2g="7. Correct<br>"}else{s2g="7. Incorrect<br>"}
if(q2h.value=="drop"|q2h.value=="Drop"){s2h="8. Correct<br>"}else{s2h="8. Incorrect<br>"}
if(q2i.value=="fall"|q2i.value=="Fall"){s2i="9. Correct<br>"}else{s2i="9. Incorrect<br>"}
if(q2j.value=="falling"|q2j.value=="Falling"){s2j="10. Correct<br>"}else{s2j="10. Incorrect<br>"}
z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h+s2i+s2j
}
function k3(){
if(q3a.value=="increase"|q3a.value=="Increase"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="has doubled"|q3b.value=="Has doubled"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="decreasing"|q3c.value=="Decreasing"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="rise"|q3d.value=="Rise"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value=="is a drop"|q3e.value=="Is a drop"){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3f.value=="More people"|q3f.value=="more people"){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3g.value=="a fall"|q3g.value=="A fall"){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
if(q3h.value=="have gone up"|q3h.value=="Have gone up"){s3h="8. Correct<br>"}else{s3h="8. Incorrect<br>"}
z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h
}
function k4(){
if(q4a.value==1){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value==2){s4b="2. Correct<br>"}else{s4b="2. Incorrect<br>"}
if(q4c.value==1){s4c="3. Correct<br>"}else{s4c="3. Incorrect<br>"}
if(q4d.value==2){s4d="4. Correct<br>"}else{s4d="4. Incorrect<br>"}
if(q4e.value==1){s4e="5. Correct<br>"}else{s4e="5. Incorrect<br>"}
if(q4f.value==2){s4f="6. Correct<br>"}else{s4f="6. Incorrect<br>"}
if(q4g.value==2){s4g="7. Correct<br>"}else{s4g="7. Incorrect<br>"}
if(q4h.value==2){s4h="8. Correct<br>"}else{s4h="8. Incorrect<br>"}
z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h
}
<div id="t1">
<span id="tit">Describing graphs and trends</span>
<p>
<b>1. Match the sentences with the graphs.</b>
<p>
<center>
<img src="im/u2a-1.jpg">
</center>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 Unemployment went up <a href="#" onclick="window.open('t-u2a-1.htm','_blank','width=275,height=140');">steadily</a> over the year, going down slightly only over the summer months.</td><td><select name="q1a"><option value=0>?<option value=1>A<option value=2>B<option value=3>C<option value=4>D<option value=5>E<option value=6>F<option value=7>G<option value=8>H</select></td></tr>
<tr><td>2 Share prices rose slowly in April, but dropped dramatically in the first week of May.</td><td><select name="q1b"><option value=0>?<option value=1>A<option value=2>B<option value=3>C<option value=4>D<option value=5>E<option value=6>F<option value=7>G<option value=8>H</select></td></tr>
<tr><td>3 Car sales, which had decreased over the last three years, have trippled this year.</td><td><select name="q1c"><option value=0>?<option value=1>A<option value=2>B<option value=3>C<option value=4>D<option value=5>E<option value=6>F<option value=7>G<option value=8>H</select></td></tr>
<tr><td>4 Although cigarettes have become more and more expensive, the number of smokers has fallen very slowly over the last 10 years.</td><td><select name="q1d"><option value=0>?<option value=1>A<option value=2>B<option value=3>C<option value=4>D<option value=5>E<option value=6>F<option value=7>G<option value=8>H</select></td></tr>
<tr><td>5 Figures for the last 10 years show that fewer and fewer people are working on the land.</td><td><select name="q1e"><option value=0>?<option value=1>A<option value=2>B<option value=3>C<option value=4>D<option value=5>E<option value=6>F<option value=7>G<option value=8>H</select></td></tr>
<tr><td>6 There was a fall in the number of people getting married at the beginning of the decade, but numbers have grown steadily since then. The number of people getting divorced has doubled over the same period.</td><td><select name="q1f"><option value=0>?<option value=1>A<option value=2>B<option value=3>C<option value=4>D<option value=5>E<option value=6>F<option value=7>G<option value=8>H</select></td></tr>
<tr><td>7 The increasing number of cars in our cities has created an alarming growth in the number of people being treated for respiratory disorders.</td><td><select name="q1g"><option value=0>?<option value=1>A<option value=2>B<option value=3>C<option value=4>D<option value=5>E<option value=6>F<option value=7>G<option value=8>H</select></td></tr>
<tr><td>8 Experts believe that the falling birth rate, coupled with the growing number of retirees and rising unemployment will lead to a crisis in the social security in about 20 years from now.</td><td><select name="q1h"><option value=0>?<option value=1>A<option value=2>B<option value=3>C<option value=4>D<option value=5>E<option value=6>F<option value=7>G<option value=8>H</select></td></tr>
</table>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Complete the tables.</b>
<p>
<table cellpadding=5 cellspacing=0 border=1 bordercolor=#000000>
<tr><td align="center" width=140>verb</td><td align="center" width=140>noun</td><td align="center" width=140>adjective/participle</td></tr>
<tr><td align="center">double, tripple</td><td align="center">---</td><td align="center">---</td></tr>
<tr><td align="center">go up</td><td align="center">---</td><td align="center">---</td></tr>
<tr><td align="center">grow</td><td align="center"><input type="text" name="q2a" size=15></td><td align="center">growing</td></tr>
<tr><td align="center">increase</td><td align="center"><input type="text" name="q2b" size=15></td><td align="center"><input type="text" name="q2c" size=15></td></tr>
<tr><td align="center">rise</td><td align="center"><input type="text" name="q2d" size=15></td><td align="center"><input type="text" name="q2e" size=15></td></tr>
</table>
<p>
<table cellpadding=5 cellspacing=0 border=1 bordercolor=#000000>
<tr><td align="center" width=140>verb</td><td align="center" width=140>noun</td><td align="center" width=140>adjective/participle</td></tr>
<tr><td align="center">decrease</td><td align="center"><input type="text" name="q2f" size=15></td><td align="center"><input type="text" name="q2g" size=15></td></tr>
<tr><td align="center">drop</td><td align="center"><input type="text" name="q2h" size=15></td><td align="center">---</td></tr>
<tr><td align="center">fall</td><td align="center"><input type="text" name="q2i" size=15></td><td align="center"><input type="text" name="q2j" size=15></td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Rewrite the sentences using the correct form (verb, noun or adjective) of the word given in parentheses. The first one has been done as an example.</b>
<p>
<span id="rd">The number of people who shop via the Internet is growing. <b>(increase)</b> </span>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td><img src="ob/fl-1.jpg"> <span id="rd">An <b>increasing number of people</b> shop via the Internet.</span></td></tr>
<tr><td>Sales have risen this month. <b>(increase)</b></td></tr>
<tr><td><img src="ob/fl-1.jpg">There has been an <input type="text" name="q3a" size=15>in sales this month.</td></tr>
<tr><td>The number of visitors has gone up by 50% this year. <b>(double)</b></td></tr>
<tr><td><img src="ob/fl-1.jpg">The number of visitors<input type="text" name="q3b" size=15>this year.</td></tr>
<tr><td>Fewer and fewer people are wearing suits to work. <b>(decrease)</b></td></tr>
<tr><td><img src="ob/fl-1.jpg">A<input type="text" name="q3c" size=15>number of people are wearing suits to work.</td></tr>
<tr><td>Global temperatures are rising due to the greenhouse effect. <b>(rise)</b></td></tr>
<tr><td><img src="ob/fl-1.jpg">The<input type="text" name="q3d" size=15>in global temperatures is due to the greenhouse effect.</td></tr>
<tr><td>The number of people out of work falls in the summer. <b>(drop)</b></td></tr>
<tr><td><img src="ob/fl-1.jpg">There<input type="text" name="q3e" size=15>in the number of people out of work in the summer.</td></tr>
<tr><td>An increasing number of people are working from home. <b>(more)</b></td></tr>
<tr><td><img src="ob/fl-1.jpg"><input type="text" name="q3f" size=15>are working from home.</td></tr>
<tr><td>The program finished because viewer ratings dropped. <b>(fall)</b></td></tr>
<tr><td><img src="ob/fl-1.jpg">The program finished because of<input type="text" name="q3g" size=15>in viewer ratings.</td></tr>
<tr><td>There has been a steady rise in house prices over the last decade. <b>(go up)</b></td></tr>
<tr><td><img src="ob/fl-1.jpg">House prices<input type="text" name="q3h" size=15>steadily over the last decade.</td></tr>
</table>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>
<b>4. Adverbs and adjectives can be used to say how much and how fast things change.</b>
<p>
<table cellpadding=0 cellspacing=5>
<tr><td width=15></td><td><img src="ob/b1.jpg"></td><td><span id="rd">Unemployment went up <b>steadily</b> over the year. <b>(adverb)</b></span></td></tr>
<tr><td></td><td><img src="ob/b1.jpg"></td><td><span id="rd">There has been a <b>steady</b> rise in unemployment over the last year. <b>(adjective)</b></span></td></tr>
</table>
<p>
Choose an option from each box to show what degree of change is indicated by the adverbs and adjectives. 
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. steady / steadily</td><td width=30></td><td><select name="q4a"><option value=0>Choose Answer<option value=1>The changes are small or regular<option value=2>The changes are large or sudden</select></td></tr>
<tr><td>2. sharp / sharply</td><td></td><td><select name="q4b"><option value=0>Choose Answer<option value=1>The changes are small or regular<option value=2>The changes are large or sudden</select></td></tr>
<tr><td>3. slight / slightly</td><td></td><td><select name="q4c"><option value=0>Choose Answer<option value=1>The changes are small or regular<option value=2>The changes are large or sudden</select></td></tr>
<tr><td>4. dramatic / dramatically</td><td></td><td><select name="q4d"><option value=0>Choose Answer<option value=1>The changes are small or regular<option value=2>The changes are large or sudden</select></td></tr>
<tr><td>5. slow / slowly</td><td></td><td><select name="q4e"><option value=0>Choose Answer<option value=1>The changes are small or regular<option value=2>The changes are large or sudden</select></td></tr>
<tr><td>6. spectacular</td><td></td><td><select name="q4f"><option value=0>Choose Answer<option value=1>The changes are small or regular<option value=2>The changes are large or sudden</select></td></tr>
<tr><td>7. major</td><td></td><td><select name="q4g"><option value=0>Choose Answer<option value=1>The changes are small or regular<option value=2>The changes are large or sudden</select></td></tr>
<tr><td>8. substantial / substantially</td><td></td><td><select name="q4h"><option value=0>Choose Answer<option value=1>The changes are small or regular<option value=2>The changes are large or sudden</select></td></tr>
</table>
<p>
<center>
<button onclick="k4()">Check answers</button>
</center>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>