<script language="javascript">
function k2(){
if(q2a.value=="fits"|q2a.value=="Fits"){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2b.value=="tight"|q2b.value=="Tight"){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2c.value=="suits"|q2c.value=="Suits"){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2d.value=="take up"|q2d.value=="Take up"){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2e.value=="go with"|q2e.value=="Go with"){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2f.value=="match"|q2f.value=="Match"){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
if(q2g.value=="clash"|q2g.value=="Clash"){s2g="7. Correct<br>"}else{s2g="7. Incorrect<br>"}
if(q2h.value=="in a larger size"|q2h.value=="In a larger size"){s2h="8. Correct<br>"}else{s2h="8. Incorrect<br>"}
if(q2i.value=="in a smaller size"|q2i.value=="In a smaller size"){s2i="9. Correct<br>"}else{s2i="9. Incorrect<br>"}
if(q2j.value=="the next size down"|q2j.value=="The next size down"){s2j="10. Correct<br>"}else{s2j="10. Incorrect<br>"}
if(q2k.value=="fits"|q2k.value=="Fits"){s2k="11. Correct<br>"}else{s2k="11. Incorrect<br>"}
if(q2l.value=="loose"|q2l.value=="Loose"){s2l="12. Correct<br>"}else{s2l="12. Incorrect<br>"}
if(q2m.value=="taken up"|q2m.value=="Taken up"){s2m="13. Correct<br>"}else{s2m="13. Incorrect<br>"}
if(q2n.value=="don't go very well together"|q2n.value=="Don't go very well together"){s2n="14. Correct<br>"}else{s2n="14. Incorrect<br>"}
if(q2o.value=="clash"|q2o.value=="Clash"){s2o="15. Correct<br>"}else{s2o="15. Incorrect<br>"}
if(q2p.value=="altered"|q2p.value=="Altered"){s2p="16. Correct<br>"}else{s2p="16. Incorrect<br>"}
z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h+s2i+s2j+s2k+s2l+s2m+s2n+s2o+s2p
}
function k3(){
if(q3a.value=="tight"|q3a.value=="Tight"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="next size"|q3b.value=="Next size"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="next size down"|q3c.value=="Next size down"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="fit"|q3d.value=="Fit"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value=="down"|q3e.value=="Down"){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3f.value=="taken up"|q3f.value=="Taken up"){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3g.value=="taken out"|q3g.value=="Taken out"){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
if(q3h.value=="match"|q3h.value=="Match"){s3h="8. Correct<br>"}else{s3h="8. Incorrect<br>"}
if(q3i.value=="next"|q3i.value=="Next"){s3i="9. Correct<br>"}else{s3i="9. Incorrect<br>"}
if(q3j.value=="go"|q3j.value=="Go"){s3j="10. Correct<br>"}else{s3j="10. Incorrect<br>"}
if(q3k.value=="suits"|q3k.value=="Suits"){s3k="11. Correct<br>"}else{s3k="11. Incorrect<br>"}
if(q3l.value=="clash"|q3l.value=="Clash"){s3l="12. Correct<br>"}else{s3l="12. Incorrect<br>"}
z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h+s3i+s3j+s3k+s3l
}
function k4(){
if(q4a.value=="match"|q4a.value=="Match"){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value=="clash"|q4b.value=="Clash"){s4b="2. Correct<br>"}else{s4b="2. Incorrect<br>"}
if(q4c.value=="go"|q4c.value=="Go"){s4c="3. Correct<br>"}else{s4c="3. Incorrect<br>"}
if(q4d.value=="with"|q4d.value=="With"){s4d="4. Correct<br>"}else{s4d="4. Incorrect<br>"}
if(q4e.value=="loose"|q4e.value=="Loose"){s4e="5. Correct<br>"}else{s4e="5. Incorrect<br>"}
if(q4f.value=="size"|q4f.value=="Size"){s4f="6. Correct<br>"}else{s4f="6. Incorrect<br>"}
if(q4g.value=="down"|q4g.value=="Down"){s4g="7. Correct<br>"}else{s4g="7. Incorrect<br>"}
if(q4h.value=="fits"|q4h.value=="Fits"){s4h="8. Correct<br>"}else{s4h="8. Incorrect<br>"}
if(q4i.value=="alterations"|q4i.value=="Alterations"){s4i="9. Correct<br>"}else{s4i="9. Incorrect<br>"}
if(q4j.value=="let"|q4j.value=="Let"){s4j="10. Correct<br>"}else{s4j="10. Incorrect<br>"}
if(q4k.value=="down"|q4k.value=="Down"){s4k="11. Correct<br>"}else{s4k="11. Incorrect<br>"}
z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h+s4i+s4j+s4k
}
<div id="t1">
<span id="tit">Takeout English – Buying clothes</span>
<p>
<b>1. Listen to two dialogs in a clothing store and write down the answers to these questions. (Free answers)</b>
<p>
<a href="sn/u2b-1.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td></td><td><img src="ob/b1.jpg"></td><td>What is the person buying?</td></tr>
</table>
<table cellpadding=0 cellspacing=10>
<tr><td><input type="text" name="q1a" size=80></td></tr>
</table>
<table cellpadding=0 cellspacing=10>
<tr><td></td><td><img src="ob/b1.jpg"></td><td>What doubts does the customer have about the <a href="#" onclick="window.open('t-u2b-1.htm','_blank','width=275,height=140');">garment</a>? </td></tr>
</table>
<table cellpadding=0 cellspacing=10>
<tr><td><input type="text" name="q1b" size=80></td></tr>
</table>
<p>
<b>2. Write down the missing words and expressions. Then read and check.</b>
<p>
<a href="sn/u2b-1.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<b>Dialog 1</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>A: Can I help you?</td></tr>
<tr><td>B: Yes, it's this blouse. I'm not sure if it <input type="text" name="q2a" size=15><sub>(1)</sub> properly. It feels <input type="text" name="q2b" size=15><sub>(2)</sub>, but the sleeves are too long.</td></tr>
<tr><td>A: That's the style. And it <input type="text" name="q2c" size=15><sub>(3)</sub> you. You've got the right shape for it. We could always <input type="text" name="q2d" size=15><sub>(4)</sub> the sleeves for you.</td></tr>
<tr><td>B: What about the color? I want it to <input type="text" name="q2e" size=15><sub>(5)</sub> these trousers.</td></tr>
<tr><td>A: To be honest, I'm not sure the colors <input type="text" name="q2f" size=15><sub>(6)</sub>. Pink and gray tend to <input type="text" name="q2g" size=15><sub>(7)</sub>. Why don't you try the navy blue one?</td></tr>
<tr><td>B: OK. And could I try it on <input type="text" name="q2h" size=15><sub>(8)</sub>?</td></tr>
</table>
<p>
<b>Dialog 2</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>A: Can I help you?</td></tr>
<tr><td>B: Yes, have you got this jacket <input type="text" name="q2i" size=15><sub>(9)</sub>?</td></tr>
<tr><td>A: I'm afraid we haven't. We sold out of <input type="text" name="q2j" size=15><sub>(10)</sub>.</td></tr>
<tr><td>B: Well do you think it <input type="text" name="q2k" size=15><sub>(11)</sub>, or does it look too big?</td></tr>
<tr><td>A: A little <input type="text" name="q2l" size=15><sub>(12)</sub> around the shoulders, but it'll be OK in the winter if you wear a jumper under it. And we could have the sleeves <input type="text" name="q2m" size=15><sub>(13)</sub> a bit if they feel long. Are you going to wear it with those trousers?</td></tr>
<tr><td>B: Why do you ask?</td></tr>
<tr><td>A: Well, brown and blue <input type="text" name="q2n" size=15><sub>(14)</sub>. They <input type="text" name="q2o" size=15><sub>(15)</sub>.</td></tr>
<tr><td>B: Do you think so? Well, I'll take it anyway, as long as the sleeves could be <input type="text" name="q2p" size=15><sub>(16)</sub>.</td></tr>
</table>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Complete this dialog. Write one word only for each blank.</b>
<p>
Repetition language.
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>A: Could I help you?</td></tr>
<tr><td>B: (1) Yes, I'm looking for a jacket to <input type="text" name="q4a" size=15> these trousers. Something navy.</td></tr>
<tr><td>A: (2) You'd be better off with gray. Navy tends to <input type="text" name="q4b" size=15> with brown. Why don't you try on this one?</td></tr>
<tr><td>B: (3) OK (pause). Yes, the color does <input type="text" name="q4c" size=15> well <input type="text" name="q4d" size=15> the trousers, as you said.</td></tr>
<tr><td>A: Does it feel comfortable?</td></tr>
<tr><td>B: (4) I think it's too big. It feels a bit <input type="text" name="q4e" size=15> around the chest.</td></tr>
<tr><td>A: (5) Lift up your arms a moment … Yes, you probably need the next <input type="text" name="q4f" size=15> <input type="text" name="q4g" size=15>. Here, try this. (pause) How's that?</td></tr>
<tr><td>B: (6) Yes. That <input type="text" name="q4h" size=15> pretty well. The sleeves are a bit short, though. Do you do <input type="text" name="q4i" size=15>?</td></tr>
<tr><td>A: (7) Let's have a look. Yes, I'm sure we could <input type="text" name="q4j" size=15> them <input type="text" name="q4k" size=15> a little.</td></tr>
</table>
<p>
<center>
<button onclick="k4()">Check answers</button>
</center>
<p>
<b>Listen and check your answers.</b>
<p>
<a href="sn/u2b-2.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
</div>

<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>