<script language="javascript">
function k1(){
if(q1a.value=="for"|q1a.value=="For"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="out"|q1b.value=="Out"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="together"|q1c.value=="Together"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="without"|q1d.value=="Without"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="up"|q1e.value=="Up"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="down"|q1f.value=="Down"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value=="up"|q1g.value=="Up"){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value=="down"|q1h.value=="Down"){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}
z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h
}
function k2(){
if(q2a.value=="soak up"|q2a.value=="Soak up"){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2b.value=="liven up"|q2b.value=="Liven up"){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2c.value=="do without"|q2c.value=="Do without"){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2d.value=="hold together"|q2d.value=="Hold together"){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2e.value=="go for"|q2e.value=="Go for"){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2f.value=="turn out"|q2f.value=="Turn out"){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
if(q2g.value=="wash down"|q2g.value=="Wash down"){s2g="7. Correct<br>"}else{s2g="7. Incorrect<br>"}
if(q2h.value=="slim down"|q2h.value=="Slim down"){s2h="8. Correct<br>"}else{s2h="8. Incorrect<br>"}
z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h
}
function k3(){
if(q3a.value=="liven up"|q3a.value=="Liven up"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="turn out"|q3b.value=="Turn out"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="soak up"|q3c.value=="Soak up"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="slim down"|q3d.value=="Slim down"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value=="wash down"|q3e.value=="Wash down"){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3f.value=="hold together"|q3f.value=="Hold together"){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3g.value=="go for"|q3g.value=="Go for"){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
if(q3h.value=="do without"|q3h.value=="Do without"){s3h="8. Correct<br>"}else{s3h="8. Incorrect<br>"}
z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h
}
<div id="t1">
<span id="tit">Food phrasal verbs</span>
<p>
<b>1. Phrasal verbs in context.</b>
<p>
<b>Put the particles (the preposition or adverb) back into the sentences. Choose the correct word of the options and write in the boxes.</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor="#000000">
<tr><td width=80 align="center">together</td><td width=80 align="center">out</td><td width=80 align="center">for</td><td width=80 align="center">down</td></tr>
<tr><td align="center">down</td><td align="center">up</td><td align="center">up</td><td align="center">without</td></tr>
</table>
</center>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. Sadly, going <input type="text" name="q1a" size=15> a healthy option takes a conscious effort.</td></tr>
<tr><td>2. Junk food turns <input type="text" name="q1b" size=15> to be better for you than it's generally thought to be.</td></tr>
<tr><td>3. Hamburgers, made from beef, lettuce and tomato held <input type="text" name="q1c" size=15> in a sesame seed bun, are surprisingly healthy.</td></tr>
<tr><td>4. Double cheeseburgers supply over 900 calories, which I'm sure you could do <input type="text" name="q1d" size=15>.</td></tr>
<tr><td>5. You can liven a kebab <input type="text" name="q1e" size=15> a little with some chilli sauce.</td></tr>
<tr><td>6. To slim <input type="text" name="q1f" size=15> pizzas, ask for less or no cheese.</td></tr>
<tr><td>7. The thicker fries soak <input type="text" name="q1g" size=15> less fat during cooking.</td></tr>
<tr><td>8. A carbonated drink is what most people choose to wash <input type="text" name="q1h" size=15> their meal.</td></tr>
</table>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Here are the phrasal verbs from exercise 1. Match each one with a definition.</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor="#000000">
<tr><td width=80 align="center">go for</td><td width=80 align="center">wash down</td><td width=120 align="center">hold together</td><td width=80 align="center">slim down</td></tr>
<tr><td align="center">soak up</td><td align="center">turn out</td><td align="center">do without</td><td align="center">liven up</td></tr>
</table>
</center>
<p>
<table cellpadding=0 cellspacing=10 width=650>
<tr><td><input type="text" name="q2a" size=20> to absorb</td></tr>
<tr><td><input type="text" name="q2b" size=20> to make more intense or lively</td></tr>
<tr><td><input type="text" name="q2c" size=20> to not need or not want something, usually something bad or annoying</td></tr>
<tr><td><input type="text" name="q2d" size=20> to keep in one piece</td></tr>
<tr><td><input type="text" name="q2e" size=20> to choose</td></tr>
<tr><td><input type="text" name="q2f" size=20> to be or become something that you were not expecting</td></tr>
<tr><td><input type="text" name="q2g" size=20> to drink something with or after (what you are eathing)</td></tr>
<tr><td><input type="text" name="q2h" size=20> to make or become less fatty</td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Use the phrasal verbs from exercises 1 and 2 to complete the following sentences.</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor="#000000">
<tr><td width=80 align="center">go for</td><td width=80 align="center">wash down</td><td width=80 align="center">do without</td><td width=120 align="center">hold together</td></tr>
<tr><td align="center">soak up</td><td align="center">turn out</td><td align="center">slim down</td><td align="center">liven up</td></tr>
</table>
</center>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. Why don't we put on some salsa music to <input type="text" name="q3a" size=15> this party a little.</td></tr>
<tr><td>2. I hated my colleagues at first, but now I know them better they <input type="text" name="q3b" size=15> to be very nice.</td></tr>
<tr><td>3. I'm going for a walk around the port to <input type="text" name="q3c" size=15> the atmosphere.</td></tr>
<tr><td>4. I think you should eat less and try to <input type="text" name="q3d" size=15> a little.</td></tr>
<tr><td>5. Do you want a glass of water to <input type="text" name="q3e" size=15> that aspirin?</td></tr>
<tr><td>6. They don't love each other. It's the children who <input type="text" name="q3f" size=15> the family.</td></tr>
<tr><td>7. If you're buying a new car, don't <input type="text" name="q3g" size=15> a white one&#151;they show the dirt.</td></tr>
<tr><td>8. It's a well paid job, but I could <input type="text" name="q3h" size=15> having to get up at five o'clock every morning.</td></tr>
</table>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>