<div id="t1">
<span id="tit">Apologizing and making excuses</span>
<p>
<b>1. read this story.</b>
<p>
The mystery of a missing American woman was solved yesterday when police traced her to Christchurch. Raewyn Tonkin, 30, was found safe and well in a central backpackers' hostel last night. The search began on Saturday after a farmer noticed her abandoned car. Yesterday afternoon police called off the search after Miss Tonkin was seen on a bus bound for Christchurch in the company of a man described as an Australian tourist.
<p>
Listen to these short extracts. 
<p>
<a href="sn/u4d-1.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
Which one is Raewyn Tonkin, do you think?
<p>
<table cellpadding=0 cellspacing=10>
<tr><td><input type="checkbox" name="q1a"> 1 <input type="checkbox" name="q1b"> 2 <input type="checkbox" name="q1c"> 3 <input type="checkbox" name="q1d"> 4 <input type="checkbox" name="q1e"> 5</td></tr>
</table>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Listen again, and write the exact words:</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. I'm sorry <input type="text" name="q2a" size=10> <input type="text" name="q2b" size=10>. I <input type="text" name="q2c" size=10> to wait for <input type="text" name="q2d" size=10> for a bus, and then the traffic was <input type="text" name="q2e" size=10>. </td></tr>
<tr><td>2. I'm sorry you <input type="text" name="q2f" size=10> <input type="text" name="q2g" size=10> <input type="text" name="q2h" size=10> <input type="text" name="q2i" size=10> <input type="text" name="q2j" size=10> <input type="text" name="q2k" size=10> trouble. You really <input type="text" name="q2l" size=10> <input type="text" name="q2m" size=10> <input type="text" name="q2n" size=10>. </td></tr>
<tr><td>3. I'm <input type="text" name="q2o" size=10> <input type="text" name="q2p" size=10> sorry <input type="text" name="q2q" size=10> <input type="text" name="q2r" size=10> <input type="text" name="q2s" size=10> <input type="text" name="q2t" size=10> I've caused. I <input type="text" name="q2u" size=10> phoned but there was nowhere I could phone from. I <input type="text" name="q2v" size=10> <input type="text" name="q2w" size=10> <input type="text" name="q2x" size=10> <input type="text" name="q2y" size=10> idiot. Please <input type="text" name="q2z" size=10> <input type="text" name="q2aa" size=10> <input type="text" name="q2ab" size=10>. I'll never <input type="text" name="q2ac" size=10> <input type="text" name="q2ad" size=10> <input type="text" name="q2ae" size=10>. </td></tr>
<tr><td>4. I'm sorry <input type="text" name="q2af" size=10> <input type="text" name="q2ag" size=10> <input type="text" name="q2ah" size=10> <input type="text" name="q2ai" size=10> nuisance. I <input type="text" name="q2aj" size=10> <input type="text" name="q2ak" size=10> <input type="text" name="q2al" size=10> silly of me <input type="text" name="q2am" size=10> <input type="text" name="q2an" size=10> phone. </td></tr>
<tr><td>5. I'm sorry, but <input type="text" name="q2ao" size=10> <input type="text" name="q2ap" size=10> <input type="text" name="q2aq" size=10> <input type="text" name="q2ar" size=10> fault. I just decided to go for a walk. I don't know <input type="text" name="q2as" size=10> <input type="text" name="q2at" size=10> <input type="text" name="q2au" size=10> <input type="text" name="q2av" size=10> <input type="text" name="q2aw" size=10> <input type="text" name="q2ax" size=10>. </td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Use expressions from the box to complete these dialogs.</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor="#000000">
<tr><td align="center" width=350>I'm sorry I'm late</td><td align="center" width=350>I don't know what all the fuss is about</td></tr>
<tr><td align="center">I'm sorry, but it wasn't really my fault</td><td align="center">Please accept my apologies</td></tr>
<tr><td align="center">I'm sorry you had to go to so much trouble</td><td align="center">You really shouldn't have bothered</td></tr>
<tr><td align="center">I'm really terribly sorry for all the trouble I've caused</td><td align="center">&#160;</td></tr>
</table>
</center>
<p>
<table cellpadding=0 cellspacing=10 width=700>
<tr><td>1</td><td>A:</td><td>Somebody went out and forgot to switch the answering phone on!</td></tr>
<tr><td></td><td>B:</td><td><input type="text" name="q3a" size=25>. Nobody told me to switch it on.</td></tr>
<tr><td></td><td></td><td><input type="text" name="q3b" size=25>.</td></tr>
<tr><td>2</td><td>A:</td><td>I know you're vegetarian so I made a salad especially for you.</td></tr>
<tr><td></td><td>B:</td><td><input type="text" name="q3c" size=25>. <input type="text" name="q3d" size=15>.</td></tr>
<tr><td>3</td><td>A:</td><td>It's half past eight and the film started at eight!</td></tr>
<tr><td></td><td>B:</td><td><input type="text" name="q3e" size=25>. I couldn't find a taxi.</td></tr>
<tr><td>4</td><td>A:</td><td>It took us a week to finalize your travel reservations, and now you're telling me you're canceling it! </td></tr>
<tr><td></td><td>B:</td><td><input type="text" name="q3f" size=25>. <input type="text" name="q3g" size=15>.</td></tr>
</table>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>
4. Now listen to the dialogs and repeat B's apologies. 
<p>
<a href="sn/u4d-2.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>