<script language="javascript">
function k1(){
if(q1a.checked==false&q1b.checked==true){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1c.checked==true&q1d.checked==false){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1e.checked==true&q1f.checked==false){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1g.checked==false&q1h.checked==true){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1i.checked==false&q1j.checked==true){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
z1.innerHTML=s1a+s1b+s1c+s1d+s1e
}
function k2(){
if(q2a.checked==false&q2b.checked==true){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2c.checked==true&q2d.checked==false){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2e.checked==true&q2f.checked==false){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2g.checked==false&q2h.checked==true){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2i.checked==true&q2j.checked==false){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2k.checked==false&q2l.checked==true){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
if(q2m.checked==false&q2n.checked==true){s2g="7. Correct<br>"}else{s2g="7. Incorrect<br>"}
if(q2o.checked==true&q2p.checked==false){s2h="8. Correct<br>"}else{s2h="8. Incorrect<br>"}
z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h
}
function k3(){
if(q3a.value=="I"|q3a.value=="i"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="remember"|q3b.value=="Remember"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="when"|q3c.value=="When"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="I"|q3d.value=="i"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value=="was"|q3e.value=="Was"){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3f.value=="young"|q3f.value=="Young"){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3g.value=="we"|q3g.value=="We"){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
if(q3h.value=="were"|q3h.value=="Were"){s3h="8. Correct<br>"}else{s3h="8. Incorrect<br>"}
if(q3i.value=="always"|q3i.value=="Always"){s3i="9. Correct<br>"}else{s3i="9. Incorrect<br>"}
if(q3j.value=="bored"|q3j.value=="Bored"){s3j="10. Correct<br>"}else{s3j="10. Incorrect<br>"}
if(q3k.value=="things"|q3k.value=="Things"){s3k="11. Correct<br>"}else{s3k="11. Incorrect<br>"}
if(q3l.value=="to"|q3l.value=="To"){s3l="12. Correct<br>"}else{s3l="12. Incorrect<br>"}
if(q3m.value=="do"|q3m.value=="Do"){s3m="13. Correct<br>"}else{s3m="13. Incorrect<br>"}
if(q3n.value=="to"|q3n.value=="To"){s3n="14. Correct<br>"}else{s3n="14. Incorrect<br>"}
if(q3o.value=="kill"|q3o.value=="Kill"){s3o="15. Correct<br>"}else{s3o="15. Incorrect<br>"}
if(q3p.value=="time"|q3p.value=="Time"){s3p="16. Correct<br>"}else{s3p="16. Incorrect<br>"}
if(q3q.value=="doing"|q3q.value=="Doing"){s3q="17. Correct<br>"}else{s3q="17. Incorrect<br>"}
if(q3r.value=="dangerous"|q3r.value=="Dangerous"){s3r="18. Correct<br>"}else{s3r="18. Incorrect<br>"}
if(q3s.value=="things"|q3s.value=="Things"){s3s="19. Correct<br>"}else{s3s="19. Incorrect<br>"}
if(q3t.value=="fool"|q3t.value=="Fool"){s3t="20. Correct<br>"}else{s3t="20. Incorrect<br>"}
if(q3u.value=="about"|q3u.value=="About"){s3u="21. Correct<br>"}else{s3u="21. Incorrect<br>"}
if(q3v.value=="as"|q3v.value=="As"){s3v="22. Correct<br>"}else{s3v="22. Incorrect<br>"}
if(q3w.value=="much"|q3w.value=="Much"){s3w="23. Correct<br>"}else{s3w="23. Incorrect<br>"}
if(q3x.value=="as"|q3x.value=="As"){s3x="24. Correct<br>"}else{s3x="24. Incorrect<br>"}
if(q3y.value=="they"|q3y.value=="They"){s3y="25. Correct<br>"}else{s3y="25. Incorrect<br>"}
if(q3z.value=="did"|q3z.value=="Did"){s3z="26. Correct<br>"}else{s3z="26. Incorrect<br>"}
if(q3aa.value=="these"|q3aa.value=="These"){s3aa="27. Correct<br>"}else{s3aa="27. Incorrect<br>"}
if(q3ab.value=="days"|q3ab.value=="Days"){s3ab="28. Correct<br>"}else{s3ab="28. Incorrect<br>"}
if(q3ac.value=="they"|q3ac.value=="They"){s3ac="29. Correct<br>"}else{s3ac="29. Incorrect<br>"}
if(q3ad.value=="spend"|q3ad.value=="Spend"){s3ad="30. Correct<br>"}else{s3ad="30. Incorrect<br>"}
if(q3ae.value=="their"|q3ae.value=="Their"){s3ae="31. Correct<br>"}else{s3ae="31. Incorrect<br>"}
if(q3af.value=="time"|q3af.value=="Time"){s3af="32. Correct<br>"}else{s3af="32. Incorrect<br>"}
if(q3ag.value=="on"|q3ag.value=="On"){s3ag="33. Correct<br>"}else{s3ag="33. Incorrect<br>"}
z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h+s3i+s3j+s3k+s3l+s3m+s3n+s3o+s3p+s3q+s3r+s3s+s3t+s3u+s3v+s3w+s3x+s3y+s3z+s3aa+s3ab+s3ac+s3ad+s3ae+s3af+s3ag
}
<div id="t1">
<span id="tit">Teenage pastimes</span>
<p>
<b>1. Listen to this man talking about the things he used to do to kill time when he was a teenager.</b>
<p>
<a href="sn/u6c-1.mp3"><img src="ob/s-1.jpg" border=0></a>
 <p>
<b>Click on the activities he used to do.</b>
 <p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. Elevator or lift surfing</td></tr>
<tr><td><input type="checkbox" name="q1a"> Used to do <input type="checkbox" name="q1b"> Didn't use to do</td></tr>
<tr><td>2. Joyriding</td></tr>
<tr><td><input type="checkbox" name="q1c"> Used to do <input type="checkbox" name="q1d"> Didn't use to do</td></tr>
<tr><td>3. Skateboarding</td></tr>
<tr><td><input type="checkbox" name="q1e"> Used to do <input type="checkbox" name="q1f"> Didn't use to do</td></tr>
<tr><td>4. Horseback riding</td></tr>
<tr><td><input type="checkbox" name="q1g"> Used to do <input type="checkbox" name="q1h"> Didn't use to do</td></tr>
<tr><td>5. Net surfing</td></tr>
<tr><td><input type="checkbox" name="q1i"> Used to do <input type="checkbox" name="q1j"> Didn't use to do</td></tr>
</table>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Listen again and decide if these sentences are true or false.</b>
<p>
<a href="sn/u6c-1.mp3"><img src="ob/s-1.jpg" border=0></a>
 <p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 He lived in an tower blocks in the north of Chicago.</td></tr>
<tr><td><input type="checkbox" name="q2a"> true <input type="checkbox" name="q2b"> false</td></tr>
<tr><td>2 He and his friends were always bored when he was young.</td></tr>
<tr><td><input type="checkbox" name="q2c"> true <input type="checkbox" name="q2d"> false</td></tr>
<tr><td>3 They sometimes did dangerous things to kill time.</td></tr>
<tr><td><input type="checkbox" name="q2e"> true <input type="checkbox" name="q2f"> false</td></tr>
<tr><td>4 They went joyriding and crashed a car.</td></tr>
<tr><td><input type="checkbox" name="q2g"> true <input type="checkbox" name="q2h"> false</td></tr>
<tr><td>5 They used to go skateboarding in the middle of the traffic.</td></tr>
<tr><td><input type="checkbox" name="q2i"> true <input type="checkbox" name="q2j"> false</td></tr>
<tr><td>6 They stopped because drivers got angry with them.</td></tr>
<tr><td><input type="checkbox" name="q2k"> true <input type="checkbox" name="q2l"> false</td></tr>
<tr><td>7 Kids today don't do anything dangerous to kill time.</td></tr>
<tr><td><input type="checkbox" name="q2m"> true <input type="checkbox" name="q2n"> false</td></tr>
<tr><td>8 Young people today stay at home more than he did when he was young.</td></tr>
<tr><td><input type="checkbox" name="q2o"> true <input type="checkbox" name="q2p"> false</td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Listen to two extracts and type his words in the spaces below:</b>
<p>
<a href="sn/u6c-2.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>I was born in London, in south London, um, I lived in an tower blocks
 in south London, and <sub>1</sub><input type="text" name="q3a" size=5> <sub>2</sub><input type="text" name="q3b" size=20> <sub>3</sub><input type="text" name="q3c" size=15> <sub>4</sub><input type="text" name="q3d" size=5> 
<sub>5</sub><input type="text" name="q3e" size=15> <sub>6</sub><input type="text" name="q3f" size=20> that, that me and me friends, <sub>7</sub><input type="text" name="q3g" size=10> <sub>8</sub><input type="text" name="q3h" size=15>
 <sub>9</sub><input type="text" name="q3i" size=15> <sub>10</sub><input type="text" name="q3j" size=15> and trying to think of <sub>11</sub><input type="text" name="q3k" size=20> <sub>12</sub><input type="text" name="q3l" size=10> <sub>13</sub><input type="text" name="q3m" size=10>
<sub>14</sub><input type="text" name="q3n" size=10> <sub>15</sub><input type="text" name="q3o" size=15> <sub>16</sub><input type="text" name="q3p" size=15>, you know, messing about, um,
 sometimes <sub>17</sub><input type="text" name="q3q" size=15> <sub>18</sub><input type="text" name="q3r" size=20> <sub>19</sub><input type="text" name="q3s" size=15>.</td></tr>

<tr><td>I don't think teens <sub>20</sub><input type="text" name="q3t" size=10> <sub>21</sub><input type="text" name="q3u" size=15> <sub>22</sub><input type="text" name="q3v" size=5> <sub>23</sub><input type="text" name="q3w" size=10> <sub>24</sub><input type="text" name="q3x" size=5> <sub>25</sub><input type="text" name="q3y" size=10> 
<sub>26</sub><input type="text" name="q3z" size=10> when I was young. I mean, a lot of them seem to have 
computers at home <sub>27</sub><input type="text" name="q3aa" size=20> <sub>28</sub><input type="text" name="q3ab" size=15> and <sub>29</sub><input type="text" name="q3ac" size=15> <sub>30</sub><input type="text" name="q3ad" size=20> <sub>31</sub><input type="text" name="q3ae" size=20> 
<sub>32</sub><input type="text" name="q3af" size=15> <sub>33</sub><input type="text" name="q3ag" size=10> the computer playing games or, or net
 surfing on the Internet.<tr><td>
</table>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>
<b>Now look at the transcript.</b>
<p>
<center>
<a href="#" onclick="window.open('t-u6c-1.htm','_blank','width=600,height=300');"><b>view transcript</b></a>
</center>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>