<script language="javascript">
function k1(){
if(q1a.value=="I did say something."|q1a.value=="i did say something."){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="if you do fail"|q1b.value=="If you do fail"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="if I have got it"|q1c.value=="If I have got it"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="if we do go"|q1d.value=="If we do go"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="if you do like it"|q1e.value=="If you do like it"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="if you had met"|q1f.value=="If you had met"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value=="but she did study"|q1g.value=="But she did study"){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value=="but he does eat"|q1h.value=="But he does eat"){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}
z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h
}
function k2(){
if(q2a.checked==false&q2b.checked==true&q2c.checked==false){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2d.checked==false&q2e.checked==false&q2f.checked==true){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2g.checked==true&q2h.checked==false&q2i.checked==false){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2j.checked==false&q2k.checked==true&q2l.checked==false){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2m.checked==true&q2n.checked==false&q2o.checked==false){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2p.checked==false&q2q.checked==true&q2r.checked==false){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f
}
function k3(){
if(q3a.checked==false&q3b.checked==true&q3c.checked==false){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3d.checked==true&q3e.checked==false&q3f.checked==false){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3g.checked==false&q3h.checked==false&q3i.checked==true){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3j.checked==false&q3k.checked==true&q3l.checked==false){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3m.checked==false&q3n.checked==true&q3o.checked==false){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3p.checked==false&q3q.checked==false&q3r.checked==true){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3s.checked==true&q3t.checked==false&q3u.checked==false){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
if(q3v.checked==false&q3w.checked==false&q3x.checked==true){s3h="8. Correct<br>"}else{s3h="8. Incorrect<br>"}
if(q3y.checked==false&q3z.checked==true&q3aa.checked==false){s3i="9. Correct<br>"}else{s3i="9. Incorrect<br>"}
if(q3ab.checked==true&q3ac.checked==false&q3ad.checked==false){s3j="10. Correct<br>"}else{s3j="10. Incorrect<br>"}
z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h+s3i+s3j
}
function k4(){
if(q4a.value==2){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value==1){s4b="2. Correct<br>"}else{s4b="2. Incorrect<br>"}
if(q4c.value==1){s4c="3. Correct<br>"}else{s4c="3. Incorrect<br>"}
if(q4d.value==2){s4d="4. Correct<br>"}else{s4d="4. Incorrect<br>"}
if(q4e.value==2){s4e="5. Correct<br>"}else{s4e="5. Incorrect<br>"}
if(q4f.value==1){s4f="6. Correct<br>"}else{s4f="6. Incorrect<br>"}
if(q4g.value==2){s4g="7. Correct<br>"}else{s4g="7. Incorrect<br>"}
if(q4h.value==1){s4h="8. Correct<br>"}else{s4h="8. Incorrect<br>"}
if(q4i.value==2){s4i="9. Correct<br>"}else{s4i="9. Incorrect<br>"}
if(q4j.value==1){s4j="10. Correct<br>"}else{s4j="10. Incorrect<br>"}
if(q4k.value==1){s4k="11. Correct<br>"}else{s4k="11. Incorrect<br>"}
if(q4l.value==2){s4l="12. Correct<br>"}else{s4l="12. Incorrect<br>"}
z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h+s4i+s4j+s4k+s4l
}
<div id="t1">
<span id="tit">Listening: Obsessions</span>
<p>
<b>1. Listen to these three people being interviewed about an obsession each one has.</b>
<p>
<a href="sn/u7b-1.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<b>Write down notes under these headings:</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>	</td><td width=15></td><td align="center">Obsession</td><td align="center">Symptoms</td><td align="center">Affect on other people</td></tr>
<tr><td>Person 1</td><td></td><td><input type="text" name="q1a" size=20></td><td><input type="text" name="q1b" size=20></td><td><input type="text" name="q1c" size=20></td></tr>
<tr><td>Person 2</td><td></td><td><input type="text" name="q1d" size=20></td><td><input type="text" name="q1e" size=20></td><td><input type="text" name="q1f" size=20></td></tr>
<tr><td>Person 3</td><td></td><td><input type="text" name="q1g" size=20></td><td><input type="text" name="q1h" size=20></td><td><input type="text" name="q1i" size=20></td></tr>
</table>
<p>
<b>2. Listen again and answer these questions.</b>
<p>
<a href="sn/u7b-1.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1</td><td> If Speaker 1 misses an episode</td></tr>
<tr><td></td><td><input type="checkbox" name="q2a">she reads about it in a magazine.<br><input type="checkbox" name="q2b">she watches the repeat version.<br><input type="checkbox" name="q2c">she records it and watches it later.</td></tr>
<tr><td>2</td><td> Her friends complain because</td></tr> 
<tr><td></td><td><input type="checkbox" name="q2d">they have to record episodes for her.<br><input type="checkbox" name="q2e">they don't find it exciting.<br><input type="checkbox" name="q2f">they never see her.</td></tr>
<tr><td>3</td><td> Speaker 2's mother is worried that</td></tr>
<tr><td></td><td><input type="checkbox" name="q2g">a visitor may arrive unexpectedly.<br><input type="checkbox" name="q2h">the house is not in perfect working order.<br><input type="checkbox" name="q2i">her son doesn't feel comfortable when he visits.</td></tr>
<tr><td>4</td><td> If he's eating a sandwich, his mother</td></tr>
<tr><td></td><td><input type="checkbox" name="q2j">tells him not to touch anything afterwards.<br><input type="checkbox" name="q2k">cleans up while he's eating.<br><input type="checkbox" name="q2l">puts paper down to catch the crumbs.</td></tr>	
<tr><td>5</td><td> Speaker 3's friend goes to the cinema</td></tr>
<tr><td></td><td><input type="checkbox" name="q2m">four or five times a week.<br><input type="checkbox" name="q2n">with her boyfriend.<br><input type="checkbox" name="q2o">on her own from time to time.</td></tr>	
<tr><td>6</td><td> Her boyfriend doesn't like it because</td></tr>
<tr><td></td><td><input type="checkbox" name="q2p">he wants to go with her.<br><input type="checkbox" name="q2q">he doesn't like her going alone.<br><input type="checkbox" name="q2r">he prefers to go walking in the country.</td></tr>	
</table>
 <p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Who says:</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1</td><td>"The result of this is that I don't feel comfortable"</td></tr>
<tr><td></td><td><input type="checkbox" name="q3a">Speaker 1<br><input type="checkbox" name="q3b">Speaker 2<br><input type="checkbox" name="q3c">Speaker 3</td></tr>
<tr><td>2</td><td>"I guess you could say I'm addicted"</td></tr>
<tr><td></td><td><input type="checkbox" name="q3d">Speaker 1<br><input type="checkbox" name="q3e">Speaker 2<br><input type="checkbox" name="q3f">Speaker 3</td></tr>
<tr><td>3</td><td>"She's quite happy to go on her own as well"</td></tr>
<tr><td></td><td><input type="checkbox" name="q3g">Speaker 1<br><input type="checkbox" name="q3h">Speaker 2<br><input type="checkbox" name="q3i">Speaker 3</td></tr>
<tr><td>4</td><td>"It's very nerve-wracking"</td></tr>
<tr><td></td><td><input type="checkbox" name="q3j">Speaker 1<br><input type="checkbox" name="q3k">Speaker 2<br><input type="checkbox" name="q3l">Speaker 3</td></tr>
<tr><td>5</td><td>"Talking about obsessions..."</td></tr>
<tr><td></td><td><input type="checkbox" name="q3m">Speaker 1<br><input type="checkbox" name="q3n">Speaker 2<br><input type="checkbox" name="q3o">Speaker 3</td></tr>
<tr><td>6</td><td>"which is a bit of a problem"</td></tr>
<tr><td></td><td><input type="checkbox" name="q3p">Speaker 1<br><input type="checkbox" name="q3q">Speaker 2<br><input type="checkbox" name="q3r">Speaker 3</td></tr>
<tr><td>7</td><td>"if by any misfortune"</td></tr>
<tr><td></td><td><input type="checkbox" name="q3s">Speaker 1<br><input type="checkbox" name="q3t">Speaker 2<br><input type="checkbox" name="q3u">Speaker 3</td></tr>
<tr><td>8</td><td>"absolutely addicted"</td></tr>
<tr><td></td><td><input type="checkbox" name="q3v">Speaker 1<br><input type="checkbox" name="q3w">Speaker 2<br><input type="checkbox" name="q3x">Speaker 3</td></tr>
<tr><td>9</td><td>"literally obsessed"</td></tr>
<tr><td></td><td><input type="checkbox" name="q3y">Speaker 1<br><input type="checkbox" name="q3z">Speaker 2<br><input type="checkbox" name="q3aa">Speaker 3</td></tr>
<tr><td>10</td><td>"unhealthy"</td></tr>
<tr><td></td><td><input type="checkbox" name="q3ab">Speaker 1<br><input type="checkbox" name="q3ac">Speaker 2<br><input type="checkbox" name="q3ad">Speaker 3</td></tr>
</table>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>
<b>4. Choose the correct option for the words.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>dirty <select name="q4a"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>record <select name="q4b"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
<tr><td>telly <select name="q4c"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>dusting <select name="q4d"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
<tr><td>crumbs <select name="q4e"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>episode <select name="q4f"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
<tr><td>tidyng <select name="q4g"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>soap operas <select name="q4h"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
<tr><td>mopping <select name="q4i"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>repeat version <select name="q4j"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
<tr><td>stars <select name="q4k"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>hovering <select name="q4l"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
</table>
 <p>
<center>
<button onclick="k4()">Check answers</button>
</center>
<p>
<b>Now look at the transcript and check your answers.</b>
<p>
<center>
<a href="#" onclick="window.open('t-u7b-1.htm','_blank','width=600,height=600');"><b>view transcript</b></a>
</center>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>