<script language="javascript">
function k1(){
if(q1a.checked==true&q1b.checked==false){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
z1.innerHTML=s1a
}
function k2(){
if(q2a.value=="Amsterdam"|q2a.value=="amsterdam"){s2a="5. Correct<br>"}else{s2a="5. Incorrect<br>"}
if(q2b.value=="ferry"|q2b.value=="Ferry"){s2b="6. Correct<br>"}else{s2b="6. Incorrect<br>"}
if(q2c.value=="Amsterdam"|q2c.value=="amsterdam"){s2c="7. Correct<br>"}else{s2c="7. Incorrect<br>"}
if(q2d.value=="Milan"|q2d.value=="milan"){s2d="8. Correct<br>"}else{s2d="8. Incorrect<br>"}
if(q2e.value=="bus"|q2e.value=="Bus"){s2e="9. Correct<br>"}else{s2e="9. Incorrect<br>"}
if(q2f.value=="Milan"|q2f.value=="milan"){s2f="10. Correct<br>"}else{s2f="10. Incorrect<br>"}
if(q2g.value=="Venice"|q2g.value=="venice"){s2g="11. Correct<br>"}else{s2g="11. Incorrect<br>"}
if(q2h.value=="train"|q2h.value=="Train"){s2h="12. Correct<br>"}else{s2h="12. Incorrect<br>"}
if(q2i.value=="Venice"|q2i.value=="venice"){s2i="13. Correct<br>"}else{s2i="13. Incorrect<br>"}
if(q2j.value=="Alexandria"|q2j.value=="alexandria"){s2j="14. Correct<br>"}else{s2j="14. Incorrect<br>"}
if(q2k.value=="ferry"|q2k.value=="Ferry"){s2k="15. Correct<br>"}else{s2k="15. Incorrect<br>"}
z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h+s2i+s2j+s2k
}
function k3(){
if(q3a.value==3){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value==2){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value==1){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value==3){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value==3){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3f.value==1){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f
}
function k4(){
if(q4a.value==3){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value==3){s4b="2. Correct<br>"}else{s4b="2. Incorrect<br>"}
if(q4c.value==3){s4c="3. Correct<br>"}else{s4c="3. Incorrect<br>"}
if(q4d.value==2){s4d="4. Correct<br>"}else{s4d="4. Incorrect<br>"}
if(q4e.value==0){s4e="5. Correct<br>"}else{s4e="5. Incorrect<br>"}
if(q4f.value==3){s4f="6. Correct<br>"}else{s4f="6. Incorrect<br>"}
if(q4g.value==0){s4g="7. Correct<br>"}else{s4g="7. Incorrect<br>"}
if(q4h.value==2){s4h="8. Correct<br>"}else{s4h="8. Incorrect<br>"}
if(q4i.value==0){s4i="9. Correct<br>"}else{s4i="9. Incorrect<br>"}
if(q4j.value==2){s4j="10. Correct<br>"}else{s4j="10. Incorrect<br>"}
if(q4k.value==0){s4k="11. Correct<br>"}else{s4k="11. Incorrect<br>"}
if(q4l.value==3){s4l="12. Correct<br>"}else{s4l="12. Incorrect<br>"}
z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h+s4i+s4j+s4k+s4l
}
<div id="t1">
<span id="tit">Listening: A disastrous trip</span>
<p>
<b>1. Listen to someone talking about a disastrous journey and choose the map of their route.</b>
<p>
<a href="sn/u9a-1.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<center>
<table cellpadding=0 cellspacing=10>
<tr><td><img src="im/u9a-1.jpg"></td></tr>
</table>
</center>
<center>
<table cellpadding=0 cellspacing=10>
<tr><td width=90></td><td><input type="checkbox" name="q1a"></td><td width=190></td><td><input type="checkbox" name="q1b"></td></tr>
</table>
</center>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Listen again and complete the table with some of the words from the box.</b>
<p>
<a href="sn/u9a-1.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<table cellpadding=0 cellspacing=0 border=1 bordercolor=#000000>
<tr><td width=100 align="center">Alexandria</td><td width=100 align="center">Athens</td><td width=100 align="center">Crete</td><td width=100 align="center">Venice</td><td width=100 align="center">ferry</td></tr>
<tr><td align="center">Amsterdam</td><td align="center">Luxemburg</td><td align="center">Lugano</td><td align="center">bus</td><td align="center">train</td></tr>
<tr><td align="center">Antwerp</td><td align="center">Switzerland</td><td align="center">Milan</td><td align="center">car</td><td align="center">plane</td></tr>
</table>
<p>
<table cellpadding=0 cellspacing=10 width=700>
<tr><td></td><td align="center"><b>From...</b></td><td align="center"><b>to...</b></td><td align="center"><b>by...</b></td></tr>
<tr><td><b>Stage 1</b></td><td>1. London</td><td>2. Dover</td><td>3. train</td></tr>
<tr><td><b>Stage 2</b></td><td>4. Dover</td><td>5. <input type="text" name="q2a" size=20></td><td>	6. <input type="text" name="q2b" size=20></td></tr>
<tr><td><b>Stage 3</b></td><td>7. <input type="text" name="q2c" size=20></td><td>8. <input type="text" name="q2d" size=20></td><td>9. <input type="text" name="q2e" size=20></td></tr>
<tr><td><b>Stage 4</b></td><td>10. <input type="text" name="q2f" size=20></td><td>11. <input type="text" name="q2g" size=20></td><td>12. <input type="text" name="q2h" size=20></td></tr>
<tr><td><b>Stage 5</b></td><td>13. <input type="text" name="q2i" size=20></td><td>14. <input type="text" name="q2j" size=20></td><td>15. <input type="text" name="q2k" size=20></td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Listen again and choose the best options below.</b>
<p>
<a href="sn/u9a-1.mp3"><img src="ob/s-1.jpg" border=0></a>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 The speaker wanted to get to Egypt ...</td></tr>
<tr><td><select name="q3a"><option value=0>Choose answer<option value=1>... quickly.<option value=2>... and visit a lot of places on the way.<option value=3>... cheaply.</select></td></tr>
<tr><td>2 The morning the speaker was going to get the bus in Amsterdam ...</td></tr>
<tr><td><select name="q3b"><option value=0>Choose answer<option value=1>... the bus was 20 minutes late.<option value=2>... he got up late.<option value=3>... the bus had already left.</select></td></tr>
<tr><td>3 A day was lost on the way from Amsterdam to Milan because ...</td></tr>
<tr><td><select name="q3c"><option value=0>Choose answer<option value=1>... the bus had to wait for two passengers.<option value=2>... there was some trouble with football hooligans.<option value=3>... the bus broke down.</select></td></tr>
<tr><td>4 The speaker spent two days in Venice because ...</td></tr>
<tr><td><select name="q3d"><option value=0>Choose answer<option value=1>... he didn't have any money.<option value=2>... the bus arrived too late for him to catch the ferry.<option value=3>... the ferry to Alexandria had been cancelled.</select></td></tr>
<tr><td>5 The ferry to Alexandria ...</td></tr>
<tr><td><select name="q3e"><option value=0>Choose answer<option value=1>... had to pass through a zone where a military operation was happening.<option value=2>... broke down.<option value=3>... took longer than it normally does.</select></td></tr>
<tr><td>6 He arrived in Alexandria ...</td></tr>
<tr><td><select name="q3f"><option value=0>Choose answer<option value=1>... feeling tired and hungry.<option value=2>... with little money left.<option value=3>... feeling refreshed after the voyage.</select></td></tr>
</table>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>
<b>4. Look at part of the transcript and decide which use of had (A, B or C) is being used in each case.</b>
<p>
<b>A</b> past or past participle of <span id="rd">have (got)</span><br>
<b>B</b> past of <span id="rd">have to</span> to talk about obligation<br>
<b>C</b> past perfect to talk about the "past before past" in a narrative
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>
The morning the bus left I overslept and arrived at the bus station 20 minutes late. Fortunately, the bus hadn't left  
<select name="q4a"><option value=0>A<option value=2>B<option value=3>C</select>, so we continued through Europe and got to Switzerland, spent the night ... slept in the bus outside some 
town, set off again in the morning only to discover that we'd left <select name="q4b"><option value=0>A<option value=2>B<option value=3>C</select> two of the passengers behind who had decided  
<select name="q4c"><option value=0>A<option value=2>B<option value=3>C</select> to sleep outside the bus. Anyway, so we had to wait <select name="q4d"><option value=0>A<option value=2>B<option value=3>C</select> for them - that was another day lost. I left the bus 
at Milan and took a train to Venice because I had a ticket <select name="q4e"><option value=0>A<option value=2>B<option value=3>C</select> on a ferry going from Venice to Alexandria. Anyway, I 
got to Venice, and discovered that the ferry had been cancelled <select name="q4f"><option value=0>A<option value=2>B<option value=3>C</select>. I had no money <select name="q4g"><option value=0>A<option value=2>B<option value=3>C</select>, but there was 
another ferry leaving in a couple of days, so I had to live <select name="q4h"><option value=0>A<option value=2>B<option value=3>C</select> on bread and cheese for two days. The ferry eventually 
left, but it was going very slowly and we discovered that it only had one engine <select name="q4i"><option value=0>A<option value=2>B<option value=3>C</select> ... or the engine wasn't working 
properly, and going very very slowly, and we took much longer than expected, and this wasn't helped because we had to make  
 <select name="q4j"><option value=0>A<option value=2>B<option value=3>C</select> a big detour around Crete because there was some military operation happening there. It took a week to get from Venice 
to Alexandria, by which time I had no food <select name="q4k"><option value=0>A<option value=2>B<option value=3>C</select>, no money and had slept <select name="q4l"><option value=0>A<option value=2>B<option value=3>C</select> very badly. I've never been so pleased 
to stand on dry land again.
</td></tr>
</table>
<p>
<center>
<button onclick="k4()">Check answers</button>
</center>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>