<script language="javascript">
function k1(){
if(q1a.value==4){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value==2){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value==1){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value==5){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value==3){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value==6){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f
}
function k2(){
if(q2b.value=="square"|q2b.value=="Square"){s2b="1. Correct<br>"}else{s2b="1. Incorrect<br>"}
if(q2c.value=="circular"|q2c.value=="Circular"){s2c="2. Correct<br>"}else{s2c="2. Incorrect<br>"}
if(q2d.value=="rectangular"|q2d.value=="Rectangular"){s2d="3. Correct<br>"}else{s2d="3. Incorrect<br>"}
if(q2e.value=="oval"|q2e.value=="Oval"){s2e="4. Correct<br>"}else{s2e="4. Incorrect<br>"}
if(q2f.value=="cylindrical"|q2f.value=="Cylindrical"){s2f="5. Correct<br>"}else{s2f="5. Incorrect<br>"}
z2.innerHTML=s2b+s2c+s2d+s2e+s2f
}
function k3(){
if(q3a.value=="star-shaped cake"|q3a.value=="Star-shaped cake"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="kidney-shaped table"|q3b.value=="Kidney-shaped table"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="egg-shaped pool"|q3c.value=="Egg-shaped pool"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="pyramid-shaped house"|q3d.value=="Pyramid-shaped house"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
z3.innerHTML=s3a+s3b+s3c+s3d
}
function k4(){
if(q4a.value==5){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value==1){s4b="2. Correct<br>"}else{s4b="2. Incorrect<br>"}
if(q4c.value==7){s4c="3. Correct<br>"}else{s4c="3. Incorrect<br>"}
if(q4d.value==6){s4d="4. Correct<br>"}else{s4d="4. Incorrect<br>"}
if(q4e.value==3){s4e="5. Correct<br>"}else{s4e="5. Incorrect<br>"}
if(q4f.value==2){s4f="6. Correct<br>"}else{s4f="6. Incorrect<br>"}
if(q4g.value==4){s4g="7. Correct<br>"}else{s4g="7. Incorrect<br>"}
z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g
}
<div id="t1">
<span id="tit">Describing shapes</span>
<p>
<b>1. Choose the names for these shapes.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. rectangle</td><td width=30></td><td><select name="q1a"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td width=100></td><td><img src="im/u9d-1a.jpg"></td></tr>
<tr><td>2. square</td><td></td><td><select name="q1b"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td><img src="im/u9d-1b.jpg"></td></tr>
<tr><td>3. triangle</td><td></td><td><select name="q1c"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td><img src="im/u9d-1c.jpg"></td></tr>
<tr><td>4. oval</td><td></td><td><select name="q1d"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td><img src="im/u9d-1d.jpg"></td></tr>
<tr><td>5. circle</td><td></td><td><select name="q1e"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td><img src="im/u9d-1e.jpg"></td></tr>
<tr><td>6. cylinder</td><td></td><td><select name="q1f"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td><img src="im/u9d-1f.jpg"></td></tr>
</table>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. What are the adjective forms for the above nouns? The first one has been done for you as an example.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td align="center"><b>Noun</b></td><td align="center"><b>Adjective</b></td></tr>
<tr><td>triangle</td><td>triangular</td></tr>
<tr><td>square</td><td><input type="text" name="q2b" size=20></td></tr>
<tr><td>circle</td><td><input type="text" name="q2c" size=20></td></tr>
<tr><td>rectangle</td><td><input type="text" name="q2d" size=20></td></tr>
<tr><td>oval</td><td><input type="text" name="q2e" size=20></td></tr>
<tr><td>cylinder</td><td><input type="text" name="q2f" size=20></td></tr>
</table>
 <p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. If something is shaped like a heart, it is "heart-shaped" (adjective).</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor=#ffffff>
<tr><td align="center" bordercolor=#000000 width=80>pyramid</td><td align="center" bordercolor=#000000 width=80>&#160;<td align="center" bordercolor=#000000 width=80>table</td><tr>
<tr><td align="center" bordercolor=#000000>L</td><td align="center" bordercolor=#000000>&#160;<td align="center" bordercolor=#000000>house</td><tr>
<tr><td align="center" bordercolor=#000000>egg</td><td align="center" bordercolor=#000000>-shaped<td align="center" bordercolor=#000000>cake</td><tr>
<tr><td align="center" bordercolor=#000000><a href="#" onclick="window.open('t-u9d-1.htm','_blank','width=275,height=140');">kidney</a></td><td align="center" bordercolor=#000000>&#160;<td align="center" bordercolor=#000000>pool</td><tr>
<tr><td align="center" bordercolor=#000000>star</td><td align="center" bordercolor=#000000>&#160;<td align="center" bordercolor=#000000>room</td><tr>
</table>
</center>
<p>
<b>Make words from the table to describe these things:</b>
<p>
<center>
<img src="im/u9d-2a.jpg">
</center>
<p>
<center>
<table cellpadding=0 cellspacing=10>
<tr><td align="center"><img src="im/u9d-2b.jpg"></td><td align="center"><img src="im/u9d-2c.jpg"></td></tr>
<tr><td>1. <input type="text" name="q3a" size=30></td><td>2. <input type="text" name="q3b" size=30></td></tr>
 <tr><td><img src="im/u9d-2d.jpg"></td><td><img src="im/u9d-2e.jpg"></td></tr>
<tr><td>3. <input type="text" name="q3c" size=30></td><td>4. <input type="text" name="q3d" size=30></td></tr>
</table>
</center>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>
<b>4. Match the adjective with the line.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. straight</td><td width=30></td><td><select name="q4a"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td width=100></td><td><img src="im/u9d-3a.jpg"></td></tr>
<tr><td>2. wavy</td><td></td><td><select name="q4b"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="im/u9d-3b.jpg"></td></tr>
<tr><td>3. zigzag</td><td></td><td><select name="q4c"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="im/u9d-3c.jpg"></td></tr>
<tr><td>4. broken</td><td></td><td><select name="q4d"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="im/u9d-3d.jpg"></td></tr>
<tr><td>5. thick</td><td></td><td><select name="q4e"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="im/u9d-3e.jpg"></td></tr>
<tr><td>6. dotted</td><td></td><td><select name="q4f"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="im/u9d-3f.jpg"></td></tr>
<tr><td>7. criss-cross</td><td></td><td><select name="q4g"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="im/u9d-3g.jpg"></td></tr>
</table>
 <p>
<center>
<button onclick="k4()">Check answers</button>
</center>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>