<script>
	v = {

		q1a:'3',
		q1b:'1',
		q1c:'1',
		q2a:'1',
		q2b:'1',
		q2c:'3',
		q2d:'1',
		q2e:'2',
		q2f:'1',
		q2g:'3',
		q2h:'1',
		q2i:'1',
		q3a:'2',
		q3b:'1',
		q3c:'3',
		q3d:'2',
		q3e:'1',
		q3f:'2',
		q3g:'1',
		q3h:'3',
		q4a:'2',
		q4b:'2',
		q4c:'1',
		q4d:'1',
		q4e:'1',
		q4f:'2',
		q4g:'2',
		q4h:'2',


	}
</script>


<div id="t0">
<b>Icons</b>
<p>
<b>CD reviews </b>
<br>

</div>
<p>
<div id="t1">
<b>1. Read three CD reviews from on line Australian newspaper <i>The Canberra Times</i> and decide which section in a record shop you would find the CDs in. </b>
<p>
<b>Duet</b> 
<p>
Kristina Olsen and Peter Grayling (KOPGCD01) 
<p>
Singer/guitarist and cello duets are not the expected ingredients of a folk CD, but this combination of American singer Olsen and West Australian cellist Grayling proves to be a delightful combination. Olsen's voice and the cello exchange lines, matching tonalities, with the cello weaving a lower line, sometimes a harmony, sometimes a rhythmic counterpoint. 
<p>
Olsen's choice of songs seems a little more reflective than on previous releases, perhaps as a response to working with the sonorities of the cello. Her great strength as a songwriter is the ability to convey the sense of a broken heart, usually her own, in a direct yet humorous manner. 
<p>
The outstanding track on this CD is a song called "Heart Hill", a very English-sounding song about a place glimpsed off an English highway, but the whole CD is a fine addition to her catalog along with the notable collaboration with Grayling. 
</span>
<p>
<center>
<input type="checkbox" name="q1a">pop/rock	 
<input type="checkbox" name="q1b">jazz/blues	 
<input type="checkbox" name="q1c">folk/world music	 
<input type="checkbox" name="q1d">classical music
<p>
<button onClick="k1()">Check answers</button>
</center>
<p>
<b><i>Flight Paths</i> - The Paradise Motel (Mushroom) </b>
<p>
British music magazine <i>New Musical Express</i> may have been a little harsh when it said that The Paradise Motel's Merida Sussex's voice made Julie Cruise sound like Tina Turner. But it is a fairly accurate description of her haunting vocal style. While other bands use the voice to merely add on top of the noise, Sussex's vocals are arguably the most important component in the Motel's impressive musical machinery.
<p>
The haunting legacy which began with <i>Still Life</i> (1996), continues on <i>Flight Paths</i> and the dark musical tapestry, created by Charles Bickford and enhanced by Victor van Vugt's rich production, has progressed with almost a hint of salvation (Derwent River Star, Daniel, Caravans, Hollywood Landmines) expressed in Sussex's uplifting vocals.
<p>
So while The Paradise Motel will never be the latest teen fad, with more style than to bother with crowd-diving and noisy guitars, this dark, yet cathartic, musical masterpiece will have a more lasting influence on Australian musical history than we may yet acknowledge.
<p>
<center>
<input type="checkbox" name="q1e">pop/rock	 
<input type="checkbox" name="q1f">jazz/blues	 
<input type="checkbox" name="q1g">folk/world music	 
<input type="checkbox" name="q1h">classical music
<p>
<button onClick="k1a()">Check answers</button>
</center>
<p>
<b>Peter Sculthorpe: String Quartets</b>
<p>
Played by the Goldner String Quartet (Tall Poppies TPO90) 
<p>
The Goldner Quartet was formed by Musica Viva in 1995, and consists of four of this country's finest younger string players.
<p>
This disc is the second volume of Sculthorpe's complete works for string quartets, recorded in the presence of the composer. Included is the String Quartet No 10, written in 1983 for the US-based Kronos Quartet and displaying musical influences "from both sides of the Pacific." It is balanced by the String Quartet No 11 of 1990 which is distinctively Australian in feeling and with the subtitle Jabiru Dreaming is one of the composer's "Kakadu" works. 
<p>
Both are very approachable, and receive committed and finely shaped performances which capture effectively the essential elements of the music. With the composer's supervision the performances can be regarded as definitive. 
<p>
The disc also offers ten small pieces for string quartet, two of them miniatures called Hill-Songs, and the remainder drawn from unpublished or discarded works. With equally fine and carefully crafted performances, they provide, with the full-scale quartets, a constantly interesting survey of Sculthorpe's music for string quartet from 1945 to 1994. 
<p><center>

<input type="checkbox" name="q1i">pop/rock	 
<input type="checkbox" name="q1j">jazz/blues	 
<input type="checkbox" name="q1k">folk/world music	 
<input type="checkbox" name="q1l">classical music
<p>
</center>
<center>
<button onClick="k1b()">Check answers</button>
</center>
<p>
<b>2. Decide whether these statements are true, false or not in the text.</b>
<p>
<table cellpadding=5 cellspacing=5 with=700 bgcolor=#ffbc90>
<tr><td><b>a) Duet </b></td></tr>

<tr><td>1.-The combination of Olsen and Grayling is a pleasant surprise.</td>	 
<td><input type="checkbox" name="q2a">True </td>
<td><input type="checkbox" name="q2b">False </td>
<td><input type="checkbox" name="q2c">Not in Text</td></tr>


<tr><td>2.-Olsen's song-writing is often autobiographical.</td>	 
<td><input type="checkbox" name="q2d">True </td>
<td><input type="checkbox" name="q2e">False </td>
<td><input type="checkbox" name="q2f">Not in Text</td></tr>


<tr><td>3.-This is one of Kristina Olsen's best works.</td>	 
<td><input type="checkbox" name="q2g">True </td>
<td><input type="checkbox" name="q2h"> False </td>
<td><input type="checkbox" name="q2i"> Not in Text</td></tr>


<tr><td>4.-Heart Hill is the best song on the CD.</td>	 
<td><input type="checkbox" name="q2j">True </td>
<td><input type="checkbox" name="q2k"> False </td>
<td><input type="checkbox" name="q2l"> Not in Text</td></tr>


<tr><td><b>b) Flight Paths</b></td></tr>

<tr><td>5.-Merida Sussex sounds like Tina Turner when she sings.</td>	 
<td><input type="checkbox" name="q2m">True</td>
<td><input type="checkbox" name="q2n">False</td>
<td><input type="checkbox" name="q2o"> Not in Text</td></tr>


<tr><td>6.-This is The Paradise Motel's second album.</td>	 
<td><input type="checkbox" name="q2p">True</td>
<td><input type="checkbox" name="q2q"> False</td>
<td><input type="checkbox" name="q2r"> Not in Text</td></tr>


<tr><td>7.-The Paradise Motel are not interested in being popular with young people.</td>	
<td><input type="checkbox" name="q2s"> True</td>
<td><input type="checkbox" name="q2t"> False</td>
<td><input type="checkbox" name="q2v"> Not in Text</td></tr>


<tr><td><b>c) Peter Sculthorpe: String Quartets</b></td></tr>
 
<tr><td>8.-It was was recorded in the US.</td>	 
<td><input type="checkbox" name="q2w">True</td>
<td><input type="checkbox" name="q2x"> False</td>
<td><input type="checkbox" name="q2y"> Not in Text</td></tr>


<tr><td>9.-A better recording of String Quartets No 10 and 11 is unlikely to be made.</td>	 
<td><input type="checkbox" name="q2z">True</td>
<td><input type="checkbox" name="q2z2"> False</td>
<td><input type="checkbox" name="q2z3"> Not in Text</td></tr>

</table>
<p>
<center>
<button onClick="k2()">Check answers</button>
</center>
<p>

<b>3. Choose the correct answer</b>
<p>
<ol>
<li>Which disc gets the most enthusiastic review? 
<select name="q3a">
<option value="x">Choose Answer
<option value="1">Duet	 

<option value="2">Flight Paths
<option value="3">String Quartets
</select>
<br>
<li>Which review is particularly positive about one track? 	 

<select name="q3b">
<option value="x">Choose Answer
<option value="1">Duet	 

<option value="2">Flight Paths
<option value="3">String Quartets
</select>
<br>
<li>On which disc do the musicians not play their own material? 	 

<select name="q3c">
<option value="x">Choose Answer
<option value="1">Duet	 

<option value="2">Flight Paths
<option value="3">String Quartets
</select>
<br>
<li>Which disc is most likely to be underrated, according to its critic? 	 

<select name="q3d">
<option value="x">Choose Answer
<option value="1">Duet	 

<option value="2">Flight Paths
<option value="3">String Quartets
</select>
<br>
<li>Which disc is most likely to make you laugh? 	 

<select name="q3e">
<option value="x">Choose Answer
<option value="1">Duet	 

<option value="2">Flight Paths
<option value="3">String Quartets
</select>
<br>
<li>Which musicians would probably find it hardest to give a concert without amplification? 	 

<select name="q3f">
<option value="x">Choose Answer
<option value="1">Duet	 

<option value="2">Flight Paths
<option value="3">String Quartets
</select>
<br>
<li>On which disc does the only non-Australian appear. 	 

<select name="q3g">
<option value="x">Choose Answer
<option value="1">Duet	 

<option value="2">Flight Paths
<option value="3">String Quartets
</select>
<br>
<li>Which disc doesn't include any new material? 	 

<select name="q3h">
<option value="x">Choose Answer
<option value="1">Duet	 

<option value="2">Flight Paths
<option value="3">String Quartets
</select>
</ol>
<p>
<center>
<button onClick="k3()">Check answers</button>
</center>
<p>
<b>4. Vocabulary in context </b>
<p>
The following sentences are taken from the reading text. Choose the best synonym(s) for the words in bold. <br>
<p>
<ol>
<li>... this combination of American singer Olsen and West Australian cellist Grayling <strong>proves to be</strong> a delightful combination.<br>
<br>
<input type="checkbox" name="q4a">tries to be<br>	 
<input type="checkbox" name="q4b">
shows itself to be
<p>
<li>Her great strength as a songwriter is the ability to <strong>convey</strong> the sense of a broken heart, usually her own, in a direct yet humorous manner.<br>	 
<br>
<input type="checkbox" name="q4c">understand<br>	 
<input type="checkbox" name="q4d">express
<p>
<li>... a very English-sounding song about a place <strong>glimpsed</strong> off an English highway, ...<br>	 
<br>
<input type="checkbox" name="q4e">seen briefly<br>	 
<input type="checkbox" name="q4f">visited
<p>
<li>British music magazine New Musical Express may have been <strong>a bit harsh</strong> when it said that The Paradise Motel's Merida Sussex's voice made Julie Cruise sound like Tina Turner.<br>	 
<br>
<input type="checkbox" name="q4g">severe in their criticism<br>	 
<input type="checkbox" name="q4h">generous in their criticism
<p>
<li>... almost a hint of salvation (Derwent River Star, Daniel, Caravans, Hollywood Landmines) expressed in Sussex's <strong>uplifting</strong> vocals.<br>	 
<br>
<input type="checkbox" name="q4i">that make you feel more positive<br>	 
<input type="checkbox" name="q4j">high-pitched
<p>
<li>... this dark, yet cathartic, musical masterpiece will have a more <strong>lasting</strong> influence on Australian musical history than we may yet acknowledge.<br>	 
<br>
<input type="checkbox" name="q4k">of short <strong>duration</strong><br>	 
<input type="checkbox" name="q4l">of long <strong>duration</strong>
<p>
<li>Both are very <strong>approachable</strong>, and receive committed and finely shaped performances ...<br>	 
<br>
<input type="checkbox" name="q4m">similar<br>	 
<input type="checkbox" name="q4n">easy to listen to
<p>
<li>... the remainder drawn from unpublished or <strong>discarded</strong> works.<br>
<br>	 
<input type="checkbox" name="q4o">unpublished<br>	 
<input type="checkbox" name="q4p">considered unusable
</ol>
<p>

<center>
<button onClick="k4()">Check answers</button>
</center>
</div>

<div id="z1">
</div>
<div id="z1a">
</div>
<div id="z1b">
</div>
<div id="z1c">
</div>


<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
