<script>
	v = {


		q1a:'OK Computer, Radiohead',
		q1b:'Revolver, The Beatles',
		q1c:'Automatic for the People, REM',
		q1d:'The Stone Roses, The Stone Roses',
		q1e:'Sgt. Peppers Lonely Heart’s Club Band, The Beatles',
		q1f:'The Fat of the Land, The Prodigy',
		q2a:'1',
		q2b:'1',
		q2c:'1',
		q2d:'1',
		q2e:'1',
		q2f:'1',
		q2g:'1',
		q2h:'1'

}
</script>


<div id="t0">
<b>Icons</b>
<p>
<b>All-time top 10 albums</b>
<br>
</div>
<p>
<div id="t1">
<b>1. <a href="fave1.ra">Listen to two people talking</a>, a list of the ten best albums of all time that appeared in a music magazine and complete the list below.</b>  
<p>
<ol>
<li><input size="60" name="q1a">
<li><input size="60" name="q1b">
<li><input size="60" name="q1c">
<li><input size="60" name="q1d">
<li><i>Exile on Main Street</i>, The Rolling Stone
<li><i>The Bends</i>, Radiohead
<li><input size="60" name="q1e">
<li><i>(What’s the Story) Morning Glory?</i>, Oasis
<li><input size="60" name="q1f">
<li><i>Dark Side of the Moon</i>, Pink Floyd
</ol>
<p>
<table cellpadding=5 cellspacing=5 bgcolor=#ffbc90 width=400>
<tr><td>
<i>Sgt. Peppers Lonely Heart’s Club Band</i>, The Beatles<br> 
<i>Automatic for the People</i>, REM<br>
<i>The Fat of the Land</i>, The Prodigy<br>
<i>The Stone Roses</i>, The Stone Roses<br>
<i>OK Computer</i>, Radiohead<br>
<i>Revolver</i>, The Beatles<br>
</td></tr>
</table>
<p>
<center>
<button onClick="k1()">Check answers</button>
</center>
<p>
<b>2. <a href="fave1.ra">Listen again</a> and decide if these statements are true or false.</b> 
<p> 
<ol>
<li>Both speakers think <i>Sergeant Pepper's</i> is the best Beatles album.<br>	 
<input type="checkbox" name="q2a"> true 
<input type="checkbox" name="q2b"> false
<p> 

<li>All the groups in the list are British except one.<br>	
<input type="checkbox" name="q2c"> true 
<input type="checkbox" name="q2d"> false
<p> 

<li>"Q" is a British magazine.<br>	
<input type="checkbox" name="q2e"> true 
<input type="checkbox" name="q2f"> false
<p> 

<li>All the groups in the list are from the 1960s or the 1990s.<br>	
<input type="checkbox" name="q2g"> true 
<input type="checkbox" name="q2h"> false
<p> 

<li>Neither of the speakers think Oasis will still be a top ten album in ten years' time.<br>	
<input type="checkbox" name="q2i"> true 
<input type="checkbox" name="q2j"> false
<p>
<li>One of the speakers hasn't listened to the The Stone Roses since the summer it came out.<br>	
<input type="checkbox" name="q2k"> true 
<input type="checkbox" name="q2l"> false
<p> 

<li>One of the speakers has never heard Pink Floyd's <i>The Dark Side of the Moon</i>.<br>	
<input type="checkbox" name="q2m"> true 
<input type="checkbox" name="q2n"> false
<p> 

<li>Neither speaker has heard The Prodigy's album.<br>	
<input type="checkbox" name="q2o"> true 
<input type="checkbox" name="q2p"> false
</ol>
<p> 

<center>
<button onClick="k2()">Check answers</button>
</center>
</div>
<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
