<script>
	v = {

		q1c:'3',
		q1d:'1',
		q1g:'1',
		q1l:'3',
		q1o:'3',
		q1r:'3',
		q1t:'2',
		q1y:'3',


}

</script>

<div id="t0">
<b>On the Couch</b> 
<p>
<b>Happiness quiz</b></p>
</div>

<form id="t1">
<p>
<center>
<img src="u12a.jpg">
</p>
</center>
<p>
<b>1. What do you know about happiness? Do this quiz then check your score.<br></b></p>
<p>
<ol>
<li>	Scientists believe that the smile may have evolved from the early primates. The smile meant...<br>	 
<input type="radio" name="q1a" value=1 checked>I'm going to eat you<br>	 
<input type="radio" name="q1b" value=2 checked>I'm happy to see you<br>	 
<input type="radio" name="q1c" value=3 checked>I'm not dangerous</p>
<p>

<li>	Research shows that happiness...<br>	 
<input type="radio" name="q1d" value=1 checked>may be hereditary<br>	 
<input type="radio" name="q1e" value=2 checked>is definitely not hereditary<br>	 
<input type="radio" name="q1f" value=3 checked>is definitely hereditary</p>
<p>

<li>	"Happy Birthday To You" was written...<br>	 
<input type="radio" name="q1g" value=1 checked>in 1893 by two sisters<br>	 
<input type="radio" name="q1h" value=2 checked>in 1925 by Cole Porter	<br>
<input type="radio" name="q1i" value=3 checked>in 1956 by Frank Sinatra</p>
<p>

<li>	The .... people think of themselves as the world's happiest people.<br>
<input type="radio" name="q1j" value=1 checked> French<br>
<input type="radio" name="q1k" value=2 checked> Greek<br>
<input type="radio" name="q1l" value=3 checked> Irish</p>
<p>


<li>	According to one study, people feel happier on...<br> 	 
<input type="radio" name="q1m" value=1 checked>Sundays and Mondays<br>	 
<input type="radio" name="q1n" value=2 checked>Tuesdays and Wednesdays<br>	 
<input type="radio" name="q1o" value=3 checked>Fridays and Saturdays</p>
<p> 

<li>	In North America ... is considered the happiest month of the year.<br>
<input type="radio" name="q1p" value=1 checked> April<br>
<input type="radio" name="q1q" value=2 checked> August<br>
<input type="radio" name="q1r" value=3 checked> December</p>
<p>


<li>	Recent research on Seasonal Affective Disorder (SAD) confirms the depressing effect that ... have on people.<br>
<input type="radio" name="q1s" value=1 checked>seasonal changes <br>	 
<input type="radio" name="q1t" value=2 checked>short, dark or cloudy days<br>	 
<input type="radio" name="q1v" value=3 checked>working days</p>
<p>


<li>	Most couples report different degress of happiness at different times of their lives. But after ... years couples report being as happy as when they were just married.<br>
<input type="radio" name="q1w" value=1 checked> 7<br>
<input type="radio" name="q1x" value=2 checked> 15<br>
<input type="radio" name="q1y" value=3 checked> 40
</ol>
</p>

<p>

<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
