<script language="javascript">

function k1(){

if(q1a.value=="We don't have any bananas"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="There isn't any news of the accident"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="Don't you have any idea where she is"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="There were no people in the street"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="Will there be no food at the party"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="Why aren't there any tickets left"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f
}
function k2(){
if(q2a.value=="2"){s2a="1. Correct<br>"}
if(q2a.value!="2"){s2a="1. Incorrect<br>"}
if(q2b.value=="1"){s2b="2. Correct<br>"}
if(q2b.value!="1"){s2b="2. Incorrect<br>"}
if(q2c.value=="4"){s2c="3. Correct<br>"}
if(q2c.value!="4"){s2c="3. Incorrect<br>"}
if(q2d.value=="2"){s2d="4. Correct<br>"}
if(q2d.value!="2"){s2d="4. Incorrect<br>"}
if(q2e.value=="5"){s2e="5. Correct<br>"}
if(q2e.value!="5"){s2e="5. Incorrect<br>"}
if(q2f.value=="4"){s2f="6. Correct<br>"}
if(q2f.value!="4"){s2f="6. Incorrect<br>"}
if(q2g.value=="3"){s2g="7. Correct<br>"}
if(q2g.value!="3"){s2g="7. Incorrect<br>"}
if(q2h.value=="2"){s2h="8. Correct<br>"}
if(q2h.value!="2"){s2h="8. Incorrect<br>"}
if(q2i.value=="1"){s2i="9. Correct<br>"}
if(q2i.value!="1"){s2i="9. Incorrect<br>"}
if(q2j.value=="3"){s2j="9. Correct<br>"}
if(q2j.value!="3"){s2j="9. Incorrect<br>"}
if(q2k.value=="2"){s2k="9. Correct<br>"}
if(q2k.value!="2"){s2k="9. Incorrect<br>"}
if(q2l.value=="1"){s2l="10. Correct<br>"}
if(q2l.value!="1"){s2l="10. Incorrect<br>"}
if(q2m.value=="2"){s2m="11. Correct<br>"}
if(q2m.value!="2"){s2m="11. Incorrect<br>"}
if(q2n.value=="3"){s2n="12. Correct<br>"}
if(q2n.value!="3"){s2n="12. Incorrect<br>"}
if(q2o.value=="1"){s2o="13. Correct<br>"}
if(q2o.value!="1"){s2o="13. Incorrect<br>"}
if(q2p.value=="2"){s2p="14. Correct<br>"}
if(q2p.value!="2"){s2p="14. Incorrect<br>"}
if(q2q.value=="1"){s2q="15. Correct<br>"}
if(q2q.value!="1"){s2q="15. Incorrect<br>"}
if(q2r.value=="4"){s2r="16. Correct<br>"}
if(q2r.value!="4"){s2r="16. Incorrect<br>"}

z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h+s2i+s2j+s2k+s2l+s2m+s2n+s2o+s2p+s2q+s2r
}

function k3(){
if(q3a.value=="Nobody"){s3a="1.- Correct<br>"}
if(q3a.value!="Nobody"){s3a="1.- Incorrect<br>"}
if(q3b.value=="no"){s3b="2.- Correct<br>"}
if(q3b.value!="no"){s3b="2.- Incorrect<br>"}
if(q3c.value=="not"){s3c="3.- Correct<br>"}
if(q3c.value!="not"){s3c="3.- Incorrect<br>"}
if(q3d.value=="nothing"){s3d="4.- Correct<br>"}
if(q3d.value!="nothing"){s3d="4.- Incorrect<br>"}
if(q3e.value=="none"){s3e="5.- Correct<br>"}
if(q3e.value!="none"){s3e="5.- Incorrect<br>"}
if(q3f.value=="not"){s3f="6.- Correct<br>"}
if(q3f.value!="not"){s3f="6.- Incorrect<br>"}
if(q3g.value=="not"){s3g="7.- Correct<br>"}
if(q3g.value!="not"){s3g="7.- Incorrect<br>"}
if(q3h.value=="nor"){s3h="7.- Correct<br>"}
if(q3h.value!="nor"){s3h="7.- Incorrect<br>"}
if(q3i.value=="no"){s3i="8.- Correct<br>"}
if(q3i.value!="no"){s3i="8.- Incorrect<br>"}

z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h+s3i
}

</script>
<div id="t0">
<b>On the Couch</b>
<p>
<b>Negation: <i>not (any), no, nor, none</i></b>
<br>

</div>
<p>
<div id="t1">
<b>1. Negation: no/not any </b>
<p>
<span id="m1"><li>There was no reply = There wasn't any reply. 
<li>We have no main lines of inquiry = We haven't any main lines of inquiry. 
</span>
<p>
Rewrite these sentences with either any or no. 
<p>
<ol>
<li>We have no bananas.<br> 
<input size="40" name="q1a">.<p> 

<li>There is no news of the accident. <br>
<input size="40" name="q1b">.<p> 

<li>Have you no idea where she is? <br>
<input size="40" name="q1c">?<p> 

<li>There weren't any people in the street.<br> 
<input size="40" name="q1d">.<p> 

<li>Won't there be any food at the party? <br>
<input size="40" name="q1e">?<p> 

<li>Why are there no tickets left? <br>
<input size="40" name="q1f">? 

</ol>
<p>
<center>
<button onClick="k1()">Check answers</button>
</center>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
