<script language="javascript">

function k1(){
if(q1a.value=="9"){s1a="1.- Correct<br>"}else{s1a="1.- Incorrect<br>"}
if(q1b.value=="3"){s1b="2.- Correct<br>"}else{s1b="2.- Incorrect<br>"}
if(q1c.value=="6"){s1c="3.- Correct<br>"}else{s1c="3.- Incorrect<br>"}
if(q1d.value=="2"){s1d="4.- Correct<br>"}else{s1d="4.- Incorrect<br>"}
if(q1e.value=="8"){s1e="5.- Correct<br>"}else{s1e="5.- Incorrect<br>"}
if(q1f.value=="4"){s1f="6.- Correct<br>"}else{s1f="6.- Incorrect<br>"}
if(q1g.value=="7"){s1g="7.- Correct<br>"}else{s1g="7.- Incorrect<br>"}
if(q1h.value=="5"){s1h="8.- Correct<br>"}else{s1h="8.- Incorrect<br>"}
if(q1i.value=="1"){s1i="9.- Correct<br>"}else{s1i="9.- Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h+s1i
}
function k2(){
if(q2a.value=="7"){s2a="1. Correct<br>"}
if(q2a.value!="7"){s2a="1. Incorrect<br>"}

if(q2b.value=="5"){s2b="2. Correct<br>"}
if(q2b.value!="5"){s2b="2. Incorrect<br>"}

if(q2c.value=="8"){s2c="3. Correct<br>"}
if(q2c.value!="8"){s2c="3. Incorrect<br>"}

if(q2d.value=="2"){s2d="4. Correct<br>"}
if(q2d.value!="2"){s2d="4. Incorrect<br>"}

if(q2e.value=="1"){s2e="5. Correct<br>"}
if(q2e.value!="1"){s2e="5. Incorrect<br>"}

if(q2f.value=="4"){s2f="6. Correct<br>"}
if(q2f.value!="4"){s2f="6. Incorrect<br>"}

if(q2g.value=="6"){s2g="7. Correct<br>"}
if(q2g.value!="6"){s2g="7. Incorrect<br>"}

if(q2h.value=="3"){s2h="8. Correct<br>"}
if(q2h.value!="3"){s2h="8. Incorrect<br>"}

z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h
}

function k3(){
if(q3a.value=="crutches"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="stitches"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="joints"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="pills"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value=="blood"){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3f.value=="spine"){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3g.value=="brain"){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
if(q3h.value=="band-aid"){s3h="8. Correct<br>"}else{s3h="8. Incorrect<br>"}
if(q3i.value=="injection"){s3i="9. Correct<br>"}else{s3i="9. Incorrect<br>"}
if(q3j.value=="sling"){s3j="10. Correct<br>"}else{s3j="10. Incorrect<br>"}
if(q3k.value=="veins"){s3k="11. Correct<br>"}else{s3k="11. Incorrect<br>"}
if(q3l.value=="ointment"){s3l="12. Correct<br>"}else{s3l="12. Incorrect<br>"}
if(q3m.value=="bones"){s3m="13. Correct<br>"}else{s3m="13. Incorrect<br>"}
if(q3n.value=="nerve"){s3n="14. Correct<br>"}else{s3n="14. Incorrect<br>"}

z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h+s3i+s3j+s3k+s3l+s3m+s3n
}


function k4(){

if(q4a.value=="blisters"){s4a="1.- Correct<br>"}else{s4a="1.- Incorrect<br>"}
if(q4b.value=="cut"){s4b="2.- Correct<br>"}else{s4b="2.- Incorrect<br>"}
if(q4c.value=="bruises"){s4c="3.- Correct<br>"}else{s4c="3.- Incorrect<br>"}
if(q4d.value=="sting"){s4d="4.- Correct<br>"}else{s4d="4.- Incorrect<br>"}
if(q4e.value=="fracture"){s4e="5.- Correct<br>"}else{s4e="5.- Incorrect<br>"}
if(q4f.value=="bite"){s4f="6.- Correct<br>"}else{s4f="6.- Incorrect<br>"}
if(q4g.value=="itch"){s4g="7.- Correct<br>"}else{s4g="7.- Incorrect<br>"}
if(q4h.value=="burn"){s4h="8.- Correct<br>"}else{s4h="8.- Incorrect<br>"}
if(q4i.value=="sprained"){s4i="9.- Correct<br>"}else{s4i="9.- Incorrect<br>"}

z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h+s4i
}
<div id="t0">
<b>Body Matters</b>
<p>
<b>Medicine and parts of the body</b>
</div>
<p>
<div id="t1">

<b>1.Here are some body parts. Can you match them with their definition?</b>
<p>
<ol>
<li><select name="q1a">
<option value="x">Choose Answer
<option value="1">blood
<option value="2">joint
<option value="3">bones
<option value="4">nerve
<option value="5">spine
<option value="6">veins
<option value="7">brain
<option value="8">skull
<option value="9">skin
</select>
The natural covering of your body
<p>
<li><select name="q1b">
<option value="x">Choose Answer
<option value="1">blood
<option value="2">joint
<option value="3">bones
<option value="4">nerve
<option value="5">spine
<option value="6">veins
<option value="7">brain
<option value="8">skull
<option value="9">skin
</select>
The hard white parts inside your body that form your skeleton
<p>
<li><select name="q1c">
<option value="x">Choose Answer
<option value="1">blood
<option value="2">joint
<option value="3">bones
<option value="4">nerve
<option value="5">spine
<option value="6">veins
<option value="7">brain
<option value="8">skull
<option value="9">skin
</select>
The thin tubes in your body that carry blood to the heart
<p>
<li><select name="q1d">
<option value="x">Choose Answer
<option value="1">blood
<option value="2">joint
<option value="3">bones
<option value="4">nerve
<option value="5">spine
<option value="6">veins
<option value="7">brain
<option value="8">skull
<option value="9">skin
</select>
A part of your body where two bones meet, like your elbow, or your knee, and that you can bend 
<p>
<li><select name="q1e">
<option value="x">Choose Answer
<option value="1">blood
<option value="2">joint
<option value="3">bones
<option value="4">nerve
<option value="5">spine
<option value="6">veins
<option value="7">brain
<option value="8">skull
<option value="9">skin
</select>
The bony part of your head that is around your brain 
<p>
<li><select name="q1f">
<option value="x">Choose Answer
<option value="1">blood
<option value="2">joint
<option value="3">bones
<option value="4">nerve
<option value="5">spine
<option value="6">veins
<option value="7">brain
<option value="8">skull
<option value="9">skin
</select>
A long thin fiber which sends messages between your brain and other parts of the body
<p>
<li><select name="q1g">
<option value="x">Choose Answer
<option value="1">blood
<option value="2">joint
<option value="3">bones
<option value="4">nerve
<option value="5">spine
<option value="6">veins
<option value="7">brain
<option value="8">skull
<option value="9">skin
</select>
The large organ inside your head that you think with
<p>
<li><select name="q1h">
<option value="x">Choose Answer
<option value="1">blood
<option value="2">joint
<option value="3">bones
<option value="4">nerve
<option value="5">spine
<option value="6">veins
<option value="7">brain
<option value="8">skull
<option value="9">skin
</select>
The long line of bones down your back
<p>
<li><select name="q1i">
<option value="x">Choose Answer
<option value="1">blood
<option value="2">joint
<option value="3">bones
<option value="4">nerve
<option value="5">spine
<option value="6">veins
<option value="7">brain
<option value="8">skull
<option value="9">skin
</select>
The red liquid inside your body that you can see if you cut yourself
<p>
</ol>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Here are some more words related to medicine. Match them with the picture.</b>
<p>
<table cellspacing=5 cellpadding=5 width=450>

<tr><td colspan=4><img src=u3b.jpg></td></tr>
<tr><td><select name="q2a">
<option value="x">Answer
<option value="1">medicine
<option value="2">injection
<option value="3">pill
<option value="4">ointment
<option value="5">band-aid
<option value="6">sling
<option value="7">stitches
<option value="8">crutches
</select></td>
<td><select name="q2b">
<option value="x">Answer
<option value="1">medicine
<option value="2">injection
<option value="3">pill
<option value="4">ointment
<option value="5">band-aid
<option value="6">sling
<option value="7">stitches
<option value="8">crutches
</select></td>
<td><select name="q2c">
<option value="x">Answer
<option value="1">medicine
<option value="2">injection
<option value="3">pill
<option value="4">ointment
<option value="5">band-aid
<option value="6">sling
<option value="7">stitches
<option value="8">crutches
</select></td>
<td><select name="q2d">
<option value="x">Answer
<option value="1">medicine
<option value="2">injection
<option value="3">pill
<option value="4">ointment
<option value="5">band-aid
<option value="6">sling
<option value="7">stitches
<option value="8">crutches
</select></td></tr>

<tr><td colspan="4"><img src="u3c.jpg"></td></tr>
<tr><td><select name="q2e">
<option value="x">Answer
<option value="1">medicine
<option value="2">injection
<option value="3">pill
<option value="4">ointment
<option value="5">band-aid
<option value="6">sling
<option value="7">stitches
<option value="8">crutches
</select></td>
<td><select name="q2f">
<option value="x">Answer
<option value="1">medicine
<option value="2">injection
<option value="3">pill
<option value="4">ointment
<option value="5">band-aid
<option value="6">sling
<option value="7">stitches
<option value="8">crutches
</select></td>
<td><select name="q2g">
<option value="x">Answer
<option value="1">medicine
<option value="2">injection
<option value="3">pill
<option value="4">ointment
<option value="5">band-aid
<option value="6">sling
<option value="7">stitches
<option value="8">crutches
</select></td>
<td><select name="q2h">
<option value="x">Answer
<option value="1">medicine
<option value="2">injection
<option value="3">pill
<option value="4">ointment
<option value="5">band-aid
<option value="6">sling
<option value="7">stitches
<option value="8">crutches
</select></td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>

<b>3. Complete these sentences with words from exercises 1 and 2.</b>
<p>
<ol>
<li>Because I broke my leg I had to walk on <sub>c</sub><input size=10 name="q3a">.<p>
<li>James cut his hand badly on some glass, so he had to have 10 <sub>s</sub><input size=10 name="q3b">.<p>
<li>As people get older, they have more and more difficulty in moving their <sub>j</sub><input size=10 name="q3c">.<p>
<li>The headache was so bad that I had to take 2 <sub>p</sub><input size=10 name="q3d">instead of one.<p>
<li>Because of the accident she lost liters of <sub>b</sub><input size=10 name="q3e">.<p>
<li>If you have back problems, you should do some yoga. It helps straighten the <nobr><sub>s</sub><input size=10 name="q3f"></nobr>.<p>
<li>Think before you answer the question! Use your <sub>b</sub><input size=10 name="q3g">.<p>
<li>For small cuts, I usually cover them with a <sub>b</sub><input size=10 name="q3h">.<p>
<li>The doctor used a long, dangerous-looking syringe to give him the <sub>i</sub><input size=10 name="q3i">.<p>
<li>When I broke my arm I had to wear it in a <sub>s</sub><input size=10 name="q3j">for 3 weeks.<p>
<li>Blood flows through the <sub>v</sub><input size=10 name="q3k">.<p>
<li>The doctor gave her some special <sub>o</sub><input size=10 name="q3l">in a tube for the burns.<p>
<li>Children should drink lots of milk, because the calcium will help them develop strong <nobr><sub>b</sub><input size=10 name="q3m"></nobr>.<p>
<li>If you destroy a <sub>n</sub><input size=10 name="q3n">in your body, you can't feel anything in that part.<p>
</ol>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>

<p>
<b>4. Here are some words and their definitions. Use the words to complete the sentences below.</b>
<p>
<table cellspacing=5 cellpadding=5 width=480 bgcolor=#ffbc90>
<tr><td>blister (n and v)</td><td>a painful swelling on the surface of the skin, often caused by the skin rubbing against a hard surface.</td></tr>
<tr><td>bruise (n and v)</td><td>a purple mark on the body, caused by something hitting hard against the body.</td></tr>
<tr><td>burn (n and v)</td><td>a red mark on the skin caused by something very hot, like a fire.</td></tr>
<tr><td>sprain (n and v)</td><td>the injury caused by accidentally twisting a part of the body, like a wrist, ankle or hip.</td></tr>
<tr><td>fracture (n and v)</td><td>a light crack or break in a bone.</td></tr>
<tr><td>sting (n and v)</td><td>a sharp pain on your skin, caused by an insect, like a bee.</td></tr>
<tr><td>itch (n and v)</td><td>an unpleasant feeling on a part of the skin which makes you want to scratch.</td></tr>
<tr><td>bite (n and v)</td><td>a mark on your body caused by an animal or insect biting you.</td></tr>
<tr><td>cut (n and v)</td><td>an open line on your body caused by a sharp instrument, and which bleeds.</td></tr>
</table>
<p>
<ol>
<li>If your shoes are too tight this can lead to <input size="5" name="q4a">
<li>The <input size="5" name="q4b"> on my knee needed ten stitches 
<li>Because of the fall she was covered with <input size="5" name="q4c">
<li>Watch out for the bee; it might <input size="5" name="q4d"> you!
<li>The <input size="5" name="q4e"> in her hip bone was caused by the fall.
<li>The dog <input size="5" name="q4f"> resulted in a nasty infection
<li>Wool sweaters always make my skin <input size="5" name="q4g">
<li>This <input size="5" name="q4h"> on my hand was caused by ironing in a hurry.
<li>A fall while playing tennis can result in a <input size="5" name="q4i"> ankle.  
</ol>
<p>
<center>
<table cellpadding=5 cellspacing=5 bgcolor=#ffbc90 width=300>
<tr><td>cut</td><td>itch</td><td>bruises</td></tr>
<tr><td>bite</td><td>sting</td><td>blisters</td></tr>
<tr><td>burn</td><td>sprained</td><td>fracture</td></tr>
</table>
<p>
<button onclick="k4()">Check answers</button>
</center>

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>


 
