<script language="javascript">

function k1(){
s1a="<br>"
s1b="<br>"
s1c="<br>"
s1d="<br>"
s1e="<br>"
s1f="<br>"
s1g="<br>"
s1h="<br>"

if(q1a.checked){s1a="1.-Correct<br>"}
if(q1b.checked){s1a="1.-Incorrect<br>"}
if(q1c.checked){s1b="2.-Correct<br>"}
if(q1d.checked){s1b="2.-Incorrect<br>"}
if(q1e.checked){s1c="3.-Correct<br>"}
if(q1f.checked){s1c="3.-Incorrect<br>"}
if(q1h.checked){s1d="4.-Correct<br>"}
if(q1g.checked){s1d="4.-Incorrect<br>"}
if(q1i.checked){s1e="5.-Correct<br>"}
if(q1j.checked){s1e="5.-Incorrect<br>"}
if(q1l.checked){s1f="6.-Correct<br>"}
if(q1k.checked){s1f="6.-Incorrect<br>"}
if(q1m.checked){s1g="7.-Correct<br>"}
if(q1n.checked){s1g="7.-Incorrect<br>"}
if(q1p.checked){s1h="8.-Correct<br>"}
if(q1o.checked){s1h="8.-Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h
}
function k2(){

s2a="<br>"
s2b="<br>"
s2c="<br>"
s2d="<br>"
s2e="<br>"
s2f="<br>"
s2g="<br>"
s2h="<br>"

if(q2b.checked){s2a="1.-Correct<br>"}
if(q2a.checked){s2a="1.-Incorrect<br>"}
if(q2c.checked){s2a="1.-Incorrect<br>"}

if(q2e.checked){s2b="2.-Correct<br>"}
if(q2d.checked){s2b="2.-Incorrect<br>"}
if(q2f.checked){s2b="2.-Incorrect<br>"}

if(q2g.checked){s2c="3.-Correct<br>"}
if(q2h.checked){s2c="3.-Incorrect<br>"}
if(q2i.checked){s2c="3.-Incorrect<br>"}

if(q2l.checked){s2d="4.-Correct<br>"}
if(q2k.checked){s2d="4.-Incorrect<br>"}
if(q2j.checked){s2d="4.-Incorrect<br>"}

if(q2m.checked){s2e="5.-Correct<br>"}
if(q2n.checked){s2e="5.-Incorrect<br>"}
if(q2o.checked){s2e="5.-Incorrect<br>"}

if(q2q.checked){s2f="6.-Correct<br>"}
if(q2p.checked){s2f="6.-Incorrect<br>"}
if(q2r.checked){s2f="6.-Incorrect<br>"}

if(q2t.checked){s2g="7.-Correct<br>"}
if(q2s.checked){s2g="7.-Incorrect<br>"}
if(q2v.checked){s2g="7.-Incorrect<br>"}

if(q2w.checked){s2h="8.-Correct<br>"}
if(q2x.checked){s2h="8.-Incorrect<br>"}
if(q2y.checked){s2h="8.-Incorrect<br>"}

z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h
}

function k3(){
if(q3a.value=="Guests have to check out at 12:00"){s3a=" Correct<br>"}else{s3a=" Incorrect<br>"}
if(q3b.value=="Only staff members can use this elevator"){s3b=" Correct<br>"}else{s3b=" Incorrect<br>"}
if(q3c.value=="You mustn't feed the penguins"){s3c=" Correct<br>"}else{s3c=" Incorrect<br>"}
if(q3d.value=="Visitors are not allowed to stay later than 10:00 p.m."){s3d=" Correct<br>"}else{s3d=" Incorrect<br>"}
if(q3e.value=="Children under 12 are not required to pay"){s3e=" Correct<br>"}else{s3e=" Incorrect<br>"}
if(q3f.value=="Students are not allowed to use dictionaries during the exam"){s3f=" Correct<br>"}else{s3f=" Incorrect<br>"}
if(q3g.value=="Americans don't have to carry identification"){s3g=" Correct<br>"}else{s3g=" Incorrect<br>"}
if(q3h.value=="You are not allowed to take pictures here"){s3h=" Correct<br>"}else{s3h=" Incorrect<br>"}

z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h
}
function k4(){
z4.innerHTML="Suggested Answers:<p>1 You are not allowed/permitted to light fires here.<br> You can't / musn't light fires here.<p>  2 You are not allowed/permitted to bring your dog here.<br>You can't / musn't bring your dog here.<p> 3 You are not allowed/permitted to ride bicycles here.<br>You can't / musn't ride bicycles here. <p>4 You are not allowed/permitted to drink the water here.<br>You can't / mustn't drink the water here. <p>5 You are not allowed/permitted to go horseback riding here.<br>You can't / mustn't go horseback riding here. <p>6 You are not allowed/permitted to park here.<br>You can't / musn't park here. <p>7 You are not allowed/permitted to camp here.<br>You can't / mustn't camp here. <p>8 You are not allowed/permitted to take photos here.<br>You can't / musn't take photos here.<p> "
}
<div id="t0">
<b>Best Days of Your Life</b>
<p>
<b>Obligation, permission, no obligation</b>

</div>
<p>
<div id="t1">
<b>1. Decide which sentences in each pair is correct, according to the text "The House from Hell" (unit 2).</b>
<p>
<table cellspacing=10 cellpadding=0 width=600>
<ol>
<tr><td>1 <input type="checkbox" name="q1a">Participants are required to stay in five nights a week.	 
</td><td><input type="checkbox" name="q1b">Participants are allowed to stay in five nights a week.</td></tr> 

<tr><td>2 <input type="checkbox" name="q1c">Their loved ones are allowed to visit them.	 
</td><td><input type="checkbox" name="q1d">Their loved ones have to visit them.</td></tr>

<tr><td>3 <input type="checkbox" name="q1e">Their loved ones are allowed to stay the night.	 
</td><td><input type="checkbox" name="q1f">Their loved ones have to stay the night.</td></tr>
 
<tr><td>4 <input type="checkbox" name="q1g">The participants are required to bring five items with them. 	 
</td><td><input type="checkbox" name="q1h">The participants are permitted to bring five items with them.</td></tr>
 
<tr><td>5 <input type="checkbox" name="q1i">They are not allowed to spend more than $400 a week. 	 
</td><td><input type="checkbox" name="q1j">They don't have to spend more than $400 a week.</td></tr>

<tr><td>6 <input type="checkbox" name="q1k">They mustn't pay rent. 	 
</td><td><input type="checkbox" name="q1l">They don't have to pay rent.</td></tr>

<tr><td>7 <input type="checkbox" name="q1m">They have to complete certain jobs. 	 
</td><td><input type="checkbox" name="q1n">They are allowed to complete certain jobs.</td></tr> 

<tr><td>8 <input type="checkbox" name="q1o">If they don't complete the jobs, they can pay a fine. 	 
</td><td><input type="checkbox" name="q1p">If they don't complete the jobs, they have to pay a fine.</td></tr>
</table>
<p>
<center>
<button onClick="k1()">Check answers</button>
</center>
<p>
<b>2. Match the sentence on the left with the sentence on the right that is most similar in meaning.</b>
<table cellspacing=8 cellpadding=0 width=600>
<tr><td>1	You don't have to pay.</td><td>	 
<input type="checkbox" name="q2a"> You mustn't pay.<br>
<input type="checkbox" name="q2b">  You are not required to pay.<br>
<input type="checkbox" name="q2c">  You are not allowed to pay.</td><tr>


<tr><td>2	You mustn't talk.</td><td>	 
<input type="checkbox" name="q2d">  You don't have to talk.<br>
<input type="checkbox" name="q2e"> You are not allowed to talk.<br>
<input type="checkbox" name="q2f"> You don't need to talk.</td></tr>


<tr><td>3	You are allowed to bring a friend.</td><td>	
<input type="checkbox" name="q2g"> You can bring a friend.<br>
<input type="checkbox" name="q2h"> You have to bring a friend.<br>
<input type="checkbox" name="q2i"> You can't bring a friend.</td></tr>


<tr><td>4	You are required to wear a tie.	</td><td> 
<input type="checkbox" name="q2j"> You are permitted to wear a tie.<br>
<input type="checkbox" name="q2k"> You can wear a tie.<br>
<input type="checkbox" name="q2l"> You have to wear a tie.</td></tr>


<tr><td>5	You can stay the night.	</td><td> 
<input type="checkbox" name="q2m"> You are allowed to stay the night.<br>
<input type="checkbox" name="q2n"> You are required to stay the night.<br>
<input type="checkbox" name="q2o"> You have to stay the night.</td></tr>


<tr><td>6	You can't smoke here.</td><td>	
<input type="checkbox" name="q2p"> You aren't required to smoke here.<br>
<input type="checkbox" name="q2q"> You aren't allowed to smoke here.<br>
<input type="checkbox" name="q2r"> You don't have to smoke here.</td></tr>


<tr><td>7	You don't have to write.</td><td>	
<input type="checkbox" name="q2s"> You aren't allowed to write.<br>
<input type="checkbox" name="q2t"> You aren't required to write.<br>
<input type="checkbox" name="q2v"> You mustn't write.</td></tr>


<tr><td>8	You aren't allowed to sing.</td><td>	
<input type="checkbox" name="q2w"> You mustn't sing.<br>
<input type="checkbox" name="q2x"> You don't have to sing.<br>
<input type="checkbox" name="q2y"> You aren't required to sing.</td></tr>

</table>
<p>
<center>
<button onClick="k2()">Check answers</button>
</center>
<p>
<b>3. Rewrite each sentence using the word in (parentheses). The first one has been done for you as an example.</b>
<p>
<table cellspacing=8 cellpadding=0 width=700>
<tr><td> Original sentence</td><td>	Your Answer</td></tr>	
<tr><td><span id="m1">You can't smoke here. (allowed)</span>	</td><td><span id="m1">You're not allowed to smoke here.</span></td></tr>	 
<tr><td>Guests are required to check out at 12:00. (have)</td><td><input size=50 name="q3a">.</td></tr>	 
 <tr><td>Only staff members are permitted to use this elevator. (can)</td><td><input size=50 name="q3b">.</td></tr>	 
 <tr><td>You are not allowed to feed the penguins. (must)</td><td><input size=50 name="q3c">.</td></tr>	 
 <tr><td>Visitors cannot stay later than 10:00 p.m. (allowed)</td><td><input size=50 name="q3d">.</td></tr>	 
 <tr><td>Children under 12 don't have to pay. (required)	</td><td> <input size=50 name="q3e">.</td></tr>
 <tr><td>Students must not use dictionaries during the exam. (allowed)</td><td><input size=50 name="q3f">.</td></tr>	 
 <tr><td>Americans are not required to carry identification. (have)</td><td><input size=50 name="q3g">.</td></tr>	 
 <tr><td>You are not permitted to take pictures here. (allowed)</td><td><input size=50 name="q3h">.</td></tr>	 
</table> 
<p>
<center>
<button onClick="k3()">Check answers</button>
</center>
<p>
<b>4. Write one sentence for each of these signs.</b>
<p>
<center>
<img src="u5c.jpg">

</center>
<p>
For example
<p>
<span id="m1">•	You're not allowed to smoke here. or <br>
<li>You're not permitted to smoke here. or <br>
<li>You can't smoke here.</span> 
<p>
<input size=45>.<br>
<input size=45>.<br>
<input size=45>.<br>
<input size=45>.<br>
<input size=45>.<br>
<input size=45>.<br>
<input size=45>.<br>
<input size=45>.
<p>
Then look at some suggested answers.
<p>

<center>
<button onClick="k4()">Check answers</button>
</center>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
