<script language="javascript">

function k1(){
if(q1a.value=="d"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="a"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="e"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="j"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="f"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="b"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value=="h"){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value=="c"){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}
if(q1i.value=="g"){s1i="9. Correct<br>"}else{s1i="9. Incorrect<br>"}
if(q1j.value=="i"){s1j="10. Correct<br>"}else{s1j="10. Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h+s1i+s1j
}
function k2(){
if(q2a.value=="role"){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2b.value=="review"){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2c.value=="scene"){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2d.value=="cast"){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2e.value=="soundtrack"){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2f.value=="performance"){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
if(q2g.value=="screenplay"){s2g="7. Correct<br>"}else{s2g="7. Incorrect<br>"}
if(q2h.value=="plot"){s2h="8. Correct<br>"}else{s2h="8. Incorrect<br>"}
if(q2i.value=="director"){s2i="9. Correct<br>"}else{s2i="9. Incorrect<br>"}
if(q2j.value=="actress"){s2j="10. Correct<br>"}else{s2j="10. Incorrect<br>"}

z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h+s2i+s2j
}

function k3(){
if(q3a.value=="film"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="director"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="actor"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="cast"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value=="performance"){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3f.value=="role"){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3g.value=="screenplay"){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
if(q3h.value=="soundtrack"){s3h="8. Correct<br>"}else{s3h="8. Incorrect<br>"}

z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h
}
function k4(){
if(q4a.value=="j"){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value=="h"){s4b="2. Correct<br>"}else{s4b="2. Incorrect<br>"}
if(q4c.value=="a"){s4c="3. Correct<br>"}else{s4c="3. Incorrect<br>"}
if(q4d.value=="b"){s4d="4. Correct<br>"}else{s4d="4. Incorrect<br>"}
if(q4e.value=="d"){s4e="5. Correct<br>"}else{s4e="5. Incorrect<br>"}
if(q4f.value=="c"){s4f="6. Correct<br>"}else{s4f="6. Incorrect<br>"}
if(q4g.value=="f"){s4g="7. Correct<br>"}else{s4g="7. Incorrect<br>"}
if(q4h.value=="e"){s4h="8. Correct<br>"}else{s4h="8. Incorrect<br>"}
if(q4i.value=="g"){s4i="9. Correct<br>"}else{s4i="9. Incorrect<br>"}
if(q4j.value=="i"){s4j="10. Correct<br>"}else{s4j="10. Incorrect<br>"}

z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h+s4i+s4j
}

function k5(){
if(q5a.value=="1"){s5a="1. Correct<br>"}else{s5a="1. Incorrect<br>"}
if(q5b.value=="6"){s5b="2. Correct<br>"}else{s5b="2. Incorrect<br>"}
if(q5c.value=="8"){s5c="3. Correct<br>"}else{s5c="3. Incorrect<br>"}
if(q5d.value=="5"){s5d="4. Correct<br>"}else{s5d="4. Incorrect<br>"}
if(q5e.value=="2"){s5e="5. Correct<br>"}else{s5e="5. Incorrect<br>"}
if(q5f.value=="3"){s5f="6. Correct<br>"}else{s5f="6. Incorrect<br>"}
if(q5g.value=="4"){s5g="7. Correct<br>"}else{s5g="7. Incorrect<br>"}
if(q5h.value=="7"){s5h="8. Correct<br>"}else{s5h="8. Incorrect<br>"}

z5.innerHTML=s5a+s5b+s5c+s5d+s5e+s5f+s5g+s5h
}
function k6(){
if(q6a.value=="c"){s6a="1. Correct<br>"}else{s6a="1. Incorrect<br>"}
if(q6b.value=="f"){s6b="2. Correct<br>"}else{s6b="2. Incorrect<br>"}
if(q6c.value=="g"){s6c="3. Correct<br>"}else{s6c="3. Incorrect<br>"}
if(q6d.value=="e"){s6d="4. Correct<br>"}else{s6d="4. Incorrect<br>"}
if(q6e.value=="b"){s6e="5. Correct<br>"}else{s6e="5. Incorrect<br>"}
if(q6f.value=="h"){s6f="6. Correct<br>"}else{s6f="6. Incorrect<br>"}
if(q6g.value=="a"){s6g="7. Correct<br>"}else{s6g="7. Incorrect<br>"}
if(q6h.value=="d"){s6h="8. Correct<br>"}else{s6h="8. Incorrect<br>"}

z6.innerHTML=s6a+s6b+s6c+s6d+s6e+s6f+s6g+s6h

}
<div id="t0">
<b>Screen Test</b>
<p>
<b>Movie related vocabulary</b>
<br>
</div>
<p>
<div id="t1">
<b>1. Match the vocabulary to the definitions.</b>
<p>
<table cellpadding=0 cellspacing=5>
<tr><td>a) scene</td><td>1 <input size="1" name="q1a"> The music for a movie</td></tr>
<tr><td>b) cast</td><td>2 <input size="1" name="q1b"> A series of actions in the same place</td> </tr>
<tr><td>c) screenplay</td><td>3 <input size="1" name="q1c"> The story of the movie</td></tr>
<tr><td>d) soundtrack</td><td>4 <input size="1" name="q1d"> an article explaining a critic's opinion of the movie</td></tr>
<tr><td>e) plot</td><td>5 <input size="1" name="q1e"> the part that someone plays in the movie</td></tr>
<tr><td>f) role</td><td>6 <input size="1" name="q1f"> all of the people who act in the movie</td></tr>
<tr><td>g) director</td><td>7 <input size="1" name="q1g"> a woman who acts in a movie </td></tr>
<tr><td>h) actress</td><td>8 <input size="1" name="q1h">  
   the dialog for the movie</td>
</tr>
<tr><td>i) performance</td><td>9 <input size="1" name="q1i"> the person who makes the movie</td></tr>
<tr><td>j) review</td><td>10 <input size="1" name="q1j"> the acting of an actor in a movie</td></tr>
</table>
<p>
<center>
<button onClick="k1()">Check answers</button>
</center>
<p>
<b>2.Complete the sentences.</b>
<p>
<ol>
<li>The movie stars Al Pacino in the <input size="9" name="q2a"> of a corrupt policeman.
<li>I read a good <input size="9" name="q2b"> of the new Stephen Spielberg movie yesterday.
<li>Did you like the part where she meets her sister for the first time - that's my favorite <input size="9" name="q2c">.
<li>There are lots and lots of really famous people in the movie - it's a great <input size="9" name="q2d">.
<li>I really liked the <input size="9" name="q2e">. In fact it was so good that after watching the movie I went out and bought the CD.
<li>She won an Oscar for her <input size="9" name="q2f"> as a musician who falls seriously ill.
<li>The <input size="9" name="q2g"> wasn't very good. Most of the time I knew what the characters were going to say before they said it.
<li>The ending of the movie really surprised me - it was a really clever <input size="9" name="q2h">.
<li>He isn&rsquo;t a very famous
<input size="9" name="q2i">
but I like the movies he makes.
<li>My favorite actor is Dustin Hoffman and my favorite <input size="9" name="q2j"> is Uma Thurman.
</ol>
<p>
<center>
<table cellpadding=5 cellspacing=5 bgcolor=#ffbc90 width=400>
<tr><td>scene</td><td>review</td><td>director</td><td>screenplay</td><td>soundtrack</td></tr>
<tr><td>cast</td><td>role</td><td>actress</td><td>plot</td><td>performance</td></tr>
</table>
<p>
<button onClick="k2()">Check answers</button>
</center>
<p>
<b>3. Here's the review again from exercise 1. Type in the missing words. See the first letter of the missing words.</b> 
<p>
"Trainspotting" is the new <sub>f</sub><input size="3" name="q3a"> by <sub>d</sub><input size="7" name="q3b"> Danny Boyle and stars Scottish
<sub>a</sub><input size="4" name="q3c"> Ewan McGregor as Renton. Set in Edinburgh it tells the story of a group of 
young drug addicts. The  <sub>c</sub><input size="3" name="q3d"> also includes Robert Carlyle who gives a powerful
<sub>p</sub><input size="10" name="q3e"> as Begbie, Renton's violent and aggressive friend. Newcomer Kelly 
Macdonald is also convincing in the  <nobr><sub>r</sub><input size="3" name="q3f"></nobr> of Diane, Renton's girlfriend. The
<sub>s</sub><input size="11" name="q3g"> is based on the novel by Irving Walsh. The  <sub>s</sub><input size="9" name="q3h"> includes songs by 
a number of different groups, including Blur and New Order. 
<p>
<center>
<button onClick="k3()">Check answers</button>
</center>
<p>
<b>4. Types of movies</b>
<p>
Match the types of movies with the descriptions.
<p>
<table cellpadding=5 cellspacing=5>
<tr><td>a) a horror movie</td><td>1. <input size="1" name="q4a"> a movie with lots of action, usually watched by both adults and children</td></tr>
<tr><td>b) a western</td></td><td>2. <input size="1" name="q4b"> a movie with songs and dancing
<tr><td>c) a cartoon</td></td><td>3. <input size="1" name="q4c"> a movie that frightens people. A Dracula movie for example
<tr><td>d) a science fiction movie</td></td><td>4. <input size="1" name="q4d"> a movie , usually set in North America ,about cowboys and Indians
<tr><td>e) a period movie</td></td><td>5. <input size="1" name="q4e"> this type of movie is usually set in the future- it might be about computers or space exploration for example
<tr><td>f) a comedy</td></td><td>6. <input size="1" name="q4f"> a movie that uses drawings and pictures instead of real people and places
<tr><td>g) a romance</td></td><td>7. <input size="1" name="q4g"> a movie that makes you laugh
<tr><td>h) a musical</td></td><td>8. <input size="1" name="q4h"> this kind of movie is set in the past -the actors wear clothes typical of the period in which the movie takes place
<tr><td>i) a thriller</td></td><td>9. <input size="1" name="q4i"> a movie about relationships and love
<tr><td>j) an adventure movie</td></td><td>10. <input size="1" name="q4j"> a movie full of drama  , which usually has a complicated plot and a surprising ending
</table>
<p>
<center>
<button onClick="k4()">Check answers</button>
</center>
<p>
<b>5. What type of movies have these people been to see?</b> 
<p>
<ol>
<li>"The review I read said it was really scary but I wasn't very frightened. Apart from the bit where he goes into the cemetery."<br>
<select name="q5a">
<option value="x">Choose Answer
<option value="1">a horror movie
<option value="2">a western
<option value="3">a musical
<option value="4">a science fiction movie
<option value="5">a period movie
<option value="6">a comedy
<option value="7">a romance
<option value="8">a thriller
</select>   <li>"I think it's the funniest movie this year - I didn't stop laughing."<br>
<select name="q5b">
<option value="x">Choose Answer
<option value="1">a horror movie
<option value="2">a western
<option value="3">a musical
<option value="4">a science fiction movie
<option value="5">a period movie
<option value="6">a comedy
<option value="7">a romance
<option value="8">a thriller
</select>      <li>"The ending was incredible. When she tells him that she was the killer."<br>
<select name="q5c">
<option value="x">Choose Answer
<option value="1">a horror movie
<option value="2">a western
<option value="3">a musical
<option value="4">a science fiction movie
<option value="5">a period movie
<option value="6">a comedy
<option value="7">a romance
<option value="8">a thriller
</select>      <li>"It was great. It felt like you were actually living in the time of Shakespeare."<br>
<select name="q5d">
<option value="x">Choose Answer
<option value="1">a horror movie
<option value="2">a western
<option value="3">a musical
<option value="4">a science fiction movie
<option value="5">a period movie
<option value="6">a comedy
<option value="7">a romance
<option value="8">a thriller
</select>      <li>"It's different from most of them because the town sheriff is a woman."<br>
<select name="q5e">
<option value="x">Choose Answer
<option value="1">a horror movie
<option value="2">a western
<option value="3">a musical
<option value="4">a science fiction movie
<option value="5">a period movie
<option value="6">a comedy
<option value="7">a romance
<option value="8">a thriller
</select>      <li>"I like the story but it was very slow because of all the songs. It'd be better to see it in a theater."<br>
<select name="q5f">
<option value="x">Choose Answer
<option value="1">a horror movie
<option value="2">a western
<option value="3">a musical
<option value="4">a science fiction movie
<option value="5">a period movie
<option value="6">a comedy
<option value="7">a romance
<option value="8">a thriller
</select>      <li>"It really made me think about what life might be like in 50 years time, especially if scientists keep finding out more about genetics."<br>
<select name="q5g">
<option value="x">Choose Answer
<option value="1">a horror movie
<option value="2">a western
<option value="3">a musical
<option value="4">a science fiction movie
<option value="5">a period movie
<option value="6">a comedy
<option value="7">a romance
<option value="8">a thriller
</select>    	  <li>"It's a great story. They lose touch with each other and most of the movie is about the different lives that they live. Then right at the end of the movie they meet again, and you imagine that they'll stay together this time."<br>
<select name="q5h">
<option value="x">Choose Answer
<option value="1">a horror movie
<option value="2">a western
<option value="3">a musical
<option value="4">a science fiction movie
<option value="5">a period movie
<option value="6">a comedy
<option value="7">a romance
<option value="8">a thriller
</select>    	  
</ol>
<p>
<center>
<button onClick="k5()">Check answers</button>
</center>
<p>
<b>6. Prepositions<br>
Match the two parts of each sentence.</b>
<p>
<table cellpadding=5 cellspacing=5>
<tr><td>a) It's based on</td><td>1. <input size="1" name="q6a"> in Ireland</td></tr>
<tr><td>b) The latest movie by</td><td>2. <input size="1" name="q6b"> of adapting books for movies</td></tr>
<tr><td>c) It's set</td><td>3. <input size="1" name="q6c"> as Frank's father</td></tr>
<tr><td>d) It tells the story</td><td>4. <input size="1" name="q6d"> Frank's family living in Brooklyn</td></tr>
<tr><td>e) The movie opens with</td><td>5. <input size="1" name="q6e"> director Alan Parker</td></tr>
<tr><td>f) Angela's Ashes follows the recent trend</td><td>6. <input size="1" name="q6f"> guitarist John Williams</td></tr>
<tr><td>g) Its stars Robert Carlyle</td><td>7. <input size="1" name="q6g"> the novel by Frank McCourt</td></tr>
<tr><td>h) The movie has music by</td><td>8. <input size="1" name="q6h"> of Frank's childhood</td></tr>
</table>
<p>
<center>
<button onClick="k6()">Check answers</button>
</center>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>
 
