<script language="javascript">



function k1(){
if(q1a.value=="2"){s1a="1. Correct<br>"}
if(q1a.value!="2"){s1a="1. Incorrect<br>"}

if(q1b.value=="3"){s1b="2. Correct<br>"}
if(q1b.value!="3"){s1b="2. Incorrect<br>"}

if(q1c.value=="1"){s1c="3. Correct<br>"}
if(q1c.value!="1"){s1c="3. Incorrect<br>"}

if(q1d.value=="3"){s1d="4. Correct<br>"}
if(q1d.value!="3"){s1d="4. Incorrect<br>"}

if(q1e.value=="2"){s1e="5. Correct<br>"}
if(q1e.value!="2"){s1e="5. Incorrect<br>"}

if(q1f.value=="3"){s1f="6. Correct<br>"}
if(q1f.value!="3"){s1f="6. Incorrect<br>"}

if(q1g.value=="1"){s1g="7. Correct<br>"}
if(q1g.value!="1"){s1g="7. Incorrect<br>"}

if(q1h.value=="3"){s1h="8. Correct<br>"}
if(q1h.value!="3"){s1h="8. Incorrect<br>"}

if(q1i.value=="2"){s1i="9. Correct<br>"}
if(q1i.value!="2"){s1i="9. Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h+s1i
}

function k3(){
if(q3.value=="q3g"){s3a=" Correct<br>"}
if(q3.value!="q3g"){s3a=" Incorrect<br>"}

z3.innerHTML=s3a
}
function k4(){
if(q4a.value=="think"){s4a="1. Correct<br>"}
if(q4a.value!="think"){s4a="1. Incorrect<br>"}

if(q4b.value=="fell"){s4b="2. Correct<br>"}
if(q4b.value!="fell"){s4b="2. Incorrect<br>"}

if(q4c.value=="forgotten"){s4c="3. Correct<br>"}
if(q4c.value!="forgotten"){s4c="3. Incorrect<br>"}

if(q4d.value=="thought"){s4d="4. Correct<br>"}
if(q4d.value!="thought"){s4d="4. Incorrect<br>"}

if(q4e.value=="felt"){s4e="5. Correct<br>"}
if(q4e.value!="felt"){s4e="5. Incorrect<br>"}

if(q4f.value=="seen"){s4f="6. Correct<br>"}
if(q4f.value!="seen"){s4f="6. Incorrect<br>"}

if(q4g.value=="taught"){s4g="7. Correct<br>"}
if(q4g.value!="taught"){s4g="7. Incorrect<br>"}

z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g
}
<div id="t0">
<b>Crime Doesn’t Pay</b> 
<p>
<b>Steal, rob and burglarize</b>
<br>
</div>
<p>
<div id="t1">
<b>1. Steal, rob or burglarize?</b>
<p>
<span id="m1">Rob, steal</span> and <span id="m1">burglarize</span> are all criminal actions. 
<p>
<b>Steal</b>
If you <span id="m1"><b>steal</b></span> something, you take it:
<p>
<li><span id="m1">Thieves broke into my car and <b>stole</b> the radio.</span>
<p> 
<b>Rob</b><br>
You use <span id="m1"><b>rob</b></span> to talk about <b>people</b> and <b>banks.</b><br> 
If you <span id="m1"><b>rob</span> a bank</b> , you go in and steal money from it.<br>
If you <span id="m1"><b>rob</span> a person</b>, you steal something from that person.
<p>
<li><span id="m1">A masked man <b>robbed</b> the bank in the high street and stole $500,000.<br> 
<li>Someone <b>robbed</b> me when I was coming out of the subway.</span>
<p> 
<b>burglarize</b><br>
You use <span id="m1"><b>burglarize</b></span> to talk about <b>houses</b> and <b>offices.</b><br> 
If you <span id="m1"><b>burglarize</b></span> a <b>house</b> or <b>office</b>, you go in and steal something.
<p>
<li><span id="m1">My house was <b>burglarized</b> when I was on vacation.</span> 
<p>
Choose the correct word to complete each sentence.
<p>
<ol>
<li>Someone tried to 
<select name="q1a"> 
<option value="x">Choose Answer
<option value="1">burglarize
<option value="2">rob
<option value="3">steal
</select> 
me on the subway.<p><li>The person behind me tried to
<select name="q1b"> 
<option value="x">Choose Answer
<option value="1">burglarize
<option value="2">rob
<option value="3">steal
</select>
my wallet from my back pocket.<p><li>Our house was
<select name="q1c"> 
<option value="x">Choose Answer
<option value="1">burglarized
<option value="2">robbed
<option value="3">stolen
</select>
while we were out at work.<p><li>The burglars
<select name="q1d"> 
<option value="x">Choose Answer
<option value="1">burglarized
<option value="2">robbed
<option value="3">stole
</select>  
everything they could possibly sell.<p><li>My mother was
<select name="q1e"> 
<option value="x">Choose Answer
<option value="1">burglarized
<option value="2">robbed
<option value="3">stolen
</select>  
twice in the same day in Washington.<p><li>Someone pushed her to the ground and
<select name="q1f"> 
<option value="x">Choose Answer
<option value="1">burglarized
<option value="2">robbed
<option value="3">stole
</select>  
her handbag.<p><li>The office was
<select name="q1g"> 
<option value="x">Choose Answer
<option value="1">burglarized
<option value="2">robbed
<option value="3">stolen
</select>  
on the weekend.<p><li>Some very important documents were
<select name="q1h"> 
<option value="x">Choose Answer
<option value="1">burglarized
<option value="2">robbed
<option value="3">stolen
</select>  
.<p> <li>The bank downtown was
<select name="q1i"> 
<option value="x">Choose Answer
<option value="1">burglarized
<option value="2">robbed
<option value="3">stolen
</select>  
this morning.</ol>
<p><center>
<button onClick="k1()">Check answers</button>
</center>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
