<script language="javascript">

function k1(){
if(q1a.value=="robbers"&q1b.value=="stole"&q1c.value=="robbery"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1d.value=="theft"&q1e.value=="thieves"&q1f.value=="steal"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1g.value=="burglarized"&q1h.value=="burglars"&q1i.value=="steal"&q1j.value=="burglary"&q1k.value=="burglaries"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c
}


function k2(){
if(q2a.value=="c"){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2b.value=="a"){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2c.value=="h"){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2d.value=="e"){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2e.value=="d"){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2f.value=="b"){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
if(q2g.value=="g"){s2g="7. Correct<br>"}else{s2g="7. Incorrect<br>"}
if(q2h.value=="f"){s2h="8. Correct<br>"}else{s2h="8. Incorrect<br>"}

z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h
}

function k4(){
if(q4a.value=="hijacking"){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value=="hijacker"){s4b="1. Correct<br>"}else{s4b="1. Incorrect<br>"}
if(q4c.value=="kidnapping"){s4c="2. Correct<br>"}else{s4c="2. Incorrect<br>"}
if(q4d.value=="kidnapper"){s4d="2. Correct<br>"}else{s4d="2. Incorrect<br>"}
if(q4e.value=="mugging"){s4e="3. Correct<br>"}else{s4e="3. Incorrect<br>"}
if(q4f.value=="mugger"){s4f="3. Correct<br>"}else{s4f="3. Incorrect<br>"}
if(q4g.value=="murder"){s4g="4. Correct<br>"}else{s4g="4. Incorrect<br>"}
if(q4h.value=="murderer"){s4h="4. Correct<br>"}else{s4h="4. Incorrect<br>"}
if(q4i.value=="smuggling"){s4i="5. Correct<br>"}else{s4i="5. Incorrect<br>"}
if(q4j.value=="smuggler"){s4j="5. Correct<br>"}else{s4j="5. Incorrect<br>"}
if(q4k.value=="shoplifting"){s4k="6. Correct<br>"}else{s4k="6. Incorrect<br>"}
if(q4l.value=="shoplifter"){s4l="6. Correct<br>"}else{s4l="6. Incorrect<br>"}
if(q4m.value=="vandalism"){s4m="7. Correct<br>"}else{s4m="7. Incorrect<br>"}
if(q4n.value=="vandal"){s4n="7. Correct<br>"}else{s4n="7. Incorrect<br>"}

z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h+s4i+s4j+s4k+s4l+s4m+s4n
}

function k5(){
if(q5a.value=="broke"&q5b.value=="broke"&q5c.value=="broke"&q5d.value=="broke"&q5e.value=="broke"){s5a="Correct<br>"}else{s5a="Incorrect<br>"}
z5.innerHTML=s5a
}
<div id="t0">
<b>Crime Doesn’t Pay</b> 
<p>
<b>Crimes and criminals</b>
<br>
</div>
<p>
<div id="t1">
<b>1. Crimes and criminals</b>
<p>
<table cellspacing=5 cellpadding=0 width=550 bgcolor=#ffbc90>

<tr><td><b>verb</td><td> <b>criminal</td><td> <b>crime</td></tr>
<tr><td>burglarize</td><td>	burglar</td><td>	burglary (pl: burglaries)</td></tr>
<tr><td>rob (a bank)</td><td>	robber</td><td>	robbery</td></tr>
<tr><td>rob (a person)</td><td>	thief (pl: thieves)</td><td>	theft</td></tr>
<tr><td>steal (a thing)</td><td>	thief (pl: thieves)</td><td>	theft</td></tr>
</table>
<p>
<b>Complete the paragraphs with the correct form of words from the table:</b> 
<p>
<ol>
<li>Two armed <sub>r</sub><input size="5" name="q1a">  walked into the bank just before closing time and  <sub>s</sub><input size="5" name="q1b"> $500,000 in cash. It was the second bank <sub>r</sub><input size="5" name="q1c">  in the area in the last week.<p>
<li>Police are looking into the <sub>t</sub><input size="5" name="q1d">  of two paintings from a New York art gallery. Detectives believe that the <sub>t</sub><input size="5" name="q1e">  had inside help because they were able to break into the building and <sub>s</sub><input size="5" name="q1f">  the paintings without setting off the alarms.<p>
<li>Our neighbors were <sub>b</sub><input size="5" name="q1g">  on the weekend. Apparently the <sub>b</sub><input size="5" name="q1h">  saw cartons of milk on the front doorstep and knew they weren't at home. They didn't <sub>s</sub><input size="5" name="q1i">  very much, though, because the family keeps everything of value in a safe. We've decided to have a  <sub>b</sub><input size="5" name="q1j"> alarm installed because there have been a number of <sub>b</sub><input size="5" name="q1k">  in the neighborhood recently.
</ol>
<p>
<center>
<button onClick="k1()">Check answers</button>
</center>
<p>
<b>2. Complete the definitions using the best word.</b>
<p>
<table cellpadding=5 cellspacing=5>

<tr><td>1. A <input size="1" name="q2a"> has killed another person.</td><td>a) blackmailer</td></tr>
<tr><td>2. A <input size="1" name="q2b"> asks for money in exchange for not revealing private information.</td><td>b) kidnapper</td></tr>
<tr><td>3. A <input size="1" name="q2c"> deliberately destroys public or private property.</td><td>c) murderer</td></tr>
<tr><td>4. A <input size="1" name="q2d"> forces the pilot of a plane to fly to a different destination</td><td>d) smuggler</td></tr>
<tr><td>5. A <input size="1" name="q2e"> brings things into a country illegally</td><td>e) hijacker</td></tr>
<tr><td>6. A <input size="1" name="q2f"> holds another person in captivity and asks for money to let them go free.</td><td>f) mugger</td></tr>
<tr><td>7. A <input size="1" name="q2g"> 
steals things from stores.</td><td>g) shoplifter</td></tr>
<tr><td>8. A <input size="1" name="q2h"> attacks people in the street in order to rob them.</td><td>h) vandal</td></tr>
</table>
<p>
<center>
<button onClick="k2()">Check answers</button>
</center>
<p>
<b>3. Complete the table. Use the exercises above to help you.</b>
<p>
<table cellspacing=5 cellpadding=0 width=400 bgcolor=#ffbc90>
<tr><td>crime</td><td>criminal</td><td>verb</td></tr>
<tr><td>blackmail</td><td>blackmailer</td><td>blackmail</td></tr>
<tr><td>1 <input size="10" name="q4a"></td><td><input size="10" name="q4b"></td><td>hijack</td></tr>
<tr><td>2 <input size="10" name="q4c"></td><td><input size="10" name="q4d"></td><td>kidnap </td></tr>
<tr><td>3 <input size="10" name="q4e"></td><td><input size="10" name="q4f"></td><td>mug</td></tr>
<tr><td>4 <input size="10" name="q4g"></td><td><input size="10" name="q4h"></td><td>murder </td></tr>
<tr><td>5 <input size="10" name="q4i"></td><td><input size="10" name="q4j"></td><td>smuggle</td></tr>
<tr><td>6 <input size="10" name="q4k"></td><td><input size="10" name="q4l"></td><td>shoplift</td></tr>
<tr><td>7 <input size="10" name="q4m"></td><td><input size="10" name="q4n"></td><td>vandalize</td></tr>
</table>  
<p>
<center>
<button onClick="k4()">Check answers</button>
</center>
<p>
<b>4. Which ONE word can complete all the sentences?</b>
<p>
Thieves <input size="7" name="q5a">  into my house.<br>Our car <input size="7" name="q5b">  down on the way to the airport.<br>The couple <input size="7" name="q5c">  up five years after getting married.<br>Two prisioners <input size="7" name="q5d">  out of the prison.<br>An arm <input size="7" name="q5e">  off the statue when they were moving it. 	<p>
<center>
<button onClick="k5()">Check answers</button>
</center>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>

<div id="z5">
</div>

 
