<script language="javascript">

function k1(){
if(q1a.value=="f"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="b"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="i"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="e"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="a"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="g"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value=="c"){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value=="h"){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}
if(q1i.value=="d"){s1i="9. Correct<br>"}else{s1i="9. Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h+s1i
}

function k4(){
if(q4a.value=="There you are"){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value=="I had trouble finding a taxi"){s4b="2. Correct<br>"}else{s4b="2. Incorrect<br>"}
if(q4c.value=="It took me half an hour to find one"){s4c="3. Correct<br>"}else{s4c="3. Incorrect<br>"}
if(q4d.value=="How long have you been waiting"){s4d="4. Correct<br>"}else{s4d="4. Incorrect<br>"}
if(q4e.value=="I'm really sorry"){s4e="5. Correct<br>"}else{s4e="5. Incorrect<br>"}
if(q4f.value=="I've been watching TV"){s4f="6. Correct<br>"}else{s4f="6. Incorrect<br>"}

z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f
}
<div id="t0">
<b>In the Hot Seat</b>
<p>
<b>Apologizing and making excuses</b>
</div>
<p>
<div id="t1">
<b>1.Put this conversation in order.</b>
<p>
<table cellpadding=5 cellspacing=5>
<tr><td>a. Terrible. It took me over an hour to get here.</td><td>1.<input size="4" name="q1a"></td></tr>
<tr><td>b. At last!</td><td>2.<input size="4" name="q1b"></td></tr>
<tr><td>c. Half an hour.</td><td>3.<input size="4" name="q1c"></td></tr>
<tr><td>d. That's  OK. I've been reading the newspapers.</td><td>4.<input size="4" name="q1d"></td></tr>
<tr><td>e. Yes , it's bad at this time of day.</td><td>5.<input size="4" name="q1e"></td></tr>
<tr><td>f. Hi!</td><td>6.<input size="4" name="q1f"></td></tr>
<tr><td>g. Have you been waiting long?</td><td>7.<input size="4" name="q1g"></td></tr>
<tr><td>h. I'm really sorry.</td><td>8.<input size="4" name="q1h"></td></tr>
<tr><td>i. I'm sorry I'm late. I was stuck in the traffic.</td><td>9.<input size="4" name="q1i"></td></tr>
</table>
<p>
<center>
<button onClick="k1()">Check answers</button>
</center>
<p>
<p>
<b>2. Here are some more expressions. Use them to complete this conversation.</b>
<p>
<li>It took me half an hour to find one<br>
<li>I&rsquo;m really sorry<br>
<li>I had trouble finding a taxi<br>
<li>How long have you been waiting<br>
<li>There you are<br>
<li>I've been watching TV<br>
<p>
A: Hi!<br>
B: <input size=25 name="q4a">!<br>
A: I'm sorry. I'm late. <input size=25 name="q4b">
.<br>
B: Was it difficult?<br>
A: Terrible. <input size=25c name="q4c">
.<br>
B: Yes, it's always  a problem when it rains.<br>
A: <input size=25 name="q4d">?<br>
B: Fifteen minutes.<br>
A: <input size=25 name="q4e">
.<br>
B: That's OK <input size=25 name="q4f">
.<p>


<p>
<center>
<button onClick="k4()">Check answers</button>
</center>
<p>
</div>

<div id="z1">
</div>



<div id="z4">
</div>


 
