<script language="javascript">

function k1(){
s1="Incorrect<br>"
if(q1a.checked&q1c.checked&q1f.checked&q1g.checked&q1i.checked){s1="Correct<br>"}
z1.innerHTML=s1
}
function k2(){
if(q2a.value=="It would be very exciting"){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2b.value=="Only people who were rich would be able to go"){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2c.value=="People who were afraid of flying probably wouldn't go"){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2d.value=="Leaving the Earth would be a strange experience"){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2e.value=="It would probably take a long time"){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2f.value=="Rich couples would go on an unusual honeymoon"){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
if(q2g.value=="The view would be absolutely incredible"){s2g="7. Correct<br>"}else{s2g="7. Incorrect<br>"}
if(q2h.value=="Adventurous people would go because it would be new"){s2h="8. Correct<br>"}else{s2h="8. Incorrect<br>"}
z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h
}

function k3(){
if(q3a.checked&q3b.checked==false){s3a="1.-Correct<br>"}else{s3a="1.-Incorrect<br>"}
if(q3d.checked&q3c.checked==false){s3b="2.-Correct<br>"}else{s3b="2.-Incorrect<br>"}
z3.innerHTML=s3a+s3b
}
function k4(){
if(q4a.value=="The view of Earth would be fantastic"){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value=="A guide would explain lots of things about the Moon"){s4b="2. Correct<br>"}else{s4b="2. Incorrect<br>"}
if(q4c.value=="You would wear a special spacesuit"){s4c="3. Correct<br>"}else{s4c="3. Incorrect<br>"}
if(q4d.value=="You would visit the Apollo landing site"){s4d="4. Correct<br>"}else{s4d="4. Incorrect<br>"}
if(q4e.value=="You would get off the bus and walk around the Moon"){s4e="5. Correct<br>"}else{s4e="5. Incorrect<br>"}
if(q4f.value=="You would drive through incredible valleys"){s4f="6. Correct<br>"}else{s4f="6. Incorrect<br>"}
z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f
}

function k5(){
q5a="The view of Earth would be fantastic."
q5b="A guide would explain lots of things about the Moon."
q5c="You would wear a special spacesuit."
q5d="You would visit the Apollo landing site."
q5e="You would get off the bus and walk around the Moon."
q5f="You would drive through incredible valleys."
z5.innerHTML=q5a+"<br>"+q5b+"<br>"+q5c+"<br>"+q5d+"<br>"+q5e+"<br>"+q5f
}
<div id="t0">
<b>In the Hot Seat</b>
<p>
<b>Would for hypothesis</b>
<br>

</div>
<p>
<div id="t1">
<b>1. How good's your memory? </b>
<p>
Can you remember four things about the hotel that the Hilton wants to build? 
<p>
There's a prompt for you in each of the questions. The first one has been done for you as an example. 
<p>
<ol>
<li>rooms: The hotel would have five thousand rooms.<br>

<li>food: <input size="50" name="q1a">.<br>	 

<li>church: <input size="50" name="q1b">.<br>	 

<li>solar panels: <input size="50" name="q1c">.<br>	 

<li>beach: <input size="50" name="q1d">.
</ol>
<p>	 

<b>Now compare your sentences with those from the text.
<p>
<center>
Reading for "Fly Me To The Moon"</b>
</center>
<p>
How about a honeymoon on the Moon? This may one day be possible: Hilton International, the international hotel company, has announced plans to build the first hotel on the Moon. 
<p>
The announcement follows the recent discovery of water, which has greatly increased the possibility of colonizing the Moon.
<p>
The Lunar Hilton would have five thousand rooms, restaurants, a church and even a beach. Food would come from farms on the Moon's surface and the ice discovered at the Moon's poles could be used for water. The hotel would be powered by solar panels. 
<p>
Two Japanese companies have also expressed interest in this development in the space race.
<p>
Shimuzu is planning an orbiting 64-room space hotel by 2020 and a hotel on the Moon's surface. Nishimatu Construction Company also has plans for a Moon resort, called Escargot City a reference to the shape of the ten towers they plan to build. 
<p>
So what does the Moon offer tourists who would like to experience a lunar vacation? After completing the vacation, guests could enjoy a variety of activities from golf and tennis to excursions on special moon buses. They would first have to get used to wearing special boots because of the lack of gravity on the Moon. 
<p>
The Hilton has already been in contact with NASA about transportation of passengers and building materials but scientists have reacted with surprise and disbelief. They have mentioned both the incredible expense and the dangers of space travel. 
<p>
However, tourists looking for a room with a really special view would love it. Also, honeymoon couples wanting to give a new meaning to the word might find the Moon a perfect destination.
<p>
<b>2. Put these words in order to make sentences about moon travel. </b>
<p>
<ol>
<li>would It  be exciting very.<br>
<input size="50" name="q2a">.<p>
<li>Only people were would be able to who rich go.<br>
<input size="50" name="q2b">.<p>
<li>People afraid flying probably wouldn’t who were of go.<br>
<input size="58" name="q2c">.<p>
<li>be a strange Leaving would the Earth experience.<br>
<input size="50" name="q2d">.<p>
<li>would It take probably a long time .<br>
<input size="50" name="q2e">.<p>
<li>would couples Rich an go on honeymoon unusual.<br>
<input size="50" name="q2f">.<p>
<li>view be incredible  The would absolutely.<br>
<input size="50" name="q2g">.<p>
<li>Adventurous people go because would be new it would .<br>
<input size="58" name="q2h">.<p>
</ol>
<p>
<center>
<button onClick="k2()">Check answers</button>
</center>
<p>
<b>3. Here are two more questions about vacations on the Moon.</b>
<p> 
A - What would the trip to the Moon be like? <br>
B - Who would go? 
<p>
Look at the eight sentences in the exercise above and decide if they refer 
<br>to the trip ( A ) or who would go ( B ): 
<p>
<table cellspacing=3 cellpadding=0 width=500>
<tr><td>sentence...</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td></tr>
<tr><td>A - The trip</td><td><input type="checkbox" name="q3a"></td><td><input type="checkbox" name="q3b"></td><td><input type="checkbox" name="q3c"></td><td><input type="checkbox" name="q3d"></td><td><input type="checkbox" name="q3e"></td><td><input type="checkbox" name="q3f"></td><td><input type="checkbox" name="q3g"></td><td><input type="checkbox" name="q3h"></td></tr> 

<tr><td>B - Who would go</td><td><input type="checkbox" name="q3i"></td><td><input type="checkbox" name="q3j"></td><td><input type="checkbox" name="q3k"></td><td><input type="checkbox" name="q3l"></td><td><input type="checkbox" name="q3m"></td><td><input type="checkbox" name="q3n"></td><td><input type="checkbox" name="q3o"></td><td><input type="checkbox" name="q3p"></td></tr>	 
</table>
<p>
<center>
<button onClick="k3()">Check answers</button>
</center>
<p>
<b>4. Put the words in order to make sentences.</b>
<p>
<ol>
<li>of be would the The Earth fantastic view<br>
<input size="50" name="q4a">.
<p>

<li><span class="style2">explain</span> <span class="style2">lots</span> <span class="style2">A the things Moon would</span> <span class="style2">of</span> <span class="style2">guide about</span><br>
<input size="50" name="q4b">.<p>
<li>spacesuit would You special a wear<br>
<input size="50" name="q4c">.<p>
<li>would Apollo You visit the site landing<br>
<input size="50" name="q4d">.<p>
<li>walk would the You off get bus Moon around and the<br> 
<input size="50" name="q4e">.<p>
<li>through incredible would drive valleys You<br>
<input size="50" name="q4f">.<p>
</ol>
<p>
<center>
<button onClick="k4()">Check answers</button>
</center>
<p>
<b>5. An excursion on the moon bus - what would it be like?</b>
<p>
Write the sentences from exercise 4 in each box. Use the pictures to help you.
<p>
<img src="u8b.jpg">
<p>
<ol>
<li>view of the Earth <input size=40><br>  

<li>explain  <input size=40><br>

<li>wear  <input size=40><br>

<li>visit  <input size=40><br>

<li>get off  <input size=40><br>

<li>drive  <input size=40>
</ol>
<p>
Click on the button below to look at the answers and compare them with yours.
<p>
<center>

<button onClick="k5()">Check answers</button>
</center>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>

<div id="z5">
</div>

 
