<script>
	v = {

		q1a:'1',
		q2a:'1',
		q3a:'1',
		q4a:'2',
		q5a:'1',
		q6a:'2',
		q7a:'2',
		q8a:'2',
		q9a:'2',
		10a:'2',
		q2a:'growing',
		q2b:'were',
		q2c:'go',
		q2d:'start',
		q2e:'will be',
		q2f:'is taking',
		q2h:'cleans up',
		q2i:'is going to fly',
		q2j:'am taking over',
		q2k:'will be',
		q2l:'it\'s going to be',
		q2m:'will send',
		q2n:'are coming',

</script>


<div id="t0">
<b>Global Inequality</b>
<p>
<b>Future forms</b>
<br>
</div>
<p>
<div id="t1">
<b>1. These sentences all refer to the future. Mark the alternatives that are possible.</b>
<p>
<ol>
<li><b>Can you stop at the supermarket and get some beer? Frank and Nancy ...</b>
<br> 	  
<input type="checkbox" name="q1a">... are coming over to watch the soccer on TV tonight.<br>
<input type="checkbox" name="q1b">... will come over to watch the soccer on TV tonight. <br>
<input type="checkbox" name="q1c">... are going to come over to watch the soccer on TV tonight.
<br>
<center>
<button onClick="k1()">Check answers</button>
</center> 

<p> 
<li><b>Have you heard the news? Wanda's just had a baby!</b>
<br> 	  
 <input type="checkbox" name="q2x">Oh really! How wonderful. I will send her some flowers.<br> 
 <input type="checkbox" name="q2y">Oh really! How wonderful. I am going to send her some flowers.<br>  
 <input type="checkbox" name="q2z">Oh really! How wonderful. I am sending her some flowers.
<br>
<center>
<button onClick="k2()">Check answers</button>
</center>  

<p> 
<li><b>Let's go to the beach this weekend.</b>
<br> 	   
 <input type="checkbox" name="q3a">I think the weather will be good.<br>
 <input type="checkbox" name="q3b">I think the weather is going to be good. <br>
 <input type="checkbox" name="q3c">I think the weather is to be good.
<br>
<center>
<button onClick="k3()">Check answers</button>
</center>  

<p> 
<li><b>Why is the hotel closed now?</b>
<br> 	  
 <input type="checkbox" name="q4a">It will be renovated.<br>
 <input type="checkbox" name="q4b">It is going to be renovated. <br>
 <input type="checkbox" name="q4c">It is to be renovated.
<br>
<center>
<button onClick="k4()">Check answers</button>
</center>  

<p> 
<li><b>What are you doing this weekend?</b>
<br> 	  
 <input type="checkbox" name="q5a">Well, I expect we will stay at home, like we always do.<br>
 <input type="checkbox" name="q5b">Well, I expect we are staying at home, like we always do. <br> 
 <input type="checkbox" name="q5c">Well, I expect we are going to stay at home, like we always do.
<br>
<center>
<button onClick="k5()">Check answers</button>
</center>  

<p> 
<li><b>No I can't go to Madrid with you this weekend.</b>
<br> 	   
 <input type="checkbox" name="q6a">I will study. I have exams next week.<br>
 <input type="checkbox" name="q6b">I am going to study. I have exams next week.<br> 
 <input type="checkbox" name="q6c">I am studying. I have exams next week.
<br>
<center>
<button onClick="k6()">Check answers</button>
</center>  

<p> 
<li><b>Don't worry.</b>
<br> 	   
 <input type="checkbox" name="q7a">It is not going to be that bad. It's only an exam. It's not the end of the world.<br>
 <input type="checkbox" name="q7b">It won't be that bad. It's only an exam. It's not the end of the world. <br>
 <input type="checkbox" name="q7c">It isn't to be that bad. It's only an exam. It's not the end of the world.
<br>
<center>
<button onClick="k7()">Check answers</button>
</center>  

<p> 
<li><b>Oh dear! Look at those big black clouds. Get your umbrella Priscilla.</b>
<br> 	  
 <input type="checkbox" name="q8a">It will rain.<br>
 <input type="checkbox" name="q8b">It is going to rain.<br> 
 <input type="checkbox" name="q8c">It is to rain.
<br>
<center>
<button onClick="k8()">Check answers</button>
</center>  

<p> 
<li><b>I've been using the Internet a lot lately.</b>
<br> 	  
 <input type="checkbox" name="q9a">My phone bill will be more than usual this month.<br>
 <input type="checkbox" name="q9b">My phone bill is going to be more than usual this month.<br> 
 <input type="checkbox" name="q9c">My phone bill is to be more than usual this month.
<br>
<center>
<button onClick="k9()">Check answers</button>
</center>  

<p> 
<li><b>Listen Phil. I've decided what to do about that problem.</b>
<br> 	    
 <input type="checkbox" name="q10a">Oh really? What will you do?<br>  
 <input type="checkbox" name="q10b">Oh really? What are you going to do? <br>   
 <input type="checkbox" name="q10c">Oh really? What are you doing?
<br>
<center>
<button onClick="k10()">Check answers</button>
</center>
</ol>  
<p>
<b>2. Complete the original letter by putting the verbs in parentheses in the correct form.</b>
<p>
Dear Ray,
<br> 
The house is  
<input size="8" name="q2a">(grow) at a great rate. The foundations  
<input size="8" name="q2b">(be) laid two weeks ago. Now the timber framework is already up. The roof is to  
<input size="8" name="q2c">(go) on next week, and then the electrician is to  
<input size="8" name="q2d">(start). It looks great. We expect it  
<nobr><input size="8" name="q2e">(be)</nobr> finished in a month or so. Dad  
<input size="8" name="q2f">(take) photos for you. The view from upstairs is terrific. We have lots of windows, nine upstairs looking out the front and big folding glass doors downstairs opening onto the wooden porch. The builder is very happy with Ralf's design. 
 Dad  <input size="8" name="q2h">(clean up) each afternoon, picking up nails, sweeping up the sawdust. Next week he  
<input size="8" name="q2i">(fly) to Townsville for two weeks. I  
<input size="8" name="q2j">(take over) his job while he's away. Luckily the weather  
<input size="8" name="q2k">
(be) good lately. I think it 
<input size="8" name="q2l">(be) warm and sunny again this weekend. I hope it stays like this until the roof is on. I  
<input size="8" name="q2m">(send) you some photos. Have to go now. The carpenters  
<input size="8" name="q2n">(come) over for a cup of coffee in ten minutes. Will continue this letter this afternoon, when.... 
<p>

<center>
<button onClick="k2a()">Check answers</button>
</center>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z2a">
</div>
<div id="z3">
</div>
<div id="z4">
</div>
<div id="z5">
</div>
<div id="z6">
</div>
<div id="z7">
</div>
<div id="z8">
</div>
<div id="z9">
</div>
<div id="z10">
</div>

 
