<script language="javascript">

function k1(){
if(q1a.value=="b"|q1a.value=="B"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="h"|q1b.value=="H"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="d"|q1c.value=="D"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="g"|q1d.value=="G"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="f"|q1e.value=="F"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="e"|q1f.value=="E"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value=="c"|q1g.value=="C"){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value=="a"|q1h.value=="A"){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}


z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h
}
function k2(){
if(q2a.value=="pet name"|q2a.value=="Pet name"){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2b.value=="nickname"|q2b.value=="Nickname"){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2c.value=="initials"|q2c.value=="Initials"){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2d.value=="surname"|q2d.value=="Surname"){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2e.value=="brand name"|q2e.value=="Brand name"){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2f.value=="pseudonym"|q2f.value=="Pseudonym"){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
if(q2g.value=="is short for"|q2g.value=="Is short for"){s2g="7. Correct<br>"}else{s2g="7. Incorrect<br>"}


z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g
}

function k3(){

if(q3a.value=="d"|q3a.value=="D"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="e"|q3b.value=="E"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="a"|q3c.value=="A"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="f"|q3d.value=="F"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value=="h"|q3e.value=="H"){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3f.value=="c"|q3f.value=="E"){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3g.value=="g"|q3g.value=="G"){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
if(q3h.value=="b"|q3h.value=="B"){s3h="8. Correct<br>"}else{s3h="8. Incorrect<br>"}


z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h
}

function k4(){
if(q4a.value=="3"){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value=="3"){s4b="2. Correct<br>"}else{s4b="2. Incorrect<br>"}
if(q4c.value=="1"){s4c="3. Correct<br>"}else{s4c="3. Incorrect<br>"}
if(q4d.value=="3"){s4d="4. Correct<br>"}else{s4d="4. Incorrect<br>"}
if(q4e.value=="2"){s4e="5. Correct<br>"}else{s4e="5. Incorrect<br>"}
if(q4f.value=="3"){s4f="6. Correct<br>"}else{s4f="6. Incorrect<br>"}
if(q4g.value=="1"){s4g="7. Correct<br>"}else{s4g="7. Incorrect<br>"}
if(q4h.value=="3"){s4h="8. Correct<br>"}else{s4h="8. Incorrect<br>"}

z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h
}

function k5(){
if(q5a.value=="named"|q5a.value=="Named"){s5a="1. Correct<br>"}else{s5a="1. Incorrect<br>"}
if(q5b.value=="named after"|q5b.value=="Named after"){s5b="2. Correct<br>"}else{s5b="2. Incorrect<br>"}
if(q5c.value=="went by the name of"|q5c.value=="Went by the name of"){s5c="3. Correct<br>"}else{s5c="3. Incorrect<br>"}
if(q5d.value=="is short for"|q5d.value=="Is short for"){s5d="4. Correct<br>"}else{s5d="4. Incorrect<br>"}
if(q5e.value=="called"|q5e.value=="Called"){s5e="5. Correct<br>"}else{s5e="5. Incorrect<br>"}

z5.innerHTML=s5a+s5b+s5c+s5d+s5e
}

<div id="t0">
<img src="u10.jpg">
<p>
<b>Naming </b>

<br>
</div>
<p>
<div id="t1">
<b>1. A "name" quiz. Match the definitions with the words they describe by clicking on them. </b>
<p>
<center>
<table width=650>
<tr><td>a) In some countries this is also called your Christian name.</td><td>1. <input size=1 maxlength=1 name="q1a"> last name
<tr><td>b) It's your family name.</td><td>2. <input size=1 maxlength=1 name="q1b"> initials
<tr><td>c) It's the name of the company that produces a product.</td><td>3. <input size=1 maxlength=1 name="q1c"> nickname
<tr><td>d) It's a name your close friends call you instead of your real name. It sometimes has a humorous origin.</td><td>4. <input size=1 maxlength=1 name="q1d"> is short for 
<tr><td>e) It's a private name that someone very close to you uses.</td><td>5. <input size=1 maxlength=1 name="q1e"> pseudonym
<tr><td>f) An invented name used, usually by a writer, instead of a real name.</td><td>6. <input size=1 maxlength=1 name="q1f"> pet name 
<tr><td>g) This is when friends or family shorten your name; for examply they say, "Chris______Christopher".</td><td>7. <input size=1 maxlength=1 name="q1g"> brand name 
<tr><td>h) These are the first letters of your first name, or names, and last name.</td><td>8. <input size=1 maxlength=1 name="q1h"> first name
</table>
</center>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>  

<p>
<b>2. Now match the words from exercise 2 to these situations by typing them in the space.</b>
<p>
<center>
<table cellpadding=3 cellspacing=3 width=500 bgcolor=#ffa090>
<tr><td>first name </td><td> surname </td><td> brand name </td><td> nickname </td></tr>
<tr><td>pseudonym </td><td>pet name </td><td> initials</td><td> is short for </td></tr> 
 </table>
</center>
<p>
<span id="m1">e.g., What about Oliver, or Harry. Harry is a nice name.:</span> first name  
<p>
<ol>
<li> When we're alone she calls me "Honey Bear." <input size=8 name="q2a">  
<li> When I was small the children at school called me "Mouse" because of my high voice. <input size=8 name="q2b">  
<li> P C L. <input size=8 name="q2c"> 
<li> Sorry? Oh yes. It's Pupkin, Mister Pupkin. <input size=8 name="q2d">  
<li> Oh, I buy Swan. It's so much kinder to my hands.  <input size=8 name="q2e">
<li> Her real name was Mary Ann Evans but she published under the name of George Eliot. <input size=8 name="q2f">  
<li> My full name's Randolf Milton Huntington, but friends call me Randy.  <input size=8 name="q2g">
</ol>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>  
<p>



<b>3. Complete the sentences below by matching the beginnings with the endings. </b>
<p>
<center>
<table cellspacing=3 widt=600>
<tr><td>a) The babies are often<b> named after...</td><td>1. <input size=1 maxlength=1 name="q3a">...downloading.</td></tr>   
<tr><td>b) They <b>named...</td><td>2. <input size=1 maxlength=1 name="q3b"> ..."El niño".</td></tr>
<tr><td>c) This <b> so-called...</td><td>3. <input size=1 maxlength=1 name="q3c"> ...their parents.</td></tr>
<tr><td>d) Transfering the data this way is <b>termed...</td><td>4. <input size=1 maxlength=1 name="q3d"> ...a relaxing vacation.</td></tr>
<tr><td>e) This change in the climate is <b>known as...  </td><td>5. <input size=1 maxlength=1 name="q3e"> ...this metal thing for keeping papers together?</td></tr>
<tr><td>f) This is what I <b>call...  </td><td>6. <input size=1 maxlength=1 name="q3f"> ...domestic pet, is in fact extremely dangerous.</td></tr>
<tr><td>g) My real name is Wally Smith but I<b> go by the name of...  </td><td>7. <input size=1 maxlength=1 name="q3g"> ..."wild Wally."</td></tr>
<tr><td>h) What do you <b>call...  </td><td>8. <input size=1 maxlength=1 name="q3h"> ...the ship "Sea Prince."</td></tr>
</table>
</center>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center> 
<p> 

<b>4. Complete each sentence by choosing the best word or words.</b>
<p>
<ol>
<li> They are a very a successful jazz trio. They  
<select name="q4a">
<option value="x">Choose Answer 
<option value="1">are named 
<option value="2">are termed 
<option value="3">go by the name of 
</select>
"Birds of Tin." 
<li> These  
<select name="q4b">
<option value="x">Choose Answer 
<option value="1">named 
<option value="2">called 
<option value="3">so-called 
</select>
fans are giving the sport a bad name. 
<li> The cat was  
<select name="q4c">
<option value="x">Choose Answer 
<option value="1">named after 
<option value="2">called 
<option value="3">termed 
</select>
a cartoon character, "Felix." 
<li> She was  
<select name="q4d">
<option value="x">Choose Answer 
<option value="1">called 
<option value="2">termed 
<option value="3">named 
</select>
"Cook of the Year" by Chef magazine. 
<li> What do you  
<select name="q4e">
<option value="x">Choose Answer 
<option value="1">name 
<option value="2">call 
<option value="3">term 
</select>
a person who works delivering mail? 
<li> In the tourist business this is  
<select name="q4f">
<option value="x">Choose Answer 
<option value="1">so-called 
<option value="2">named 
<option value="3">termed 
</select>
"overbooking." 
<li> The red rose  
<select name="q4g">
<option value="x">Choose Answer 
<option value="1">is known as 
<option value="2">is named 
<option value="3">goes by the name of 
</select>
the flower of love. 
<li> He  
<select name="q4h">
<option value="x">Choose Answer 
<option value="1">was named 
<option value="2">was termed 
<option value="3">went by the name of 
</select>
of Mr. Goodheart and stole a lot of money from his clients. 
</ol>
<p>
<center>
<button onclick="k4()">Check answers</button>
</center> 
<p>
<b>5. Select and drag the words below to complete the text. </b>
<p>
When I was born my parents <sub>1</sub><input size=10 name="q5a"> me Roderick. I was
<sub>2</sub><input size=10 name="q5b"> my grandfather, Roderick Francis Spock. But when I was working in Japan I <sub>3</sub><input size=10 name="q5c"> Roddy, which of
course <sub>4</sub><input size=10 name="q5d"> Roderick. However my Japanese friends
found this difficult to pronounce and they <sub>5</sub><input size=10 name="q5e"> me Lod.
<p>
<table cellspacing=3 width=500 bgcolor=#ffa090>
<tr><td>called</td><td>named</td><td>went by the name of</td></tr>
<tr><td>named after</td><td>is short for</td><td></td></tr>
</table>


<p>
<center>
<button onclick="k5()">Check answers</button>
</center> 

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>

<div id="z5">
</div>

 
