<script language="javascript">

function k1(){

if(q1a.value=="1"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="2"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="1"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="1"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="1"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="2"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value=="1"){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value=="1"){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}
if(q1i.value=="1"){s1i="9. Correct<br>"}else{s1i="9. Incorrect<br>"}
if(q1j.value=="1"){s1j="10. Correct<br>"}else{s1j="10. Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h+s1i+s1j
}
function k2(){
if(q2a.value=="In Mali houses are made of mud"|q2a.value=="in Mali houses are made of mud"){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2b.value=="Igloos sometimes have chimneys"|q2b.value=="igloos sometimes have chimneys"){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2c.value=="Houses in Thailand are built on stilts"|q2c.value=="houses in Thailand are built on stilts"){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2d.value=="Houses on Mediterranean islands are often painted with lime"|q2d.value=="houses on Mediterranean islands are often painted with lime"){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}

z2.innerHTML=s2a+s2b+s2c+s2d
}

function k3(){
if(q3a.value=="4"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="5"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="2"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="3"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value=="1"){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}


z3.innerHTML=s3a+s3b+s3c+s3d+s3e
}
function k4(){
if(q4a.value=="2"){s4a="1. Correct<br>"}
if(q4a.value!="2"){s4a="1. Incorrect<br>"}

if(q4b.value=="3"){s4b="2. Correct<br>"}
if(q4b.value!="3"){s4b="2. Incorrect<br>"}

if(q4c.value=="2"){s4c="3. Correct<br>"}
if(q4c.value!="2"){s4c="3. Incorrect<br>"}

if(q4d.value=="3"){s4d="4. Correct<br>"}
if(q4d.value!="3"){s4d="4. Incorrect<br>"}

if(q4e.value=="3"){s4e="5. Correct<br>"}
if(q4e.value!="3"){s4e="5. Incorrect<br>"}

if(q4f.value=="2"){s4f="6. Correct<br>"}
if(q4f.value!="2"){s4f="6. Incorrect<br>"}

if(q4g.value=="2"){s4g="7. Correct<br>"}
if(q4g.value!="2"){s4g="7. Incorrect<br>"}

if(q4h.value=="3"){s4h="8. Correct<br>"}
if(q4h.value!="3"){s4h="8. Incorrect<br>"}


z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h
}

function k5(){
z5.innerHTML=s5a
}


function k6(){
z6.innerHTML=s6a
}


function k7(){
z7.innerHTML=s7a
}


<div id="t0">
<img src="u11.jpg">
<p>
<b>Houses in different parts of the world   </b>
<p>
</div>

<div id="t1">
<b>1. Here are some facts about houses in different countries. Are they true or false?</b>
<p>
<ol>
<li>  You can't wear shoes in a Japanese house.   
<br>
<select name="q1a">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>   
<li>  Australian aborigines used to live in mud houses.   
<br>
<select name="q1b">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>  
<li>  In traditional villages in New Guinea men and women sleep in separate houses.    
<br>
<select name="q1c">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>  
<li>  Indians in North America lived in circular tents made from animal skins and branches.   
   <br>
<select name="q1d">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>   
<li> In Barcelona, in Spain, people normally live in apartmets with balconies overlooking the street.   
   <br>
<select name="q1e">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>   
<li> Most people in New York live in high-rise buildings.   
   <br>
<select name="q1f">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>  
<li> In Scotland, old cottages sometimes have thatched roofs.   
   <br>
<select name="q1g">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>  
<li> In the north of Australia houses are often made of wood and have verandas around them.   
 <br>
<select name="q1h">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p> 
<li> Houses in London often have two or three floors.   
 <br>
<select name="q1i">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p> 
<li> In Egypt, people who have been to Mecca often paint a picture of the journey on the front of their house.   
 <br>
<select name="q1j">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>
</ol>
<p>
<center>
<button onclick="k1()">Check Answers </button> 
</center> 
<p>
<b>2. Put the words in order to make more facts about houses in different countries. </b>
<p>
<ol>
<li>mud Mali are In of made houses.
<br><input size=35 name="q2a">.<p>
<li>chimneys Igloos have sometimes.
<br><input size=35 name="q2b">.<p>
<li>built Houses are in Thailand stilts on.
<br><input size=35 name="q2c">.<p>
<li>Houses islands on painted often Mediterranean lime with are.
<br><input size=35 name="q2d">.<p>
</ol>
<p>
<center>
<button onclick="k2()">Check Answers </button> 
</center> 
<p>
<b>3. Match the descriptions to the houses they describe. </b>
<p>
<center>
<img src="u11b1.jpg">
</center>
<p>
<ol>
<li> This is a house in Cameroon. It's a round hut made of mud and straw, with a steep thatched roof, one door and no windows.  
<br>
<select name="q3a">
<option value="x">Choose Answer 
<option value="1">House A 
<option value="2">House B 
<option value="3">House C 
<option value="4">House D 
<option value="5">House E 
</select>
<p> 
<li> This is a house from New Guinea. It's also got a thatched roof but it's rectangular and it's built on stilts. The walls are made of wood and palm leaves.  
<br>
<select name="q3b">
<option value="x">Choose Answer 
<option value="1">House A 
<option value="2">House B 
<option value="3">House C 
<option value="4">House D 
<option value="5">House E 
</select>
<p> 
<li> This is a Mongolian house. It's round and like a tent, with a wood frame covered in canvas .  
<br>
<select name="q3c">
<option value="x">Choose Answer 
<option value="1">House A 
<option value="2">House B 
<option value="3">House C 
<option value="4">House D 
<option value="5">House E 
</select>
<p> 
<li> This is a house in the south of Australia. It has a steep tin roof and a veranda around it. It's made of rendered brick.  
<br>
<select name="q3d">
<option value="x">Choose Answer 
<option value="1">House A 
<option value="2">House B 
<option value="3">House C 
<option value="4">House D 
<option value="5">House E 
</select>
<p> 
<li> This is a Swiss house. The top storeys are made of wood and the cellar is made of stone. It has a steep shingled roof.   
<br>
<select name="q3e">
<option value="x">Choose Answer 
<option value="1">House A 
<option value="2">House B 
<option value="3">House C 
<option value="4">House D 
<option value="5">House E 
</select>
<p> 
</ol>
<center>
<button onclick="k3()">Check Answers </button> 
</center> 


</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
