<script language="javascript">
function k1(){
if(q1a.value=="an expensive china cup"|q1a.value=="An expensive china cup"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="a big black cardboard box"|q1b.value=="A big black cardboard boy"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="a long white nylon string"|q1c.value=="A long white nylon string"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="a nice old American car"|q1d.value=="A nice old American car"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="a 50mm long steel screw"|q1e.value=="A 50mm long steel screw"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="a large brown paper bag"|q1f.value=="A large brown paper bag"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value=="a round colored paper disc"|q1g.value=="A round colored paper disc"){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value=="a new red metal ladder"|q1h.value=="A new red metal ladder"){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}
if(q1i.value=="pretty brown Italian leather shoes"|q1i.value=="A pretty brown Italian leather shoes"){s1i="9. Correct<br>"}else{s1i="9. Incorrect<br>"}
if(q1j.value=="a small round black plastic button"|q1j.value=="A small round black plastic button"){s1j="10. Correct<br>"}else{s1j="10. Incorrect<br>"}
z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h+s1i+s1j
}
<div id="t0">
<img src="u12.jpg">
<p>
<b> Adjective order   </b>
<p>
</div>

<div id="t1">
<b>1. Adjective order</b>
<p>
<center>
"Cut out a <b>fairly thick white cardboard disc.</b>"
</center>
<p>
Adjectives before a noun usually follow this order:
<p>
<table cellspacing=2>

<tr><td>OPINION </td><td>SIZE/SHAPE </td><td>COLOR  </td><td>ORIGIN  </td><td>MATERIAL  </td><td>NOUN </td></tr>
<tr><td>a ____  </td><td>small      </td><td>orange  </td><td>____    </td><td>plastic   </td><td>clip </td></tr>
<tr><td>a nice  </td><td>big        </td><td>white   </td><td>Italian </td><td>marble    </td><td>bath </td></tr>
</table>
<p>
<b>Put the words in order. </b>
<p>
<ol>
<li>an cup china expensive
<br><input size=25 name="q1a"><p>
<li>a black big box cardboard
<br><input size=25 name="q1b"><p>
<li>a nylon long string white
<br><input size=25 name="q1c"><p>
<li>nice car American a old
<br><input size=25 name="q1d"><p>
<li>screw a steel 50mm long
<br><input size=25 name="q1e"><p>
<li>paper large brown a bag
<br><input size=25 name="q1f"><p>
<li>round a colored disc paper
<br><input size=25 name="q1g"><p>
<li>a new metal red ladder
<br><input size=25 name="q1h"><p>
<li>Italian pretty brown shoes leather
<br><input size=35 name="q1i"><p>
<li>round a black small button plastic
<br><input size=35 name="q1j"><p>
</ol>
<p>
<center>
<button onclick="k1()">Check Answers </button> 
</center> 

</div>

<div id="z1">
</div>
