<script language="javascript">

function k1(){

if(q1a.value=="4"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="1"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="3"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="3"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="2"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="1"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value=="3"){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value=="2"){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h
}

function k2(){


if(q2a.checked&q2b.checked==false&q2c.checked==false){s2a="1.-Correct<br>"}else{s2a="1.-Incorrect<br>"}
if(q2d.checked&q2e.checked==false&q2f.checked==false){s2b="2.-Correct<br>"}else{s2b="2.-Incorrect<br>"}
if(q2g.checked==false&q2h.checked&q2i.checked==false){s2c="3.-Correct<br>"}else{s2c="3.-Incorrect<br>"}
if(q2j.checked==false&q2k.checked&q2l.checked==false){s2d="4.-Correct<br>"}else{s2d="4.-Incorrect<br>"}
if(q2m.checked==false&q2n.checked&q2o.checked==false){s2e="5.-Correct<br>"}else{s2e="5.-Incorrect<br>"}
if(q2p.checked==false&q2q.checked==false&q2r.checked){s2f="6.-Correct<br>"}else{s2f="6.-Incorrect<br>"}
if(q2s.checked==false&q2t.checked&q2v.checked==false){s2g="7.-Correct<br>"}else{s2g="7.-Incorrect<br>"}
if(q2w.checked&q2x.checked==false&q2y.checked==false){s2h="8.-Correct<br>"}else{s2h="8.-Incorrect<br>"}


z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h
}

function k3(){

if(q3a.value=="cardigan"|q3a.value=="Cardigan"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="vest"|q3b.value=="Vest"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="beret"|q3c.value=="Beret"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="warm-up suit"|q3d.value=="Warm-up suit"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value=="forelock"|q3e.value=="Forelock"){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3f.value=="sideburns"|q3f.value=="Sideburns"){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3g.value=="goatee"|q3g.value=="Goatee"){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
if(q3h.value=="Mohawk"|q3h.value=="mohawk"){s3h="8. Correct<br>"}else{s3h="8. Incorrect<br>"}


z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h
}
function k4(){
if(q4a.value=="2"){s4a="1. Correct<br>"}
if(q4a.value!="2"){s4a="1. Incorrect<br>"}

if(q4b.value=="3"){s4b="2. Correct<br>"}
if(q4b.value!="3"){s4b="2. Incorrect<br>"}

if(q4c.value=="2"){s4c="3. Correct<br>"}
if(q4c.value!="2"){s4c="3. Incorrect<br>"}

if(q4d.value=="3"){s4d="4. Correct<br>"}
if(q4d.value!="3"){s4d="4. Incorrect<br>"}

if(q4e.value=="3"){s4e="5. Correct<br>"}
if(q4e.value!="3"){s4e="5. Incorrect<br>"}

if(q4f.value=="2"){s4f="6. Correct<br>"}
if(q4f.value!="2"){s4f="6. Incorrect<br>"}

if(q4g.value=="2"){s4g="7. Correct<br>"}
if(q4g.value!="2"){s4g="7. Incorrect<br>"}

if(q4h.value=="3"){s4h="8. Correct<br>"}
if(q4h.value!="3"){s4h="8. Incorrect<br>"}


z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h
}

function k5(){
z5.innerHTML=s5a
}


function k6(){
z6.innerHTML=s6a
}


function k7(){
z7.innerHTML=s7a
}


<div id="t0">
<img src="u12.jpg">
<p>
<b> Describing fashions </b>
<p>
</div>

<div id="t1">
<b>1. Which word does not go with the noun on the right? </b>
<p>
<ol>
<li>jacket 
<select name="q1a">
<option value="x">Choose Answer
<option value="1">denim   
<option value="2">sports   
<option value="3">dinner   
<option value="4">cropped 
</select>
<p>
<li>sweater 
<select name="q1b">
<option value="x">Choose Answer
<option value="1">denim   
<option value="2">polo-neck   
<option value="3">baggy   
<option value="4">v-neck 
</select>
<p>
<li>shoes 
<select name="q1c">
<option value="x">Choose Answer
<option value="1">slip-on   
<option value="2">lace-up   
<option value="3">ankle-length  
<option value="4">suede   
</select>
<p>
<li>dress
<select name="q1d">
<option value="x">Choose Answer
<option value="1">low cut   
<option value="2">sleeveless   
<option value="3">flared   
<option value="4">high-necked  
</select>
<p>
<li>pants 
<select name="q1e">
<option value="x">Choose Answer
<option value="1">baggy   
<option value="2">dinner   
<option value="3">flared   
<option value="4">leather 
</select>
<p>
<li>shirt 
<select name="q1f">
<option value="x">Choose Answer
<option value="1">low cut   
<option value="2">flowery   
<option value="3">checked   
<option value="4">striped
</select>
<p>
<li>coat 
<select name="q1g"> 
<option value="x">Choose Answer
<option value="1">waterproof   
<option value="2">winter   
<option value="3">dinner  
<option value="4">fur 
</select>
<p>
<li> skirt 
<select name="q1h">
<option value="x">Choose Answer
<option value="1">leather   
<option value="2">sleeveless   
<option value="3">ankle length  
<option value="4">mini
</select>
<p>
</ol>
<center>
<button onclick="k1()">Check Answers </button> 
</center> 
<p>
<b>2. Choose the best label for each picture. </b>
<p>
<center>
<img src="u12c1.jpg">
</center>
<p>
<table cellpadding=o cellspacing=2 width=600>
<tr><td>1. <input type="checkbox" name="q2a"> flared jeans     </td><td><input type="checkbox" name="q2b">torn jeans          </td><td><input type="checkbox" name="q2c">baggy jeans     </td></tr>
<tr><td>2. <input type="checkbox" name="q2d">  platform shoes  </td><td><input type="checkbox" name="q2e">high-heeled shoes   </td><td><input type="checkbox" name="q2f">ankle-length boots</td></tr> 
<tr><td>3. <input type="checkbox" name="q2g">  sports jacket   </td><td><input type="checkbox" name="q2h">denim jacket        </td><td><input type="checkbox" name="q2i">leather jacket </td></tr>
<tr><td>4. <input type="checkbox" name="q2j">  spiky hair      </td><td><input type="checkbox" name="q2k">cropped hair        </td><td><input type="checkbox" name="q2l">dyed hair </td></tr>
<tr><td>5. <input type="checkbox" name="q2m">  flared jeans    </td><td><input type="checkbox" name="q2n">torn jeans          </td><td><input type="checkbox" name="q2o">baggy jeans </td></tr>
<tr><td>6. <input type="checkbox" name="q2p">  sports jacket   </td><td><input type="checkbox" name="q2q">denim jacket        </td><td><input type="checkbox" name="q2r">leather jacket </td></tr>
<tr><td>7. <input type="checkbox" name="q2s">  platform shoes  </td><td><input type="checkbox" name="q2t">high-heeled boots   </td><td><input type="checkbox" name="q2v">ankle-length boots </td></tr>
<tr><td>8. <input type="checkbox" name="q2w">  spiky hair      </td><td><input type="checkbox" name="q2x">cropped hair        </td><td><input type="checkbox" name="q2y">dyed hair </td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check Answers </button> 
</center> 
<p>
<b>3. Put the letters in order to make a word that matches the definition. Type the answer in the box. </b>
<p>
<ol>
<li> A sweater with buttons down the front is called a <b>ganidrac</b> <sub>c</sub><input size=15 name="q3a">   
<li> A three-piece suit consists of a jacket, pants and a <b>estv</b> <sub>v</sub><input size=15 name="q3b">    
<li> A <b>treeb</b> <sub>b</sub><input size=15 name="q3c">  is a flat black hat which was given its name by the French.  
<li> The jacket and pants soccer players wear before they start playing is a <br><b>mawr-pu uits</b> <sub>w</sub><input size=15 name="q3d">   
</ol>
<p>
<b>Put the letters in order to make words to label the three pictures. </b>
<p>
<table cellpadding=2 cellspacing=2 width=550>
<tr><td>
5.  a <b>orlefcok</b> <sub>q</sub><input size=15 name="q3e"><br><p>     
6.  <b>birdsnuse</b> <sub>s</sub><input size=15 name="q3f"><br><p>    
7.  a <b>teaego</b> <sub>g</sub><input size=15 name="q3g"><br> <p>       
8.  a <b>Mhaokw</b> <sub>m</sub><input size=15 name="q3h"><br><p>  
</td><td>
<img src="u12c2.jpg">
</td></tr>
</table>
<p>
<center>
<button onclick="k3()">Check Answers </button> 
</center> 

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
