<div id="t0">
<img src="u12.jpg">
<p>
<b> Describing fashions </b>
<p>
</div>

<div id="t1">
<b>1. Which word does not go with the noun on the right? </b>
<p>
<ol>
<li>jacket 
<select name="q1a">
<option value="x">Choose Answer
<option value="1">denim   
<option value="2">sports   
<option value="3">dinner   
<option value="4">cropped 
</select>
<p>
<li>sweater 
<select name="q1b">
<option value="x">Choose Answer
<option value="1">denim   
<option value="2">polo-neck   
<option value="3">baggy   
<option value="4">v-neck 
</select>
<p>
<li>shoes 
<select name="q1c">
<option value="x">Choose Answer
<option value="1">slip-on   
<option value="2">lace-up   
<option value="3">ankle-length  
<option value="4">suede   
</select>
<p>
<li>dress
<select name="q1d">
<option value="x">Choose Answer
<option value="1">low cut   
<option value="2">sleeveless   
<option value="3">flared   
<option value="4">high-necked  
</select>
<p>
<li>pants 
<select name="q1e">
<option value="x">Choose Answer
<option value="1">baggy   
<option value="2">dinner   
<option value="3">flared   
<option value="4">leather 
</select>
<p>
<li>shirt 
<select name="q1f">
<option value="x">Choose Answer
<option value="1">low cut   
<option value="2">flowery   
<option value="3">checked   
<option value="4">striped
</select>
<p>
<li>coat 
<select name="q1g"> 
<option value="x">Choose Answer
<option value="1">waterproof   
<option value="2">winter   
<option value="3">dinner  
<option value="4">fur 
</select>
<p>
<li> skirt 
<select name="q1h">
<option value="x">Choose Answer
<option value="1">leather   
<option value="2">sleeveless   
<option value="3">ankle length  
<option value="4">mini
</select>
<p>
</ol>
<center>
<button onclick="k1()">Check Answers </button> 
</center> 
<p>
<b>2. Choose the best label for each picture. </b>
<p>
<center>
<img src="u12c1.jpg">
</center>
<p>
<table cellpadding=o cellspacing=2 width=600>
<tr><td>1. <input type="checkbox" name="q2a"> flared jeans     </td><td><input type="checkbox" name="q2b">torn jeans          </td><td><input type="checkbox" name="q2c">baggy jeans     </td></tr>
<tr><td>2. <input type="checkbox" name="q2d">  platform shoes  </td><td><input type="checkbox" name="q2e">high-heeled shoes   </td><td><input type="checkbox" name="q2f">ankle-length boots</td></tr> 
<tr><td>3. <input type="checkbox" name="q2g">  sports jacket   </td><td><input type="checkbox" name="q2h">denim jacket        </td><td><input type="checkbox" name="q2i">leather jacket </td></tr>
<tr><td>4. <input type="checkbox" name="q2j">  spiky hair      </td><td><input type="checkbox" name="q2k">cropped hair        </td><td><input type="checkbox" name="q2l">dyed hair </td></tr>
<tr><td>5. <input type="checkbox" name="q2m">  flared jeans    </td><td><input type="checkbox" name="q2n">torn jeans          </td><td><input type="checkbox" name="q2o">baggy jeans </td></tr>
<tr><td>6. <input type="checkbox" name="q2p">  sports jacket   </td><td><input type="checkbox" name="q2q">denim jacket        </td><td><input type="checkbox" name="q2r">leather jacket </td></tr>
<tr><td>7. <input type="checkbox" name="q2s">  platform shoes  </td><td><input type="checkbox" name="q2t">high-heeled boots   </td><td><input type="checkbox" name="q2v">ankle-length boots </td></tr>
<tr><td>8. <input type="checkbox" name="q2w">  spiky hair      </td><td><input type="checkbox" name="q2x">cropped hair        </td><td><input type="checkbox" name="q2y">dyed hair </td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check Answers </button> 
</center> 
<p>
<b>3. Put the letters in order to make a word that matches the definition. Type the answer in the box. </b>
<p>
<ol>
<li> A sweater with buttons down the front is called a <b>ganidrac</b> <sub>c</sub><input size=15 name="q3a">   
<li> A three-piece suit consists of a jacket, pants and a <b>estv</b> <sub>v</sub><input size=15 name="q3b">    
<li> A <b>treeb</b> <sub>b</sub><input size=15 name="q3c">  is a flat black hat which was given its name by the French.  
<li> The jacket and pants soccer players wear before they start playing is a <br><b>mawr-pu uits</b> <sub>w</sub><input size=15 name="q3d">   
</ol>
<p>
<b>Put the letters in order to make words to label the three pictures. </b>
<p>
<table cellpadding=2 cellspacing=2 width=550>
<tr><td>
5.  a <b>orlefcok</b> <sub>q</sub><input size=15 name="q3e"><br><p>     
6.  <b>birdsnuse</b> <sub>s</sub><input size=15 name="q3f"><br><p>    
7.  a <b>teaego</b> <sub>g</sub><input size=15 name="q3g"><br> <p>       
8.  a <b>Mhaokw</b> <sub>m</sub><input size=15 name="q3h"><br><p>  
</td><td>
<img src="u12c2.jpg">
</td></tr>
</table>
<p>
<center>
<button onclick="k3()">Check Answers </button> 
</center> 

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
