<div id="t0">
<img src="u12.jpg">
<p>
<b> Father and daughter discuss fashions</b>
<p>
</div>

<div id="t1">
<b>1. Listen to a man and a woman talking about fashion and choose the correct options. <a href="snd/12d-1.ra"><img src="listen.jpg" border=0></a> </b>
<p>
<ol>
<li> The man starts by saying that that today's teenagers ... 
<br><input type="checkbox" name="q1a">   ... wear clothes that look funny.
<br><input type="checkbox" name="q1b"> ... simply copy fashions from the past.
<br><input type="checkbox" name="q1c"> ... all wear the same clothes. 
<p>
<li> The woman thinks that ... 
<br><input type="checkbox" name="q1d">   ... the man is mistaken.
<br><input type="checkbox" name="q1e"> ... adults are always horrified by the way teenagers dress.
<br><input type="checkbox" name="q1f"> ... teenage fashion is unexciting. 
<p>
<li> She goes on to say that ... 
<br><input type="checkbox" name="q1g">   ... although there is nothing new in fashion, teenagers still find ways to make it original.
<br><input type="checkbox" name="q1h"> ... there is more originality in teenage fashion than the man thinks.
<br><input type="checkbox" name="q1i"> ... teenage fashion is completely different today. 

</ol>
<p>

<center>
<button onclick="k1()">Check Answers </button> 
</center> 

</div>

<div id="z1">
</div>
