<script language="javascript">

function k1(){

if(q1a.checked&q1b.checked==false){s1a="1.-Correct<br>"}else{s1a="1.-Incorrect<br>"}
if(q1d.checked&q1c.checked==false){s1b="2.-Correct<br>"}else{s1b="2.-Incorrect<br>"}
if(q1f.checked==false&q1e.checked){s1c="3.-Correct<br>"}else{s1c="3.-Incorrect<br>"}
if(q1h.checked&q1g.checked==false){s1d="4.-Correct<br>"}else{s1d="4.-Incorrect<br>"}
if(q1i.checked&q1j.checked==false){s1e="5.-Correct<br>"}else{s1e="5.-Incorrect<br>"}
if(q1k.checked&q1l.checked==false){s1f="6.-Correct<br>"}else{s1f="6.-Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f
}
function k2(){
if(q2a.value=="1"){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2b.value=="4"){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2c.value=="2"){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2d.value=="7"){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2e.value=="3"){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2f.value=="5"){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
if(q2g.value=="6"){s2g="7. Correct<br>"}else{s2g="7. Incorrect<br>"}

z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g
}

function k2b(){

if(q2h.value=="4"){s2h="8. Correct<br>"}else{s2h="8. Incorrect<br>"}
if(q2i.value=="2"){s2i="9. Correct<br>"}else{s2i="9. Incorrect<br>"}
if(q2j.value=="1"){s2j="10. Correct<br>"}else{s2j="10. Incorrect<br>"}
if(q2k.value=="3"){s2k="11. Correct<br>"}else{s2k="11. Incorrect<br>"}

z2b.innerHTML=s2h+s2i+s2j+s2k
}
function k3(){

if(q3a.value=="2"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="1"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="2"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="2"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value=="1"){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3f.value=="1"){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3g.value=="2"){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
if(q3h.value=="1"){s3h="8. Correct<br>"}else{s3h="8. Incorrect<br>"}

z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h
}
function k4(){
if(q4a.value=="2"){s4a="1. Correct<br>"}
if(q4a.value!="2"){s4a="1. Incorrect<br>"}

if(q4b.value=="3"){s4b="2. Correct<br>"}
if(q4b.value!="3"){s4b="2. Incorrect<br>"}

if(q4c.value=="2"){s4c="3. Correct<br>"}
if(q4c.value!="2"){s4c="3. Incorrect<br>"}

if(q4d.value=="3"){s4d="4. Correct<br>"}
if(q4d.value!="3"){s4d="4. Incorrect<br>"}

if(q4e.value=="3"){s4e="5. Correct<br>"}
if(q4e.value!="3"){s4e="5. Incorrect<br>"}

if(q4f.value=="2"){s4f="6. Correct<br>"}
if(q4f.value!="2"){s4f="6. Incorrect<br>"}

if(q4g.value=="2"){s4g="7. Correct<br>"}
if(q4g.value!="2"){s4g="7. Incorrect<br>"}

if(q4h.value=="3"){s4h="8. Correct<br>"}
if(q4h.value!="3"){s4h="8. Incorrect<br>"}


z4.innerHTML=s4a+s4b+s4c+s4d+s4e+s4f+s4g+s4h
}

function k5(){
z5.innerHTML=s5a
}


function k6(){
z6.innerHTML=s6a
}


function k7(){
z7.innerHTML=s7a
}


<div id="t0">
<img src="u1.jpg">
<p>
<b>Formal & informal introductions </b>
<p>
</div>

<div id="t1">
<b>1. Look at these examples of spoken English. In each situation decide which example is formal.</b>
<p>
<ol>
<li> Introducing someone
<br> 
<input type="checkbox" name="q1a"> I'd like to introduce you to Mr. Armstrong.<br>
<input type="checkbox" name="q1b">  This is Neil.
<p>  
<li> Meeting someone 
<br>
<input type="checkbox" name="q1c">  Nice to meet you.<br>
<input type="checkbox" name="q1d">  Pleased to meet you.  
<p>
<li> Finding out someone's name
<br> 
<input type="checkbox" name="q1e">  I'm sorry, we haven't been introduced.<br>
<input type="checkbox" name="q1f">  Sorry, I don't know your name.  
<p>
<li> Getting someone's attention when you don't know his/her name 
<br>
<input type="checkbox" name="q1g">  Hey, …<br>
<input type="checkbox" name="q1h">  Excuse me, …  
<p>
<li> When you don't hear, or can't remember a name 
<br>
<input type="checkbox" name="q1i">  I'm very sorry, I didn't hear your name.<br>
<input type="checkbox" name="q1j">  Sorry, I didn't catch your name.  
<p>
<li> Checking a name 
<br>
<input type="checkbox" name="q1k">  You're Mr. Ramsbottom, aren't you? <br>
<input type="checkbox" name="q1l">  You're Max, aren't you?  
</ol>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Can you put these dialogs in order?   (1,2,3,4,5,6,7) </b>
<p>
<center>
<img src="u1c1.jpg">
</center>
<p>
<b>You're Max, aren't you?</b>
<p>
1. <input size=1 maxlength=1 name="q2a"> Yeah.
<p>
2. <input size=1 maxlength=1 name="q2b"> Alison.
<p>
3. <input size=1 maxlength=1 name="q2c"> Remember me? We worked together a few years ago in Barcelona.
<p>
4. <input size=1 maxlength=1 name="q2d"> Hi, Mary. Nice to meet you.
<p>
5. <input size=1 maxlength=1 name="q2e"> Oh yeah. Now I remember. But I can't remember your name.
<p>
6. <input size=1 maxlength=1 name="q2f">  Alison. Long time no see.
<p>
7. <input size=1 maxlength=1 name="q2g"> Yeah. Time files. By the way, this is my sister Mary.
<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
Now put this dialog in order.  (1,2,3,4)
</b>
<p>
<center>
<img src="u1c2.jpg">
</center>
<p>
<b>I'm sorry, we haven't been introduced.</b>
<p>
8. <input size=1 maxlength=1 name="q2h"> Hello, Randolph. Pleased to meet you.
<p>
9. <input size=1 maxlength=1 name="q2i"> How do you do?
<p>
10. <input size=1 maxlength=1 name="q2j"> No. My name's Vanessa. I'm a friend of Christian's.
<p>
11. <input size=1 maxlength=1 name="q2k"> How do you do? Oh, and I'd like to introduce you to my brother Randolph.
<p>
<center>
<button onclick="k2b()">Check answers</button>
</center>
<p>
<b>3. Formal vs. informal. 
Read these short dialogs and choose the more appropriate option. You can refer to exercise 1 to help you.</b>
<p>
<ol>
For example, 
<p>
<span id="m1">I'd like to introduce you to Mrs. Agnes Armstrong.</span>
<br>
<select name="q3">
<option value="x">Choose Answer 
<option value="1">Hi Agnes. 
<option value="2">How do you do Mrs. Armstrong. 
</select>
<br>
<span id="m1">How do you do?</span>
<br>
The correct answer is: How do you do Mrs. Armstrong? 
<p>

<li> My name's Hugo.
<br>
<select name="q3a"> 
<option value="x">Choose Answer 
<option value="1">What? 
<option value="2">Sorry?
</select>
<br>
My name's Hugo.<br>
Oh hello, Hugo. 
<p>
 
<li> Sally,  

<select name="q3b">
<option value="x">Choose Answer 
<option value="1">this is 
<option value="2">I'd like to introduce you to 
</select>
my brother Jack.
<br>
Hi Jack.<br>
Hi Sally.  
<p>

<li>  
<select name="q3c">
<option value="x">Choose Answer 
<option value="1">Sorry 
<option value="2">Excuse me 
</select>
Could you tell me what time it is please?
<br>
Certainly. It's three o'clock.
<br>
Thank you very much.  
<p>


<li>  
<select name="q3d">
<option value="x">Choose Answer 
<option value="1">What's your name? 
<option value="2">I'm sorry, we haven't been introduced.
</select>
<br> 
I'm Mr. Tripe, the head of the marketing department.<br>
Pleased to meet you.
<p> 

<li> Excuse me Ms. Taylor.  
<select name="q3e">
<option value="x">Choose Answer 
<option value="1">I'd like to introduce you to 
<option value="2">This is 
</select>
Mrs. Wilson, our agent in America.
<br>
Pleased to meet you Mrs. Wilson.<br>
Pleased to meet you Ms. Taylor.
<p> 
 
<li> Excuse me Mr. Little. I'd like to introduce you to my husband Collin.
<br>
<select name="q3f">
<option value="x">Choose Answer 
<option value="1">How do you do? 
<option value="2">Hi.
</select>
<p>
  
<li>  
<select name="q3g">
<option value="x">Choose Answer 
<option value="1">I'm very sorry, I didn't hear your name 
<option value="2">Sorry, I didn't catch your name.
</select>
<br> 
Oliver.<br> 
Oliver. What a nice little boy you are. Just like your dad.  
<p>

<li>  
<select name="q3h">
<option value="x">Choose Answer 
<option value="1">Sorry 
<option value="2">Excuse me 
</select>
Helen have you finished with the newspaper?
<br>
Yes. You can read it now.<br>
Thanks.
 </ol>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z2b">
</div>

<div id="z3">
</div>
