<div id="t0">
<img src="u2.jpg">
<p>
<b>Reporting verbs  </b>
<p>
</div>

<div id="t1">
<b>1. Ways of saying things. Select and drag the verbs in the box to the sentences below. </b>
<p>
<ol>
<li>"The food here is terrible! The soup was cold and the vegetables weren't cooked either," <input size=9 name="q1a"> the customer.
<li>"If you let me go to the circus on Saturday Mom, I'll wash the dishes every day next week," the boy <input size=9 name="q1b">.
<li>"Look," he <input size=9 name="q1c">. "What about going out for dinner on Sunday instead?" 
<li>She <input size=9 name="q1d"> to the new secretary again. "Look, you put the paper in here, then you press the green button and it comes out here."
<li>"Hello," she <input size=9 name="q1e">. "My name's Alison. I'm the new French teacher." 
<li>"Yes of course," he <input size=9 name="q1f">. I'd love to come to dinner!" 
<li>"What do you do in your free time?" <input size=9 name="q1g"> Joe.
<li>"Oh please. Please let me come with you&#151;you know how much I'd like to go to London," <input size=9 name="q1h"> Jane. 
</ol>
<p>
<center>
<table cellpadding=5 cellspacing=5 width=450 bgcolor=#ffbc90>
<tr><td>promised</td><td>complained</td><td>suggested</td><td>explained</td></tr> 
<tr><td>said</td><td>asked</td><td>replied</td><td>begged</td></tr>
</table>
<p>
<button onclick="k1()">Check answers</button>
</center>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
