<div id="t0">
<img src="u2.jpg">
<p>
<b> Telling anecdotes </b>
<p>
</div>

<div id="t1">
<b>1. Match the two parts to make sentences about funny situations.</b>
<p>
<table cellpadding=0 cellspacing=0>
<tr><td>a) Have  I told you about the time I...</td><td>1. <input size=1 maxlength=1 name="q1a"> I was on the wrong train.</td></tr>
<tr><td>b) A funny thing happened to me...</td><td>2. <input size=1 maxlength=1 name="q1b"> stop laughing.</td></tr>
<tr><td>c) The funny things was, ...</td><td>3. <input size=1 maxlength=1 name="q1c"> on the bus yesterday.</td></tr>
<tr><td>d) It was hilarious. We couldn't ...</td><td>4. <input size=1 maxlength=1 name="q1d"> locked  myself out of my apartment.</td></tr>
</table>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Select and drag the phrases and responses to complete the dialog. </b>
<p>
<p>
<center>
<table cellpadding=0 cellspacing=5 bgcolor=#ffff90 border=1>
<tr><td valign="top"><b>Phrases</b><br>Anyway<br>It was hilarious<br>A funny thing happened to me<br> finally<br>the funny thing was
</td><td valign="top"><b>Responses</b><br> How amazing<br>Really. What happened<br>Oh no. What did you do</td></tr>
</table>
</center>
<p>
Tom: <sub>1</sub><input size=20 name="q2a"> on the way to work yesterday.<br>
Sally: <sub>2</sub><input size=20 name="q2b">?<br>
Tom: Well, I got on the bus and I started reading the paper. Then suddenly I looked up and didn't know where I was. I mean, 
I thought I had passed my stop.
<br>
Sally: <sub>3</sub><input size=20 name="q2c">?<br>
Tom: I tired to get off the bus, but somehow my bag got caught on an elderly
woman's shopping bag. I was half out the door, pulling my bag and the woman was
pulling hers. We couldn't separate them. Some people on the bus got up to help and the driver
got out of this seat to see what was going on. <sub>4</sub><input size=20 name="q2d">, we eventually got the bags
apart. <br>
<sub>5</sub><input size=20 name="q2e">.
<br>
Sally: <sub>6</sub><input size=20 name="q2f"> !
<br>
Tom: Yes, but <sub>7</sub><input size=20 name="q2g">, when I <sub>8</sub><input size=20 name="q2h">
 got off the bus I looked up and saw that it
wasn't even my bus. I had taken the wrong bus and I wasn't anywhere near my office.

<p>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
3. Do you remember the sentences from exercise 1?</b>
<p>
<ol>
<li><sub>H</sub><input size=8 name="q3a"> <sub>I</sub><input size=8 name="q3b"> <sub>t</sub><input size=8 name="q3c"> <sub>y</sub><input size=8 name="q3d"> <sub>a</sub><input size=8 name="q3e"> the time I locked myself out of my apartment? 
<li> A <sub>f</sub><input size=8 name="q3f"> <sub>t</sub><input size=8 name="q3g"> <sub>h</sub><input size=8 name="q3h">    to me on the bus yesterday. 
<li>  <sub>T</sub><input size=8 name="q3i"> <sub>f</sub><input size=8 name="q3j"> <sub>t</sub><input size=8 name="q3k">  was, I was on the wrong train.
<li> It  <sub>w</sub><input size=8 name="q3l"> <sub>h</sub><input size=8 name="q3m">  . We couldn't stop laughing. 
</ol>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>


</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>
