<script language="javascript">
function k1(){
if(q1a.value=="1"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="2"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="1"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="3"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="1"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="1"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value=="2"){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value=="2"){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}
if(q1i.value=="1"){s1i="9. Correct<br>"}else{s1i="9. Incorrect<br>"}
if(q1j.value=="3"){s1j="10. Correct<br>"}else{s1j="10. Incorrect<br>"}
z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h+s1i+s1j
}
<div id="t0">
<img src="u2.jpg">
<p>
<b><i>Speak, talk, say, pronounce</i></b>
<p>
</div>

<div id="t1">
<b>1. Choose the best word to complete each sentence.</b>
<p>
<ol>
<li> Can you  
<select name="q1a">
<option value="x">Choose Answer
<option value="1">speak 
<option value="2">talk
<option value="3">pronounce
</select> 

Spanish? "Yes, but not very well."  
<li> How do you  

<select name="q1b">
<option value="x">Choose Answer
<option value="1">say
<option value="2">pronounce
<option value="3">speak 
</select> 


this word?  
<li> Parrots can't really  
<select name="q1c">
<option value="x">Choose Answer
<option value="1">talk
<option value="2">speak
<option value="3"> say
</select>&#151;they just imitate people.  
<li> Can you come to the party? Please  
<select name="q1d">
<option value="x">Choose Answer
<option value="1">speak
<option value="2">talk
<option value="3"> say
</select> 
 

"Yes"!  
<li> The first word a baby  
<select name="q1e">
<option value="x">Choose Answer
<option value="1">says
<option value="2">utters
<option value="3"> speaks
</select> 


is usually "Mama."  
<li> I was  
<select name="q1f">
<option value="x">Choose Answer 
<option value="1">speaking 
<option value="2">seeing
<option value="3">saying 
</select>

to Ben yesterday about his new job.  
<li> The problem with our relationship is that we don't  

<select name="q1g">
<option value="x">Choose Answer
<option value="1">speaks
<option value="2">talk
<option value="3"> say
</select> 

anymore.  
<li> Can you  

<select name="q1h">
<option value="x">Choose Answer
<option value="1">say
<option value="2">tell
<option value="3"> speak
</select> 
 
me the time, please?  
<li> "I can't come to the party," he  

<select name="q1i">
<option value="x">Choose Answer
<option value="1">said
<option value="2">told
<option value="3"> spoke
</select>.  
<li> In "castle" the "t" is not  

<select name="q1j">
<option value="x">Choose Answer
<option value="1">said
<option value="2">spoken
<option value="3"> pronunced
</select>.  
</ol>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>



</div>

<div id="z1">
</div>
