<div id="t0">
<img src="u3.jpg">
<p>
<b>Verbs of future expectation  </b>
<p>
</div>

<div id="t1">
<b>1. Verbs of future expectation. 
<p>
Here are some things which Anne and Paula said about the Kalahari hike. Put their words in the correct order </b>
<p>
<ol>
<li>to thousand hope dollars raise We ten
<br>
<input size=50 name="q1a">.
<p>
<li>expect We the to in finish a month hike
<br>
<input size=50 name="q1b">.
<p>
<li>be We to in soon expect shape
<br>
<input size=40 name="q1c">.
<p>
<li>help The to hopes people charity underprivileged
<br>
<input size=50 name="q1d">.
<p>
<li>We very expect be tired to
<br>
<input size=50 name="q1e">.
<p>
<li>to good We have weather hope
<br>
<input size=50 name="q1f">.
<p>
<li>get to charity The media hopes attention
<br>
<input size=50 name="q1g">.
<p>
</ol>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>
2. Choose the best ending for each sentence: </b>
<p>
<ol>
<li> Expect refers to things in the future which  <br>
<select name="q2a">
<option value="x">Choose Answer 
<option value="1">will probably happen 
<option value="2">we personally would like to happen  
</select>
<p>
<li> Hope refers to things in the future which  <br>
<select name="q2b">
<option value="x">Choose Answer 
<option value="1">will probably happen 
<option value="2">we personally would like to happen 
</select>
</ol>
<p>

<center>
<button onclick="k2()">Check answers</button>
</center>
<p>
<b>3. Use the prompts below to write more sentences about the Kalahari hike. Type your sentences. </b>
<p>
<table cellpadding=3 cellspacing=2 width=500 bgcolor=#ffbc90>
<tr><td>
<ol>
<tr><td>1. Anne and Paula / expect / find / hike difficult  <br><input size=50 name="q3a">.</td></tr>  
<tr><td>2. Anne / hope / enjoy / hike                       <br><input size=50 name="q3b">.</td></tr> 
<tr><td>3. Paula / expect / have / enough water             <br><input size=50 name="q3c">.</td></tr>
<tr><td>4. Anne / hope / raise / money / help / a charity   <br><input size=50 name="q3d">.</td></tr>
<tr><td>5. Anne /Paula / expect / miss their families       <br><input size=50 name="q3e">.</td></tr>
<tr><td>6. Paula / hope / receive / a letter / her family   <br><input size=50 name="q3f">.</td></tr>
</table>
<p>


<center>
<button onclick="k3()">Check answers</button>
</center>


</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
