<script language="javascript">
function k1(){
z1.style.visibility="visible"
}
function k2(){
if(q2a.checked&q2b.checked==false&q2c.checked==false){s2a="2.-Correct<br>"}else{s2a="2.-Incorrect<br>"}
z2.innerHTML=s2a
}
<div id="t0">
<img src="u4.jpg">
<p>
<b>Are you a technophobe?</b>
<p>
</div>

<div id="t1">
<b>1. Are you a technophobe? Do you like new technology or do you prefer to do things the way your parents did them? Choose the best answer to the questions below and find out. </b>
<p>
<ol>
<li> You're writing a letter on your computer. Suddenly the letter disappears from the computer screen.
<br>Do you... 
<br><input type="checkbox" name="q1a">a try to discover what the problem is? 
<br><input type="checkbox" name="q1b">b telephone the shop where you bought the computer? 
<br><input type="checkbox" name="q1c">c go and finish writing the letter on your typewriter? 
<p>
<li> Your best friend is telling you about his incredible new DVD player. 
<br>Do you... 
<br><input type="checkbox" name="q1d">a ask him for the name of the store so you can also buy one?
<br><input type="checkbox" name="q1e">b tell him that you prefer the CD player you bought ten years ago?
<br><input type="checkbox" name="q1f">c ask what a DVD player is?
<p>
<li> In class one day, you hear someone's cell phone ringing. 
<br>Do you... 
<br><input type="checkbox" name="q1g">a decide that you would like to buy one, too?
<br><input type="checkbox" name="q1h">b ask the person to turn it off, because you can't hear the teacher?
<br><input type="checkbox" name="q1i">c ask the person where he puts in the money?
<p>
<li> It's Christmas. Which of these presents would you prefer? 
<br><input type="checkbox" name="q1j">a The new scanner that you read about in your computer magazine. 
<br><input type="checkbox" name="q1k">b A video cassette to record your favorite Christmas television shows. 
<br><input type="checkbox" name="q1l">c A book&#151;the Christmas holidays are the perfect time to do some reading. 
<p>
<li> A friend explains that she does a lot of shopping on the Internet. 
<br>You reply... 
<br><input type="checkbox" name="q1m">a Can I come to your house and do my shopping also? 
<br><input type="checkbox" name="q1n">b Great, but I prefer going to the mall and talking to people. 
<br><input type="checkbox" name="q1o">c What's the Internet? 
<p>
<li> Someone gives you an electric toothbrush for your birthday. 
<br>How do you react? 
<br><input type="checkbox" name="q1p">a You're very pleased&#151;you've recently read that electric toothbrushes are faster and 20% more efficient than ordinary toothbrushes. 
<br><input type="checkbox" name="q1q">b You decide that it might be useful when you go on vacation. 
<br><input type="checkbox" name="q1r"> c You give it to your grandad for Christmas. 
</ol>
<p> 
<center>
Finished?   <button onclick="k1()">Click here </button>  to see if you're keeping up with technology.
</center>   
<p>
<b>2. Read the description below. What object is being described? </b>
<p>
They're very popular these days. This is because they're much smaller than the normal ones, so you can carry them around with you. You often see people using them on buses, trains and in other public places. But the noise they make can be a problem. When they ring, they often play tunes or parts of songs and this can be annoying in a restaurant or if you're trying to sleep on a plane. But the advantage is that you can make a call whenever you like and in an emergency this could be very important and useful.
<p>
<center>
<input type="checkbox" name="q2a">  a cell phone   <input type="checkbox" name="q2b"> a laptop computer   <input type="checkbox" name="q2c"> a Walkman 
<p>
<button onclick="k2()">Check Answers </button> 
</center>   
</div>

<div id="z1">
<b>Mostly "a".</b>
<br>
You really like new technology. You like to know about technological innovations. You often buy new products and you think they make your life better. Perhaps sometimes you should stop and think before you buy?
<p>
<b>Mostly "b".</b>
<br>
You've got a good attitude towards new technology. You feel that it can be useful. You sometimes think about buying new equipment but only if you're sure that you really need it.
<p>
<b>Mostly "c".</b>
<br>
You're a technophobe. You don't know much about new technology at all. You don't spend much money on new products and inventions. Maybe you should try to find out a bit more about technology&#151;there might be products that could make your life easier?

</div>

<div id="z2">
</div>
