<div id="t0">
<img src="u4.jpg">
<p>
<b><i>See someone doing / see someone do</i></b>
<p>
</div>

<div id="t1">
<b>1. <i>see something do</i> vs <i>see something doing</i></b>
<p>
<span id="m1"><li>I saw the animal <b>climb</b> a tree.
<li>I saw the animal <b>climbing</b> a tree.</span>
<p>
In the first sentence I saw the complete action from start to finish.
<p>
In the second sentence I saw the action in progress, but not necessarily all of it.
<p>
<b>Match the sentences with the pictures. </b>
<p>
<center>
<table cellpadding=2 cellspacing=0 width=650>
<tr><td><img src="u4b1.jpg"></td>
<td>
1. <input size=1 maxlength=1 name="q1a"> He saw someone climbing a ladder.<br>
2. <input size=1 maxlength=1 name="q1b"> He watched the man make an omelette <br>
3. <input size=1 maxlength=1 name="q1c"> He noticed the woman writing a letter<br>
4. <input size=1 maxlength=1 name="q1d"> He watched the man making the omelette<br>
5. <input size=1 maxlength=1 name="q1e"> He observed someone climb a ladder <br>
6. <input size=1 maxlength=1 name="q1f"> He saw the woman write a letter 
</td></tr>
</table>
<p>
<center>
<button onclick="k1()">Check Answers </button> 
</center>   
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
