<script language="javascript">

function k1(){
z1.innerHTML=s2a+s2b+s2c+s2d
}
function k2(){
if(q2a.value=="b"|q2a.value=="B"){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2b.value=="c"|q2b.value=="C"){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2c.value=="a"|q2c.value=="A"){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2d.value=="d"|q2d.value=="D"){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
z2.innerHTML=s2a+s2b+s2c+s2d
}
function k3(){
if(q3a.value=="1"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3b.value=="1"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3c.value=="2"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3d.value=="2"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3e.value=="1"){s3e="3. Correct<br>"}else{s3e="3. Incorrect<br>"}
if(q3f.value=="2"){s3f="4. Correct<br>"}else{s3f="4. Incorrect<br>"}
z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f
}
function k4(){
if(q4a.value=="3"){s4a="1. Correct<br>"}else{s4a="1. Incorrect<br>"}
if(q4b.value=="2"){s4b="2. Correct<br>"}else{s4b="2. Incorrect<br>"}
if(q4c.value=="1"){s4c="3. Correct<br>"}else{s4c="3. Incorrect<br>"}
z4.innerHTML=s4a+s4b+s4c
}
function k5(){
if(q5a.value=="c"|q5a.value=="C"){s5a="1. Correct<br>"}else{s5a="1. Incorrect<br>"}
if(q5b.value=="a"|q5a.value=="A"){s5b="2. Correct<br>"}else{s5b="2. Incorrect<br>"}
if(q5c.value=="b"|q5a.value=="B"){s5c="3. Correct<br>"}else{s5c="3. Incorrect<br>"}
z5.innerHTML=s5a+s5b+s5c
}
function k6(){
z6.innerHTML=s6a
}
function k7(){
z7.innerHTML=s7a
}
<div id="t0">
<img src="u4.jpg">
<p>
<b> Australian Aborigine art </b>
<p>
</div>

<div id="t1">
<b>1. Read this brief explanation of Australian Aborigine art. </b>
<p>
Art is at the heart of Aborigine life and is basically religious in character. Central to the religious life of Aborigine are Dreamings.
 Dreamings record the amazing, supernatural activities of the ancestors of the Aborigine people. 
<p>
These ancestors lived in a period that lasted from the birth of the universe to a time way back in the past, beyond living memory.
 During this period&#151;sometimes called the Dreamtime&#151;such supernatural beings as the Color Snakes, for example, and the Lightning Men,
 and the Wagilag Sisters traveled across the world, creating everything in it and laying down the laws for social and religious behavior.
<p>
The continent of Australia is crisscrossed by an intricate network of these Dreamings. 
Some relate to a particular place or region; other Dreamings travel over vast distances and connect the people whose land they cover. 
The events of the Dreamings provide the great themes of Aborigine art.
 <p>
<b>2. Match the words from the text with the definitions.</b>
<p>
<table cellpadding=3 cellspacing=3>
<tr><td>a) the Dreamtime</td><td>1. <input size=1 maxlength=1 name="q2a">a record of the supernatural activities of the ancestors of Aborigine people</td></tr>
<tr><td>b) a dreaming</td><td>2. <input size=1 maxlength=1 name="q2b">supernatural beigns in Aborigine Dreamings</td></tr>
<tr><td>c) Color Snakes, Lightning men and the Wagilag sisters</td><td>3. <input size=1 maxlength=1 name="q2c">a period of time starting from the birth of the universe</td></tr>
<tr><td>d) ancestors</td><td>4. <input size=1 maxlength=1 name="q2d">family members from the past</td></tr>
</table>
<p>
<center>
<button onclick="k2()">Check Answers </button> 
</center> 
<p>
<b>3. According to the text, are these sentences true or false?</b>
<p>
<ol>
<li>  Art in Aborigine culture is usually religious.    
<br>
<select name="q3a">   
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>   
<li>  Dreamings are stories.    
<br>
<select name="q3b">   
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>      
  
<li>  The Aborigine wrote the Dreamings.    
<br>
<select name="q3c">   
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>     
  
<li>  Aborigine religious life is based on one god.    
<br>
<select name="q3d">   
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>     
 
<li>  In Aborigine religious belief, supernatural beings created the world and the laws that govern it.    
<br>
<select name="q3e">   
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>     
  
<li>  The supernatural beings could fly.    
<br>
<select name="q3f">   
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>     
</ol>
<p>
<center>
<button onclick="k3()">Check Answers </button> 
</center> 
<p>
<b>4. Look at the three paintings: what "events" do you think they might represent?</b>
<p>
<center>
<img src="u4d1.jpg">
</center>
<p>

<li>Can you find a journey?
<br>
<select name="q4a">   
<option value="x">Choose Answer
<option value="1">Picture A
<option value="2">Picture B 
<option value="3">Picture C 
</select>
<p>      
<li>What might represent supernatural beings?
<br>
<select name="q4b">   
<option value="x">Choose Answer
<option value="1">Picture A
<option value="2">Picture B 
<option value="3">Picture C 
</select>
<p>      

<li>Which one could represent water?
<br>
<select name="q4c">   
<option value="x">Choose Answer
<option value="1">Picture A
<option value="2">Picture B 
<option value="3">Picture C 
</select>
<p>      
<center>
<button onclick="k4()">Check Answers </button> 
</center> 
<p>
<center>
<img src="u4d2.jpg">
</center>
<p>
<b>5. Now match these descriptions to the paintings.</b>
<p>
<center>
<table cellpadding=5 cellpadding=5 width=450>
<tr><td>
1. <input size=1 maxlength=1 name="q5a"> There are eight black dots in this painting. Some of the dots are joined by lines. Also there are things that look like arrows
<p>
2. <input size=1 maxlength=1 name="q5b"> There are six groups of circles in this painting. The circles are arranged in two rows.
<p>
3. <input size=1 maxlength=1 name="q5c"> There are lots of circles in this painting and some lines Two of the lines are straight and one isn't.
</td><td>
<img src="u4d3.jpg">
</td></tr>
</table>
<p>
<button onclick="k5()">Check Answers </button> 
</center> 


</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
