<script language="javascript">

function k1(){
if(q1a.value=="Absolutely sure"|q1a.value=="absolutely sure"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="Without a doubt"|q1b.value=="without a doubt"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="I wouldn't bet on it"|q1c.value=="i wouldn't bet on it"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="There is no question about it"|q1d.value=="there is no question about it"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="There's no denying it"|q1e.value=="there's no denying it"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="No doubt"|q1f.value=="no doubt"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value=="Undoubtedly"|q1g.value=="undoubtedly"){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value=="Not so sure"|q1h.value=="not so sure"){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h
}

function k2(){
if(q3a.value=="absolutely"|q3a.value=="Absolutely"&q3b.value=="sure"|q3b.value=="Sure"){s3a="1. Correct<br>"}else{s3a="1. Incorrect<br>"}
if(q3c.value=="is"|q3c.value=="Is"&q3d.value=="no"|q3d.value=="No"&q3e.value=="denying"|q3e.value=="Denying"&q3f.value=="it"|q3f.value=="It"){s3b="2. Correct<br>"}else{s3b="2. Incorrect<br>"}
if(q3g.value=="is"|q3g.value=="Is"&q3h.value=="no"|q3h.value=="No"&q3i.value=="question"|q3i.value=="Question"&q3j.value=="about"|q3j.value=="About"&q3k.value=="it"|q3k.value=="It"){s3c="3. Correct<br>"}else{s3c="3. Incorrect<br>"}
if(q3l.value=="not"|q3l.value=="Not"&q3m.value=="so"|q3m.value=="So"&q3n.value=="sure"|q3n.value=="Sure"){s3d="4. Correct<br>"}else{s3d="4. Incorrect<br>"}
if(q3o.value=="wouldn't"|q3o.value=="Wouldn't"&q3p.value=="bet"|q3p.value=="Bet"&q3q.value=="on"|q3q.value=="On"&q3r.value=="it"|q3r.value=="It"){s3e="5. Correct<br>"}else{s3e="5. Incorrect<br>"}
if(q3s.value=="Undoubtedly"|q3s.value=="undoubtedly"){s3f="6. Correct<br>"}else{s3f="6. Incorrect<br>"}
if(q3t.value=="not"|q3t.value=="Not"&q3v.value=="so"|q3v.value=="Sure"&q3w.value=="sure"|q3w.value=="Sure"){s3g="7. Correct<br>"}else{s3g="7. Incorrect<br>"}
z2.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g
}


<div id="t0">
<img src="u6.jpg">
<p>
<b>Expressing certainty & doubt  </b>
<br>
</div>
<p>
<div id="t1">
<b>1. Put the expressions into the correct place in the dialog.</b>
<p>
<ol>
<li>A: Did I tell you that I dreamed of the number 7?  
<li>B: So?
<li>A: It's a sign. <sub>1</sub><input size=25 name="q1a">  
<li>B: A sign of what?
<li>A: We're going to win the lottery, <sub>2</sub><input size=25 name="q1b">
<li>B: <sub>3</sub><input size=25 name="q1c">. We don't have a ticket. 
<li>A: I'll buy one. 77777. We'll win. You'll see. <sub>4</sub><input size=25 name="q1d">.  
<li>B: You belive that dreams really mean something?
<li>A: <sub>5</sub><input size=25 name="q1e">. Once I dreamed it was going to rain. And it did.  
<li>B: <sub>6</sub><input size=25 name="q1f">. But winning the lottery...?
<li>A: It's a sign. <sub>7</sub><input size=25 name="q1g">.  
<li>B: Well, <sub>8</sub><input size=25 name="q1h">...
</ol>
<p>
<center>
<table cellpadding=3 cellspacing=3 width=600 bgcolor=#ffbc90>
<tr><td>Without a doubt</td><td> I'm not so sure</td></tr>
<tr><td>I'm absolutely sure</td><td>There's no denying it</td></tr>
<tr><td>No doubt</td><td>I wouldn't bet on it</td></tr>
<tr><td>Undoubtedly</td><td>There is no question about it</td></tr>
</table>
</center>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center> 
<p> 

<b>2. Complete the dialog using expressions of doubt or certainty.</b>
<p>
<table cellpadding=3 cellspacing=1 width=600 bgcolor=ffbc90>
<tr><td>
<b>A:</b> Did I tell you I saw a UFO last night.
<br>
<b>B:</b> You what?
<br>
<b>A:</b> I saw a UFO. I'm <input size=5 name="q3a"> <input size=2 name="q3b">   .
<br>
<b>B:</b> Where?
<br>
<b>A:</b> I was taking out the trash, and there was this UFO in the sky. I saw it. There <input size=2 name="q3c"> <input size=2 name="q3d"> <input size=5 name="q3e"> <input size=2 name="q3f">     .
<br>
<b>B:</b> You don't seriously believe in UFOs, do you?
<br>
<b>A:</b> Of course I do. I've seen one. There <input size=2 name="q3g"> <input size=2 name="q3h"> <input size=5 name="q3i"> <input size=5 name="q3j"> <input size=3 name="q3k">      . You don't think so?
<br>
<b>B:</b> I'm <input size=5 name="q3l"> <input size=3 name="q3m"> <input size=5 name="q3n">    .
<br>
<b>A:</b> Even as we speak little green men are probably listening to our every word.
<br>
<b>B:</b> I <input size=5 name="q3o"> <input size=2 name="q3p"> <input size=2 name="q3q"> <input size=2 name="q3r">     .Why hasn't the CIA told us?
<br>
<b>A:</b> It's a government conspiracy.<input size=5 name="q3s">  .
<br>
<b>B:</b> Well, I'm <input size=3 name="q3t"> <input size=3 name="q3v"> <input size=3 name="q3w">  .
<br>
</td></tr></table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center> 
<p>

</div>

<div id="z1">
</div>

<div id="z2">
</div>


 
