<script>
	v = {

		q1a:'f',
		q1b:'h',
		q1c:'a',
		q1d:'d',
		q1e:'j',
		q1f:'g',
		q1g:'b',
		q1h:'i',
		q1i:'c',
		q1j:'e',
		q2a:"",
		q2b:"",
		q2c:"",
		q2d:"",

if(q3a.checked){s3a="1.-Correct<br>"}
if(q3b.checked){s3a="1.-Incorrect<br>"}
if(q3d.checked){s3b="2.-Correct<br>"}
if(q3c.checked){s3b="2.-Incorrect<br>"}
if(q3f.checked){s3c="3.-Correct<br>"}
if(q3e.checked){s3c="3.-Incorrect<br>"}
if(q3h.checked){s3d="4.-Correct<br>"}
if(q3g.checked){s3d="4.-Incorrect<br>"}
if(q3j.checked){s3e="5.-Correct<br>"}
if(q3i.checked){s3e="5.-Incorrect<br>"}
if(q3k.checked){s3f="6.-Correct<br>"}
if(q3l.checked){s3f="6.-Incorrect<br>"}
if(q3n.checked){s3g="7.-Correct<br>"}
if(q3m.checked){s3g="7.-Incorrect<br>"}
if(q3p.checked){s3h="8.-Correct<br>"}
if(q3o.checked){s3h="8.-Incorrect<br>"}

if(q4b.checked){s4a="1.-Correct<br>"}
if(q4a.checked){s4a="1.-Incorrect<br>"}
if(q4c.checked){s4b="2.-Correct<br>"}
if(q4d.checked){s4b="2.-Incorrect<br>"}
if(q4f.checked){s4c="3.-Correct<br>"}
if(q4e.checked){s4c="3.-Incorrect<br>"}
if(q4g.checked){s4d="4.-Correct<br>"}
if(q4h.checked){s4d="4.-Incorrect<br>"}

	}

</script>

<div id="t0">
<img src="img/u6.jpg" class="logo4">
<p>
<b class="u4tit">Personality adjectives  </b>
<br>
</div>
<p>
<div id="t1">
<b>1. Match the two halves of these sentences.</b>
<p>
<center>
<table cellpadding=2 cellspacing=2>
<tr><td>a) People who are lacking in confidence...</td><td>1. <input size=1 maxlength=1 name="q1a">...gets her own way.</td></tr>
<tr><td>b) Outgoing people...</td><td>2. <input size=1 maxlength=1 name="q1b">...eats by herself.</td></tr>
<tr><td>c) You will have to be more assertive if you...</td><td>3. <input size=1 maxlength=1 name="q1c">...don't make good sales reps.</td></tr>
<tr><td>d) After his wife died he...</td><td>4. <input size=1 maxlength=1 name="q1d">...became withdrawn and never went out.</td></tr>
<tr><td>e) As a child he was very shy and never...</td><td>5. <input size=1 maxlength=1 name="q1e">...is wildly extrovert.</td></tr>
<tr><td>f) She has a forceful personality and always...</td><td>6. <input size=1 maxlength=1 name="q1f">...mix with the guests.</td></tr>
<tr><td>g) Don't be unsociable&#151;go and...</td><td>7. <input size=1 maxlength=1 name="q1g">...are often good language learners.</td></tr>
<tr><td>h) She is so timid she always...</td><td>8. <input size=1 maxlength=1 name="q1h">...isn't interesting to talk to.</td></tr>
<tr><td>i) Because he is introverted doesn't mean he...</td><td>9. <input size=1 maxlength=1 name="q1i">...want to get ahead.</td></tr>
<tr><td>j) I am fairly reserved but my girlfriend...</td><td>10. <input size=1 maxlength=1 name="q1j">...played with other children.</td></tr>
</table>
<p>

<center>
<button class="eval"onclick="k1()">Check answers</button>
</center> 

</div>

<div id="z1">
</div>
