<script>
	v = {

		q1a:'1',
		q2a:'2',
		q2b:'2',
		q3a:'0',
		q3c:'1',
		q3e:'1',
		q3g:'0',
		q3i:'1',
		q4a:'0',
		q4c:'0',
		q4e:'1',
		q4g:'1',
		q4i:'0',
		q5a:'1',
		q5c:'0',
		q5e:'1',
		q5g:'1',
		q5i:'0'



	}
</script>

<div id="t0">
<img src="img/u7.jpg" class="logo4">
<p>
<b class="u4tit">Being green </b>
<br>
</div>
<p>
<div id="t1">
<b>1. Listen to these two people talking about the quiz at the beginning of this unit. <a href="snd/7c-1.ra"><img src="img/listen.jpg" border=0></a></b>
<p>
<b>Which speaker do you think is the most eco-friendly?</b>
<p>
<!--center-->
<li><input type="checkbox" name="q1a">  the woman
<p> 
<li><input type="checkbox" name="q1b">  the man 
</center>
<p>
<center>
<button class="eval"onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Listen again. <a href="snd/7c-1.ra"><img src="img/listen.jpg" border=0></a></b>
<p>
<ol>
<li>What bothers the man?  

<br><input type="checkbox" name="q2a">  People throwing rubbish in the street 

<br><input type="checkbox" name="q2b">  Seeing the recycling bins on the street. 
  
<br><input type="checkbox" name="q2c">Cars parked on the street.
<p> 
<li>What bothers the woman?  

<br><input type="checkbox" name="q2d">  Having lots of rubbish in her kitchen.  

<br><input type="checkbox" name="q2e">  People who don't put rubbish in the containers. 

<br><input type="checkbox" name="q2f">  When the rubbish isn't collected from the containers. 
<p>
</ol>
<center>
<button class="eval"onclick="k2()">Check answers</button>
</center>
<p>

<b>3. Listen again. Which speaker says these phrases? <a href="snd/7c-1.ra"><img src="img/listen.jpg" border=0></a></b>
<p>

<table cellpadding=2 cellspacing=2 width=500>

<tr><td>1 ... we've got a system going and
everybody takes their turn ...  
</td><td><input type="checkbox" name="q3a">man  </td><td><input type="checkbox" name="q3b">woman 
</td></tr>

<tr><td>2 I just find it a little inconvenient.  </td><td><input type="checkbox" name="q3c">man  
</td><td><input type="checkbox" name="q3d">woman 
</td></tr>

<tr><td>3 I think they're quite ugly, ...  
</td><td><input type="checkbox" name="q3e">man  
</td><td><input type="checkbox" name="q3f">woman 
</td></tr>

<tr><td>4 I'd never thought about that. 
</td><td><input type="checkbox" name="q3g">man  
</td><td><input type="checkbox" name="q3h">woman 
</td></tr>

<tr><td>5 Then it's worse.  
</td><td><input type="checkbox" name="q3i">man  </td><td><input type="checkbox" name="q3j">woman
</td></tr> 
</table>
<p>
<center>
<button class="eval"onclick="k3()">Check answers</button>
</center>
<p>
<b>4. Listen again. Which speaker says these phrases? <a href="snd/7c-1.ra"><img src="img/listen.jpg" border=0></a></b>
<p>
<table cellpadding=2 cellspacing=2 width=380>
<tr><td>1 Don't you </td><td> 
</td><td><input type="checkbox" name="q4a">man  
</td><td><input type="checkbox" name="q4b">woman
</td></tr>

<tr><td>2 Not at all </td><td> 
</td><td><input type="checkbox" name="q4c">man  
</td><td><input type="checkbox" name="q4d">woman
</td></tr>
 
<tr><td>3 I guess </td><td> 
</td><td><input type="checkbox" name="q4e">man  
</td><td><input type="checkbox" name="q4f">woman 
</td></tr>

<tr><td>4 Exactly </td><td> 
</td><td><input type="checkbox" name="q4g">man  
</td><td><input type="checkbox" name="q4h">woman
</td></tr>
 
<tr><td>5 I suppose </td><td> 
</td><td><input type="checkbox" name="q4i">man  
</td><td><input type="checkbox" name="q4j">woman 
</td></tr></table>
<p>
<center>
<button class="eval"onclick="k4()">Check answers</button>
</center>
<p>  

<b>5. Listen again. Which speaker says these words? <a href="snd/7c-1.ra"><img src="img/listen.jpg" border=0></a></b>
<p>
<table cellpadding=2 cellspacing=2 width=380>
<tr><td>1 rubbish</td><td>  
</td><td><input type="checkbox" name="q5a">man  
</td><td><input type="checkbox" name="q5b">woman 
</td></tr>

<tr><td>2 separate </td><td>
</td><td><input type="checkbox" name="q5c">man  
</td><td><input type="checkbox" name="q5d">woman 
</td></tr>

<tr><td>3 bit  </td><td>
</td><td><input type="checkbox" name="q5e">man  
</td><td><input type="checkbox" name="q5f">woman
</td></tr>
 
<tr><td>4 bothers  </td><td>
</td><td><input type="checkbox" name="q5g">man  
</td><td><input type="checkbox" name="q5h">woman
</td></tr>
 
<tr><td>5 hate  </td><td>
</td><td><input type="checkbox" name="q5i">man  
</td><td><input type="checkbox" name="q5j">woman 
</td></tr>
</td></tr></table>
<p>
<center>
<button class="eval"onclick="k5()">Check answers</button>
</center>  
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>

<div id="z5">
</div>
 
