<script language="javascript">

function k1(){

if(q1a.checked&q1b.checked==false){s1a="1.-Correct<br>"}else{s1a="1.-Incorrect<br>"}

z1.innerHTML=s1a
}
function k2(){
if(q2a.checked==false&q2b.checked&q2c.checked==false){s2a="1.-Correct<br>"}else{s2a="1.-Incorrect<br>"}
if(q2d.checked==false&q2e.checked==false&q2f.checked){s2b="2.-Correct<br>"}else{s2b="2.-Incorrect<br>"}
z2.innerHTML=s2a+s2b
}

function k3(){


if(q3a.checked==false&q3b.checked){s3a="1.-Correct<br>"}else{s3a="1.-Incorrect<br>"}
if(q3c.checked&q3d.checked==false){s3b="2.-Correct<br>"}else{s3b="2.-Incorrect<br>"}
if(q3e.checked&q3f.checked==false){s3c="3.-Correct<br>"}else{s3c="3.-Incorrect<br>"}
if(q3g.checked==false&q3h.checked){s3d="4.-Correct<br>"}else{s3d="4.-Incorrect<br>"}
if(q3i.checked&q3j.checked==false){s3e="5.-Correct<br>"}else{s3e="5.-Incorrect<br>"}




z3.innerHTML=s3a+s3b+s3c+s3d+s3e
}

function k4(){
if(q4a.checked==false&q4b.checked){s4a="1.-Correct<br>"}else{s4a="1.-Incorrect<br>"}
if(q4c.checked==false&q4d.checked){s4b="2.-Correct<br>"}else{s4b="2.-Incorrect<br>"}
if(q4e.checked&q4f.checked==false){s4c="3.-Correct<br>"}else{s4c="3.-Incorrect<br>"}
if(q4g.checked&q4h.checked==false){s4d="4.-Correct<br>"}else{s4d="4.-Incorrect<br>"}
if(q4i.checked==false&q4j.checked){s4e="5.-Correct<br>"}else{s4e="5.-Incorrect<br>"}

z4.innerHTML=s4a+s4b+s4c+s4d+s4e
}

function k5(){

if(q5a.checked&q5b.checked==false){s5a="1.-Correct<br>"}else{s5a="1.-Incorrect<br>"}
if(q5c.checked==false&q5d.checked){s5b="2.-Correct<br>"}else{s5b="2.-Incorrect<br>"}
if(q5e.checked&q5f.checked==false){s5c="3.-Correct<br>"}else{s5c="3.-Incorrect<br>"}
if(q5g.checked&q5h.checked==false){s5d="4.-Correct<br>"}else{s5d="4.-Incorrect<br>"}
if(q5i.checked==false&q5j.checked){s5e="5.-Correct<br>"}else{s5e="5.-Incorrect<br>"}


z5.innerHTML=s5a+s5b+s5c+s5d+s5e
}

<div id="t0">
<img src="u7.jpg">
<p>
<b>Being green </b>
<br>
</div>
<p>
<div id="t1">
<b>1. Listen to these two people talking about the quiz at the beginning of this unit. <a href="snd/7c-1.ra"><img src="listen.jpg" border=0></a></b>
<p>
<b>Which speaker do you think is the most eco-friendly?</b>
<p>
<center>
<li><input type="checkbox" name="q1a">  the woman
<p> 
<li><input type="checkbox" name="q1b">  the man 
</center>
<p>
<center>
<button onclick="k1()">Check answers</button>
</center>
<p>
<b>2. Listen again. <a href="snd/7c-1.ra"><img src="listen.jpg" border=0></a></b>
<p>
<ol>
<li>What bothers the man?  

<br><input type="checkbox" name="q2a">  People throwing rubbish in the street 

<br><input type="checkbox" name="q2b">  Seeing the recycling bins on the street. 
  
<br><input type="checkbox" name="q2c">Cars parked on the street.
<p> 
<li>What bothers the woman?  

<br><input type="checkbox" name="q2d">  Having lots of rubbish in her kitchen.  

<br><input type="checkbox" name="q2e">  People who don't put rubbish in the containers. 

<br><input type="checkbox" name="q2f">  When the rubbish isn't collected from the containers. 
<p>
</ol>
<center>
<button onclick="k2()">Check answers</button>
</center>
<p>

<b>3. Listen again. Which speaker says these phrases? <a href="snd/7c-1.ra"><img src="listen.jpg" border=0></a></b>
<p>

<table cellpadding=2 cellspacing=2 width=500>

<tr><td>1 ... we've got a system going and
everybody takes their turn ...  
</td><td><input type="checkbox" name="q3a">man  </td><td><input type="checkbox" name="q3b">woman 
</td></tr>

<tr><td>2 I just find it a little inconvenient.  </td><td><input type="checkbox" name="q3c">man  
</td><td><input type="checkbox" name="q3d">woman 
</td></tr>

<tr><td>3 I think they're quite ugly, ...  
</td><td><input type="checkbox" name="q3e">man  
</td><td><input type="checkbox" name="q3f">woman 
</td></tr>

<tr><td>4 I'd never thought about that. 
</td><td><input type="checkbox" name="q3g">man  
</td><td><input type="checkbox" name="q3h">woman 
</td></tr>

<tr><td>5 Then it's worse.  
</td><td><input type="checkbox" name="q3i">man  </td><td><input type="checkbox" name="q3j">woman
</td></tr> 
</table>
<p>
<center>
<button onclick="k3()">Check answers</button>
</center>
<p>
<b>4. Listen again. Which speaker says these phrases? <a href="snd/7c-1.ra"><img src="listen.jpg" border=0></a></b>
<p>
<table cellpadding=2 cellspacing=2 width=380>
<tr><td>1 Don't you </td><td> 
</td><td><input type="checkbox" name="q4a">man  
</td><td><input type="checkbox" name="q4b">woman
</td></tr>

<tr><td>2 Not at all </td><td> 
</td><td><input type="checkbox" name="q4c">man  
</td><td><input type="checkbox" name="q4d">woman
</td></tr>
 
<tr><td>3 I guess </td><td> 
</td><td><input type="checkbox" name="q4e">man  
</td><td><input type="checkbox" name="q4f">woman 
</td></tr>

<tr><td>4 Exactly </td><td> 
</td><td><input type="checkbox" name="q4g">man  
</td><td><input type="checkbox" name="q4h">woman
</td></tr>
 
<tr><td>5 I suppose </td><td> 
</td><td><input type="checkbox" name="q4i">man  
</td><td><input type="checkbox" name="q4j">woman 
</td></tr></table>
<p>
<center>
<button onclick="k4()">Check answers</button>
</center>
<p>  

<b>5. Listen again. Which speaker says these words? <a href="snd/7c-1.ra"><img src="listen.jpg" border=0></a></b>
<p>
<table cellpadding=2 cellspacing=2 width=380>
<tr><td>1 rubbish</td><td>  
</td><td><input type="checkbox" name="q5a">man  
</td><td><input type="checkbox" name="q5b">woman 
</td></tr>

<tr><td>2 separate </td><td>
</td><td><input type="checkbox" name="q5c">man  
</td><td><input type="checkbox" name="q5d">woman 
</td></tr>

<tr><td>3 bit  </td><td>
</td><td><input type="checkbox" name="q5e">man  
</td><td><input type="checkbox" name="q5f">woman
</td></tr>
 
<tr><td>4 bothers  </td><td>
</td><td><input type="checkbox" name="q5g">man  
</td><td><input type="checkbox" name="q5h">woman
</td></tr>
 
<tr><td>5 hate  </td><td>
</td><td><input type="checkbox" name="q5i">man  
</td><td><input type="checkbox" name="q5j">woman 
</td></tr>
</td></tr></table>
<p>
<center>
<button onclick="k5()">Check answers</button>
</center>  
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>

<div id="z5">
</div>
 
