<script language="javascript">

function k1(){
if(q1a.value=="d"|q1a.value=="D"){s1a="1. Correct<br>"}else{s1a="1. Incorrect<br>"}
if(q1b.value=="c"|q1b.value=="C"){s1b="2. Correct<br>"}else{s1b="2. Incorrect<br>"}
if(q1c.value=="e"|q1c.value=="E"){s1c="3. Correct<br>"}else{s1c="3. Incorrect<br>"}
if(q1d.value=="a"|q1d.value=="A"){s1d="4. Correct<br>"}else{s1d="4. Incorrect<br>"}
if(q1e.value=="f"|q1e.value=="F"){s1e="5. Correct<br>"}else{s1e="5. Incorrect<br>"}
if(q1f.value=="h"|q1f.value=="H"){s1f="6. Correct<br>"}else{s1f="6. Incorrect<br>"}
if(q1g.value=="b"|q1g.value=="B"){s1g="7. Correct<br>"}else{s1g="7. Incorrect<br>"}
if(q1h.value=="g"|q1h.value=="G"){s1h="8. Correct<br>"}else{s1h="8. Incorrect<br>"}

z1.innerHTML=s1a+s1b+s1c+s1d+s1e+s1f+s1g+s1h
}
function k2(){
if(q2a.value=="graduated"|q2a.value=="Graduated"){s2a="1. Correct<br>"}else{s2a="1. Incorrect<br>"}
if(q2b.value=="applied"|q2b.value=="Applied"){s2b="2. Correct<br>"}else{s2b="2. Incorrect<br>"}
if(q2c.value=="application"|q2c.value=="Application"){s2c="3. Correct<br>"}else{s2c="3. Incorrect<br>"}
if(q2d.value=="provide"|q2d.value=="Provide"){s2d="4. Correct<br>"}else{s2d="4. Incorrect<br>"}
if(q2e.value=="present"|q2e.value=="Present"){s2e="5. Correct<br>"}else{s2e="5. Incorrect<br>"}
if(q2f.value=="interview"|q2f.value=="Interview"){s2f="6. Correct<br>"}else{s2f="6. Incorrect<br>"}
if(q2g.value=="appointed"|q2g.value=="Appointed"){s2g="7. Correct<br>"}else{s2g="7. Incorrect<br>"}
if(q2h.value=="resigned"|q2h.value=="Resigned"){s2h="8. Correct<br>"}else{s2h="8. Incorrect<br>"}

z2.innerHTML=s2a+s2b+s2c+s2d+s2e+s2f+s2g+s2h
}

function k3(){
s3a="<br>"
s3b="<br>"
s3c="<br>"
s3d="<br>"
s3e="<br>"
s3f="<br>"
s3g="<br>"
s3h="<br>"

if(q3a.checked){s3a="1.-Correct<br>"}
if(q3b.checked){s3a="1.-Incorrect<br>"}

if(q3d.checked){s3b="2.-Correct<br>"}
if(q3c.checked){s3b="2.-Incorrect<br>"}

if(q3f.checked){s3c="3.-Correct<br>"}
if(q3e.checked){s3c="3.-Incorrect<br>"}

if(q3h.checked){s3d="4.-Correct<br>"}
if(q3g.checked){s3d="4.-Incorrect<br>"}

if(q3j.checked){s3e="5.-Correct<br>"}
if(q3i.checked){s3e="5.-Incorrect<br>"}

if(q3k.checked){s3f="6.-Correct<br>"}
if(q3l.checked){s3f="6.-Incorrect<br>"}

if(q3n.checked){s3g="7.-Correct<br>"}
if(q3m.checked){s3g="7.-Incorrect<br>"}

if(q3p.checked){s3h="8.-Correct<br>"}
if(q3o.checked){s3h="8.-Incorrect<br>"}


z3.innerHTML=s3a+s3b+s3c+s3d+s3e+s3f+s3g+s3h
}

function k4(){
s4a="<br>"
s4b="<br>"
s4c="<br>"
s4d="<br>"

if(q4b.checked){s4a="1.-Correct<br>"}
if(q4a.checked){s4a="1.-Incorrect<br>"}

if(q4c.checked){s4b="2.-Correct<br>"}
if(q4d.checked){s4b="2.-Incorrect<br>"}

if(q4f.checked){s4c="3.-Correct<br>"}
if(q4e.checked){s4c="3.-Incorrect<br>"}

if(q4g.checked){s4d="4.-Correct<br>"}
if(q4h.checked){s4d="4.-Incorrect<br>"}

z4.innerHTML=s4a+s4b+s4c+s4d
}
<div id="t0">
<img src="u9.jpg">
<p>
<b>Job application expressions  </b>
<br>
</div>
<p>
<div id="t1">
<b>1. Match the two parts of these expressions. </b>
<p>
<center>
<table cellspacing=3 width=600>
<tr><td>a) apply for</td><td>1. <input size=1 maxlength=1 name="q1a"> a new manager</td></tr>
<tr><td>b) attended</td><td>2. <input size=1 maxlength=1 name="q1b"> an examination</td></tr>
<tr><td>c) present</td><td>3. <input size=1 maxlength=1 name="q1c"> an application form</td></tr>
<tr><td>d) appoint</td><td>4. <input size=1 maxlength=1 name="q1d"> a position</td></tr>
<tr><td>e) fill out</td><td>5. <input size=1 maxlength=1 name="q1e"> my present position</td></tr>
<tr><td>f) resign from</td><td>6. <input size=1 maxlength=1 name="q1f"> from college</td></tr>
<tr><td>g) provide</td><td>7. <input size=1 maxlength=1 name="q1g"> an interview</td></tr>
<tr><td>h) graduate</td><td>8. <input size=1 maxlength=1 name="q1h"> references</td></tr>
</table>
</center>


<p> 
<center>
<button onclick="k1()">Check answers</button>
</center> 
<p>
<b>2. Complete by typing the correct word in the space. </b>
<p>
<table cellpadding=3 cellspacing=2 bgcolor=#ffbc90 width=600>
<tr><td>
Five years ago, after I <input size=5 name="q2a">(1) from college, I  <input size=5 name="q2b">(2) for a 
position in an advertising agency. I had to fill out an  <input size=5 name="q2c">(3) form 
and  <input size=5 name="q2d">(4) references. Also, because there were so many 
applicants, I had to  <input size=5 name="q2e">(5) an examination. Finally I was asked to 
attend an  <input size=5 name="q2f">(6). Amazingly, I got the job and after only a year 
they  <input size=5 name="q2g">(7) me assistant manager. But I didn't like the work 
conditions, so I  <input size=5 name="q2h">(8) from this job and now I'm looking for a new one.
<p>
</td></tr></table>
<p>
<center>
<button onclick="k2()">Check answers</button>
</center> 
<p>

</div>

<div id="z1">
</div>

<div id="z2">
</div>
